
.nstSlider {
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position: relative;
    width: 100%;
    height: 10px;
    background: #f4f5fa;
    margin-top: 10px;
}
.nstSlider .leftGrip.gripHighlighted {
    background: #113344;
}
.nstSlider .rightGrip.gripHighlighted {
    background: #113344;
}
.nstSlider .rightGrip,
.nstSlider .leftGrip {
    position: absolute;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 18px;
    height: 18px;
    background: #ffffff;
    border: 2px solid #fb236a;
    top: -5px;
}
.nstSlider .bar {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position: absolute;
    background: #fb236a;
    height: 8px;
    top: 0px;
}
.nstSlider .highlightPanel {
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    background: #e87722;
    height: 20px;
    top: 0;
}
.range_slider {
    float: left;
    width: 100%;
}
.range_slider .leftLabel, .range_slider .rightLabel {
    font-family: Open Sans;
    font-size: 13px;
    color: #888888;
    margin-top: 9px;
}
.range_slider .leftLabel {
    float: left;
}
.range_slider .rightLabel {
    float: right;
}

.service-info{
    display: block;
}
.apply-alternative a{
    text-align: center;
}
.apply-alternative a:last-child{
    margin-top: 10px;
}

.s-filter label{
    height: auto;
    font-size: 18px;
    padding-left: 40px !important;
}
.s-filter label:before,.s-filter label:after{
    width: 28px !important;
    height: 28px !important;
}
.s-filter p{
    margin-bottom: 20px;
}
.service-choice{
    float:left;width: 100%;margin-top: 20px;
    margin-bottom: 40px
}

.service-choice h5{
    font-size: 20px
}
.service-choice > div{
    padding-right:0;
}
@media (min-width: 768px){
    .service-choice > div:last-child >h5{
        text-align: right;
    }
}

@media (min-width: 768px){
    .apply-alternative a{
        width: calc(50% - 5px) !important;
    }
    .apply-alternative a:last-child{
        margin-top: 0;
        margin-left: 10px;
    }
    .s-filter p{
        width: 33%;
    }
}
.chosen-container-single .chosen-single span{
    font-size: 18px;
    color: #676767;
}
.chosen-container .chosen-results li{
    font-size: 16px;
    line-height: 18px;
    padding-top: 10px;
    padding-left: 10px;
}
tr.selected td{
    /*background: #dcdcdc !important;*/
}
.btn-style{
    background-color: white;
    color: initial;
}

.not-allow{
    pointer-events: none;
    opacity: 0.4;
}
#input_pack{
    border: 1px solid #DDD;
    border-radius: 5px;
    font-size: 20px;
}
/*#input_pack:focus{*/
/*    border-color: #fb236a;*/
/*}*/
.confirm-server{
    width: 100%;
    padding: 15px 10px;
    border-color: #DDD;
    border-radius: 3px;
    cursor: pointer;
}
.confirm-server option{
    padding: 5px 10px;
}
.confirm-server:hover{
    border-color: #fb236a;
}

.result-selected{
    color: #fb236a
}

.chosen-drop li{
    font-family: "Roboto Condensed", "sans-serif" !important;
    font-size: 16px !important;
}
