/*breadcrums*/
.breadcrum--list {
    display: flex;
    list-style: none;
    padding: 8px 0 8px 20px;
    margin: 0;
}

.slider--card {
    overflow: hidden;
}

.breadcrum--item {
    display: flex;
    padding: 8px 0;
    align-items: center;
}

.breadcrum--item:after {
    content: url(../image/icons/arrow-right.png);
    line-height: 1;
    height: 16px;
    padding: 0 8px 0 10px;
}

.breadcrum--item:last-child:after {
    display: none;
}

.breadcrum--item .breadcrum--link {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #82869E;
    transition: all ease .2s;
}

.breadcrum--item:hover .breadcrum--link {
    color: #434657;
    transition: all ease .2s;
}

#content-store-card {
    --primary-color: #32c5d2;
}

#content-store-card .card {
    padding: 16px 12px 24px;
    /*min-height: 4rem;*/
    min-height: 100%;
}

.card.--custom {
    --primary-color: #32c5d2;
    border-radius: 12px;
    border: none;

    min-height: 1rem;

}

#content-store-card .card.-select--deno {
}

.card .card--header {
    display: flex;
    position: relative;
    align-items: center;
}

.card .card--header .card--header__title h4 {
    margin: 0;
    color: #1B1D29;
    font-weight: 700;
    font-size: 24px;
}

.card .card--header .card--header__title {
    display: flex;
    align-items: center;
}

.card .card--header .card--header__tools {
    position: absolute;
    right: 0;
}

.global__link {
    display: flex;
    color: #1990FF;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    align-items: center;
    justify-content: center;
}

.global__link:hover {
    color: #1473CC;
}

.global__link:focus {
    color: #0F5699;
}

#content-store-card .card .card--header {
    border-bottom: 1px solid #DCDEE9;
}

#content-store-card .card--header .card--header__title {
    display: flex;
    margin-bottom: 8px;
}

.card--mobile__title {
    display: none;
}

#content-store-card .card--header__title h4 {

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
}

#content-store-card .card--header__title .title__icon {
    background: #E8FFF1;
    border-radius: 8px;
    display: flex;
    margin-right: 8px;
    height: 40px;
    width: 40px;
}

#content-store-card .card--header__title .card__back {
    display: none;
}

#content-store-card .section--description__card {
    display: none;
}

#content-store-card .title__icon img {
    margin: auto;
}

#content-store-card .tabs--cards {
    display: flex;
    margin: 16px 0;
    border-bottom: none;
}

#content-store-card .tab--title {

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 12px;
    color: #434657;
}

#content-store-card .cards__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

#content-store-card .cards__item {
    padding: 0 4px !important;
    margin-bottom: 8px;
}

#content-store-card .cards__item.card__item-tag {
    width: 20%;
}

#content-store-card .cards__item label {
    display: block;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #DCDEE9;
    border-radius: 8px;
    height: 72px;
    cursor: pointer;
    position: relative;
}

#content-store-card .cards__item input[type="radio"]:checked + label:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(246, 118, 0, 0.15);
}

#content-store-card .cards__item input[type="radio"]:checked + label {
    border: 1px solid var(--primary-color);
}


#content-store-card .cards__item .card--logo {
    max-width: 80%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Overwrite Bootstrap Nav*/
#content-store-card .nav-tabs .nav-link {
    border: none;
}

#content-store-card .nav-tabs .nav-item .nav-link {

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #82869E;
    border-bottom: 1px solid #DCDEE9;
    text-align: center;
}

#content-store-card .nav-tabs .nav-item .nav-link.active {
    font-weight: 700;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

/* Chọn mệnh giá */
#content-store-card .denos--title,
#content-store-card .card--amount .card--amount__title,
#content-store-card .discount .discount--title,
#content-store-card .price--total .price--total__title {

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #434657;
    padding-left: 4px;
}

#content-store-card .deno__list {
    list-style: none;
    padding: 0;
    margin: 8px 0 0 0;
}

#content-store-card .deno__list .deno__item {
    padding: 0 4px 8px;
}

#content-store-card .deno__item .deno__value {
    display: flex;
    background-color: #FBFBFD;
    padding: 16px 8px;
    border: 1px solid #DCDEE9;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#content-store-card .deno__item .deno__value span {
    margin: auto;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #434657;
}

#content-store-card .deno__item input[type="radio"]:checked + label {
    border: 1px solid var(--primary-color);
}

#content-store-card .deno__item input[type="radio"]:checked + label span {
    color: var(--primary-color);
}

#content-store-card .card--amount,
#content-store-card .discount,
#content-store-card .price--total {
    display: flex;
    margin-top: 16px;
    align-items: center;
    justify-content: space-between;
}

#content-store-card .card--amount__group {
    display: flex;
}

#content-store-card .card--amount__group .btn--amount {
    all: unset;
    width: calc(40px - 2px);
    display: flex;
    cursor: pointer;
}

#content-store-card .card--amount__group .btn--amount img {
    margin: auto;
}

#content-store-card .card--amount__group .btn--amount.-minus {
    border: 1px solid #DCDEE9;
    border-radius: 4px 0 0 4px;
}

#content-store-card .card--amount__group .btn--amount.-add {
    border: 1px solid #DCDEE9;
    border-radius: 0 4px 4px 0;
}

#content-store-card .card--amount__group .input--amount {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #434657;
    padding: 12px;
    width: 56px;
    height: 40px;
    background: #FBFBFD;
    border: 1px solid #DCDEE9;
    text-align: center;
    outline: none;
}

#content-store-card .discount .discount--value {

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: #434657;
}

#content-store-card .price--total .price--total__value {

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: var(--primary-color);
}

/*Mô tả thẻ*/
#content-store-card .card--desc__title {

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    padding: 0 4px 16px;
    line-height: 1.5;
    color: #1B1D29;
}

#content-store-card .card--desc__content {
    position: relative;
    padding: 12px 4px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #434657;
    max-height: 280px;
    overflow: hidden;
}

#content-store-card .card--desc__content h4 {
    font-weight: 700;
    font-size: 18px;
}

.js-toggle-content .view-more,
.js-toggle-content .view-less {

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #1990FF;
    padding-top: 16px;
    cursor: pointer;
}

.js-toggle-content .js-toggle-content img {
    margin-bottom: 4px;
}

.js-toggle-content .view-less {
    display: none;
}

/*modal*/

#modal--confirm__payment .modal-dialog {
    margin: 0 auto;
    max-width: 480px;
}

#modal--success__payment .modal-dialog {
    margin: 0 auto;
    max-width: 460px;
}

.modal .modal-content.-custom {
    border: none;
    border-radius: 12px;
    padding: 16px 16px 24px;
}

.dialog .dialog--header {
    position: relative;
}

.dialog .dialog--header .dialog--header__title {


    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    align-items: center;
    text-align: center;
}

.dialog .dialog--header .dialog__close {
    position: absolute;
    top: 0;
    right: 0;
}

.dialog .dialog--content .dialog--content__title {

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #434657;
    margin: 16px 0;
}

.card--gray {
    padding: 12px;
    background: #F3F3F7;
    border-radius: 8px;
    margin-bottom: 16px;
}

.card--gray {
    padding: 12px;
}

.card__notify {
    margin-top: 24px;
}

.modal .card__detail {
    overflow: hidden;
    background: #FBFBFD;
    border: 1px solid #DCDEE9;
    border-radius: 8px;
    min-height: 1rem;
    margin-bottom: 16px;
}

.card__detail .card--gray {
    margin: 16px;
}

.card__detail .card--info__wrap {
    display: flex;
}

.card__detail .card--logo {
    display: flex;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 50%;
    margin-right: 4px;
}

.card__detail .card--logo img {
    margin: auto;
    width: 26px;
}

.modal .card__detail .card--header__detail {
    padding: 12px;
    background: #FDE4CC;
}

.modal .card__detail .card--info .card--info__name {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    height: 20px;
    line-height: 150%;
    color: #434657;
}

.modal .card__detail .card--info .card--info__value {

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    height: 20px;
    line-height: 150%;
    color: #434657;
}

.modal .card--gray .card--attr,
.modal .card--gray .card--attr__total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    align-items: center;
}

.modal .card__detail .card--attr {
    margin-bottom: 8px;
}

.modal .card--gray .card--attr:last-child,
.modal .card--gray .card--attr__total:last-child {
    margin-bottom: 0;
}

.modal .card--gray .card--logo {
    padding: 4px 6px;
    background: #FFFFFF;
    border-radius: 2.88px;
}

.modal .card--gray .card--logo img {
    width: 40px;
}

.modal .card--gray .card__message {

    font-style: normal;
    font-weight: 400;
    margin-bottom: 12px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    color: #82869E;
}

.modal .card--gray .card--success__icon {
    padding-bottom: 4px;
    text-align: center;
}

.modal .card--gray .card--success__icon img {
    width: 40px;
}

.card--gray .card--attr .card--attr__name {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #82869E;
}

.card--attr .card--attr__name.-bold {
    font-weight: 600;
}

.card--gray .card--attr .card--attr__value {

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #434657;
}

.card__detail .card--gray .card--attr__name {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #434657;
}

.card__detail .card--gray .card--attr__value {
    display: flex;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    align-items: center;
    color: #434657;
}

.card--gray .card--attr__total .card--attr__name {

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #82869E;
}

.card--gray .card--attr__total .card--attr__value {

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: var(--primary-color);
}

.card__detail .card--attr__value .icon--coppy {
    margin-left: 8px;
    line-height: 1;
    height: 16px;
    cursor: pointer;
}

.card__detail .card--attr__value .icon--coppy img {
    height: 16px;
}

.js-copy-text {
    cursor: pointer;
}

/*Custom*/
.p_0 {
    padding: 0;
}

.pl_1 {
    padding-left: 1rem;
}

.pr_1 {
    padding-right: 1rem;
}

.px_1 {
    padding: 0 1rem;
}

.pr_3 {
    padding-right: 3rem;
}

.pl_3 {
    padding-left: 3rem;
}

.mt_1 {
    margin-top: 1rem;
}

.mb_1 {
    margin-bottom: 1rem;
}

/* Style for Button*/
.btn {
    max-height: 48px;
}

.btn.is_load {
    background: #EBEBEB;
    border-radius: 8px;
    outline: none;
    box-shadow: none;
}

.btn.-primary {
    align-items: center;
    background: var(--primary-color);
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    outline: none;
    box-shadow: none;
}

.btn.-secondary {
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    background: #FFFFFF;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    outline: none;
    box-shadow: none;
}

.btn.-secondary:hover {
    background-color: var(--primary-color);
}

.btn.-primary:hover {
    background-color: #DD6A00;
}

.btn.-primary:focus,
.btn.-secondary:focus {
    background-color: #C55E00;
}

.btn.-secondary:focus,
.btn.-secondary:hover {
    color: #FFFFFF;
}
.btn.btn-big {
    width: 100%;
    padding: 12.5px 0;
}

.btn.-secondary.action-table {
    font-weight: 400;
    padding: 4px 6px;
    max-height: 32px;
    white-space: nowrap;
}

#btn-confirm {
    margin-top: 16px;
}

#submit-sc {
    margin-top: 24px;
}

.mobile--confirm__payment,
.mobile--success__payment {
    display: none;
}

/*style for order detail*/
.order--detail {
    --primary-color: #32c5d2;
    padding: 0 0 0 10px;
}

.order--detail .card.--custom {
    padding: 16px;
}

.order--detail .card.--custom .card--header {
    margin-bottom: 16px;
}

.card.--custom .card--header .card--header__title {
    color: #1B1D29;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    line-height: 1.5;
}

.card.--custom .card--rise {
    border-radius: 8px;
    background: #FBFBFD;
    border: 1px solid #DCDEE9;
    color: #82869E;
    font-weight: 600;
    line-height: 1.5;
    min-height: 1rem;
    margin-bottom: 16px;
    padding: 8px 12px;
}

.card.--custom .card--rise.--secondary {
    background: #FFFFFF;
    padding: 8px 16px;
}

.card.--custom .card--rise.--gray {
    background: #FBFBFD;
    border: none;
    padding: 8px 12px;
    margin-bottom: 12px;
}

.card.--custom .card--rise.--gray .card--rise__title {
    color: #434657;
    padding: 8px 0;
}

.card.--custom .card--rise .order__title {
    padding: 8px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
}

.card.--custom .card--rise .card__attr {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.card--rise .card__attr .card--value__attr {

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
}

.card--rise .card__attr .card__info {
    margin-left: 8px;
    color: #1B1D29;
}

.card--rise .card--rise__title {
    font-size: 16px;
    padding-bottom: 20px;
}

.card--rise .card--rise__title .order__id {
    color: #1B1D29;
    font-size: 16px;
}

.card--rise .order__attr {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 0;
}

.card--rise.--gray .order__attr {
    padding: 0;
}

.card--rise .order__attr .order--value__attr,
.card--rise .order__attr .order--value__attr a {
    max-width: 45%;
    font-weight: 600;
    color: #1B1D29;
    text-align: right;
}

.card--rise.--secondary .btn.-primary {
    margin: 16px 0 8px;
}

.order--timelines {
    list-style: none;
    padding: 0 0 0 calc(12px + 10px);
    margin: 0;
}

.order--timelines .order--timeline .order--status,
.order--timelines .order--timeline .order--date {
    position: relative;
    font-size: 14px;
}

.order--timelines .order--timeline .order--status {
    color: #434657;
}

.order--timelines .order--timeline .order--date {
    font-weight: 400;
    padding-bottom: 24px;
}

.order--timelines .order--timeline:last-child .order--date {
    padding-bottom: 0;
}

.order--timelines .order--status:after {
    border-radius: 50%;
    background-color: var(--primary-color);
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 6px;
    left: calc(-10px - 12px);
}

.order--timelines .order--date:before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    border-left: 1px solid #BCBFD6;
    left: calc(-12px - 5px);
    top: 0;
}

.order--timelines .order--timeline:last-child .order--date:before {
    display: none;
}

.text--sm__title {

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 12px;
    line-height: 150%;
    color: #1B1D29;
}

.text--primary {
    color: var(--primary-color);
    font-size: 16px;
}
.text-invalid:empty {
    height: 0;
}
.text-invalid {
    color: #DA4343;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
}
.textarea--content {

    color: #A7ABC3;
    width: 100%;
    height: 100px;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #DCDEE9;
    border-radius: 8px;
    background-color: #FBFBFD;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    resize: none;
    outline: none;
    transition: all ease .2s;
}

.textarea--content:hover,
.input--file:hover {
    background: #F3F3F7;
    color: #82869E;
}

.textarea--content:focus {
    background-color: #FFFFFF;
    border: 1px solid var(--primary-color);
    color: #434657;
}

.input--file {
    background: #FBFBFD;
    border: 1px solid #DCDEE9;
    border-radius: 8px;
    color: #7D7D7D;
    padding: 8px 12px;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    transition: all ease .2s;
}

.input--file::-webkit-file-upload-button {
    border: 1px solid #32c5d2;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: var(--primary-color);
    margin-right: 1rem;
    line-height: 1.5;
    padding: 1px 21px;
}

.input--checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 16px;
    height: 16px;
    margin: 0;
}

.input--checkbox .checkmark {
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #DCDEE9;
    border-radius: 2px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.input--checkbox:hover .checkmark {
    background: #F3F3F7;
}

.input--checkbox input:checked ~ .checkmark:after {
    content: '';
    display: block;
    background-image: url(../image/icons/check.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.input--checkbox input:checked ~ .checkmark {
    background-color: var(--primary-color);
    border: none;
    text-align: center;
}

.input--checkbox input {
    height: 0;
    width: 0;
}

.label--checkbox__input {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #434657;
    margin: 0;
}

.captcha--code__group input {
    flex: 1;
}

.captcha--code,
.captcha--refresh {
    height: 40px;
    border-radius: 8px;
    overflow: hidden;
}


/*article slider */
.article--slider .article .article--thumbnail {
    height: 450px;
    border-radius: 0;
}

.article--slider .article--thumbnail__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article--slider .article--title {
    color: #1B1D29;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.5;
}

.article--slider .article--description {
    color: #434657;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    line-height: 1.5;
}

.article--slider {
    overflow: hidden;
}

.pagination--layout > div {
    height: 0;
}

.swiper-pagination.--custom {
    position: relative;
    text-align: center;
    top: -40px;
}

.swiper-pagination.--custom .swiper-pagination-bullet {
    background: #DBDBDB;
    margin: 0 4px;
    opacity: 1;
    transition: all ease .3s;
}

.swiper-pagination.--custom .swiper-pagination-bullet-active {
    width: 24px;
    border-radius: 100px;
    background: var(--primary-color);
    transition: all ease .3s;
}

/* article article   */
.article .article--thumbnail {
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    height: 194px;
}

.article .article--thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article .article--title .article--title__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434657;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-word;
    transition: all ease .2s;
}

.article .article--date {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #A7ABC3;
}

.article--tag {
    display: flex;
    align-items: center;
    position: absolute;
    background: #30CD60;
    border-radius: 4px;
    bottom: 16px;
    left: 16px;
    padding: 2px 8px;
}

#article--news .article .article--thumbnail {
    height: 163px;
}

#article--news .article--title {
    height: 60px;
}

#article--news .article--title .article--title__link {
    font-weight: 600;
}

.article .article--tag .article--tag__link {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
}

/*article detail*/
#article--detail {

    font-style: normal;
    color: #434657;
}

#article--detail .article--title {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: .25rem;
    line-height: 1.5;
}

#article--detail .article--info {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #82869E;
}

#article--detail .article--thumbnail {

}

#article--detail .article--thumbnail,
#article--detail .article--thumbnail .article--thumbnail__image {
    width: 100%;
}

#article--detail .article--content {
    display: flex;
    justify-content: center;
}

#article--detail .article--content .article--content__text {
    width: 820px;
}

#article--detail .article--content .article--content__text img {
    max-width: 90%;
    height: auto;
}

/*icons */
.__icon:after {
    content: '';
    display: block;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.__icon.calendar {
    background-image: url(../image/icons/calendar.png);
    width: 24px;
    height: 24px;
}

.__icon.--sm {
    width: 16px;
    height: 16px;
}

.__icon.--md:after {
    width: 24px;
    height: 24px;
}

.__icon.--path__custom:after {
    -webkit-mask: var(--path) center/contain;
    background-color: #434657;
    -webkit-mask-repeat: no-repeat;
}

a:hover .__icon.--path__custom:after {
    background-color: var(--primary-color);
}

.__icon.--link {
    -webkit-mask: var(--path) center/cover;
    -webkit-mask-repeat: no-repeat;
    background-color: #1990FF;
}

.global__link:hover .__icon.--link {
    background-color: #1473CC;
}

.global__link:hover .__icon.--link {
    background-color: #0F5699;
}

.article:hover .article--title__link,
#new-article-update .article:hover .article--title__link {
    color: var(--primary-color);
    transition: all ease .2s;
}

#list-article .article--thumbnail a:after {
    content: '';
    opacity: .2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all ease .2s;
}

#list-article .article:hover .article--thumbnail a:after {
    background-color: var(--primary-color);
    transition: all ease .2s;
}


#new-article-update .card--header__title {
    font-weight: 600;
}

#new-article-update .article--thumbnail {
    height: 150px;
    margin-right: 10px;
}

#new-article-update .article--info {
    padding: 0 0 0 10px;
}

#new-article-update .card--header {
    margin-bottom: 20px;
}

#new-article-update .article--description {
    margin: .75rem 0;
    color: #434657;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-word;
}

#new-article-update .article {
    border-bottom: 1px solid #DCDEE9;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#new-article-update .article:last-child {
    margin-bottom: 12px;
}

#new-article-update .article .article--title__link {
    font-weight: 600;
    font-size: 20px;
    color: #1B1D29;
}

/*Dịch vụ */
.service--thumbnail {
    position: relative;
    padding-bottom: 60%;
}

.service--thumbnail img {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
}

.label--checkbox {
    display: flex;
}

.label--checkbox .label--checkbox__name {
    cursor: pointer;
    font-size: 14px;
    color: #82869E;
    font-weight: 400;
    overflow: hidden;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-word;
}

.input-ratio-checkmark-ct.--overwrite {
    position: absolute;
    top: 50%;
    left: 0;
    height: 16px;
    width: 16px;
    margin-top: 0;
    transform: translateY(-50%);
}


.invalid {
    border-color: #DA4343;
}

#confirm-rules .label--checkbox__name {
    display: block;
    color: #434657;
}

#confirm-rules .body-title-detail-checkbox-col-ct {
    width: 100%;
}

#confirm-rules .input-ratio-checkmark-ct.--overwrite {
    top: 2px;
    transform: none;
}

#section-data-send .body-title-detail-col-ct:last-child:nth-child(odd) {
    width: 100%;
}

.service_pack {
    text-align: right;
    max-width: 65%;
}

.service_pack small {
    display: block;
    padding-bottom: .5rem;
}

/* Table */
.table-custom {
    border: 1px solid #DCDEE9;
    border-radius: 8px;
    overflow: hidden;
}

.table-custom table {
    width: 100%;
}

.table-custom table tr {
    height: 45px;
}

.table-custom table thead {
    background-color: #FBFBFD;
}

.table-custom thead tr {
    box-shadow: inset 0 -1px 0 #E4E5F0;
}

.table-custom table th,
.table-custom table td {
    text-align: center;

    font-style: normal;
    color: #1B1D29;
    font-size: 14px;
    line-height: 1.5;
}

.table-custom table th {
    font-weight: 600;
}

.table-custom table td {
    font-weight: 400;
}

.table-custom tbody tr:nth-child(even) {
    background-color: #FBFBFD;
}

.table-custom tbody tr:hover:nth-child(odd) {
    background-color: #FBFBFD;
}

.tag__status {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 60px;
    height: 25px;
    color: #FFFFFF;
    margin: auto;
}

.tag__status.--online {
    background-color: #30CD60;
}

.tag__status.--offline {
    background-color: #DA4343;
}

.message-error {
    margin-top: .5rem;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #DA4343;
}

.message-error:empty {
    margin-top: 0;
}

.loading-table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 111;
}

.loading-table .loading {
    width: 40px;
    height: 40px;
}

#table-default tbody {
    position: relative;
}

#table-default tbody.is_load:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    opacity: .5;
}

.is_load .loading {
    margin-top: 0;
}

.getCopypass img {
    height: 24px;
}


#table-default .th-game {
    padding: 12px 4rem;
}

#table-default .th-value {
    padding: 12px 2rem;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Edge, Opera and Firefox */
}

.logs-table .table tr td,
.logs-table .table th {
    text-align: left;
}

.default-overlay-nick-ct.--fix-responsive {
    position: relative;
    padding-bottom: 60%;
    height: auto;
}

.default-overlay-nick-ct.--fix-responsive img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.bread-word {
    word-break: break-word;
}

.card--mobile__title h4 {
    margin: auto;
    font-weight: 700 !important;
    font-size: 18px !important;
    line-height: 150% !important;
    color: #1B1D29;
}

.h-0 {
    height: 0 !important;
}

.rotation-modal-btn .btn {
    width: 96%;
    padding: 0.75rem 0;
    font-weight: 600;
    font-size: 16px;
}

/*Modal recharge*/
#rechargeModal .modal-dialog {
    max-width: 500px;
    margin: auto;
}

#rechargeModal .modal-dialog .modal-content {
    border: none;
    border-radius: 12px;
}

#rechargeModal .modal-content .modal-header {
    padding: 12px 24px;
    border-bottom: 1px solid #E4E5F0;
    align-items: center;
}

#rechargeModal .modal-content .modal-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    color: #3f444a;
}

#rechargeModal .modal-header .close {
    all: unset;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-image: url(../image/svg/close-modal.svg);
}

#rechargeModal .nav-tabs {
    display: table;
    table-layout: fixed;
    width: 100%;
    border: none;
    height: 48px;
}

#rechargeModal .nav-tabs .nav-item {
    display: table-cell;
    text-align: center;
}

#rechargeModal .nav-tabs .nav-item .nav-link {
    color: #82869E;
    border-bottom: 1px solid #DCDEE9;
    padding: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
}

#rechargeModal .nav-tabs .nav-item.show .nav-link,
#rechargeModal .nav-tabs .nav-link.active {
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 11.5px;
    border-bottom: 2px solid #32c5d2;
    font-weight: 700;
    color: #32c5d2;
}

#rechargeModal .nav-tabs .nav-link:not(.active):hover {
    border-color: transparent transparent #DCDEE9 transparent;
    color: #1B1D29;
}

#rechargeModal .modal-body {
    padding: 32px 24px 0;
}

#rechargeModal .modal-footer {
    border-top: unset;
    padding: 24px;
}

#rechargeModal .nice-select {
    float: none;
}

#rechargeModal .nice-select .list {
    width: 100%;
}

#rechargeModal .list-card-deno {
    display: flex;
    flex-wrap: wrap;
    margin-right: -6px;
    margin-left: -6px;
}

#rechargeModal .list-card-deno .card-item {
    width: 25%;
    padding: 0 6px;
    margin-bottom: 12px;
}

#rechargeModal .list-card-deno .card-label {
    position: relative;
    display: flex;
    background-color: #FBFBFD;
    padding: 16px 8px 48%;
    border: 1px solid #DCDEE9;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 0;
}
#rechargeModal .list-card-deno input:checked + .card-label {
    border-color: #32c5d2;
}
#rechargeModal .list-card-deno .card-label span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #434657;
}
#rechargeModal .list-card-deno input:checked + .card-label span {
    color: #32c5d2;
}
/*text*/
.t-sub-2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
}

/* Small Screen */
#modal-form-charge .modal-body {
    padding-top: 12px;
}
#modal-form-charge [type=submit] {
    margin: 0;
}
.load-overlay {
    position: relative;
}
.load-overlay:before {
    content: '';
    position: absolute;
    background-color: rgba(255,255,255,.75);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
}
.load-overlay .loading {
    width: 50px;height: 50px;
}
.load-overlay .wrap-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 11;
}
@media screen and (max-width: 1200px) {
    /*Mdoal recharge*/
    #rechargeModal .list-card-deno .card-item {
        width: 33.33%;
        padding: 0 4px;
        margin-bottom: 8px;
    }
    #rechargeModal .modal-dialog {
        padding: 16px;
    }
    .hidden-mobile {
        display: none;
    }

    .card.--custom {
        border-radius: 0;
    }

    #content-store-card .card .card--header {
        display: none;
    }

    #content-store-card .cards__item label {
        height: 58px;
    }

    .card--mobile__title,
    .step .step--header {
        display: flex;
        background: #FBFBFD;
        min-height: 1rem;
        padding: 18px 16px;
        position: relative;
        align-items: center;
    }

    .card--mobile__title p,
    .step .step--header .step--header__title {

        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #1B1D29;
        margin: auto;
        padding: 6.5px;
    }

    .card--mobile__title .card--back {
        position: absolute;
    }

    #content-store-card .nav-tabs .nav-item {
        width: 50%;
    }

    /*#content-store-card .section--amount__card {*/
    /*    padding-left: 0;*/
    /*}*/
    #content-store-card .section--description__card {
        display: block;
    }

    .breadcrum--list {
        display: none;
    }

    /*.step {*/
    /*    margin: 0 -15px;*/
    /*}*/
    .step .step--back {
        position: absolute;
    }

    .step .step--content {
        padding: 16px;
        background: #FFFFFF;
        height: calc(100vh - 80px - 56px);
        position: relative;
    }

    .btn.-primary.-ps__end {
        width: auto;
        position: absolute;
        left: 12px;
        right: 12px;
        bottom: 46px;
    }

    .step--content .card--gray {
        margin: 0;
        padding: 12px;
        background: #F3F3F7;
        margin-bottom: 12px;
    }

    .step--content .card--gray.card__notify {
        padding: 12px 0;
        text-align: center;
    }

    .step--content .step--content__title {

        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        color: #434657;
        margin-bottom: 12px;
    }

    .step--content .card--gray.card__notify .card__message {

        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #82869E;
        margin-bottom: 12px;
    }

    .step--content .card--gray.card__notify .card--success__icon {
        margin-bottom: 10px;
    }

    .step--content .card--attr .card--attr__value {
        font-weight: 400;
    }

    .step--content .card--attr .card--attr__value.-bold {
        font-weight: 600;
    }

    .step--content .card--attr .card--attr__value.-primary {
        color: var(--primary-color);
    }

    .step--content .card--gray .card--attr {
        display: flex;
        margin-bottom: 12px;
        justify-content: space-between;
        align-items: center;
    }

    .step--content .card--gray .card--attr:last-child {
        margin-bottom: 0;
    }

    .step .card--attr .card--logo {
        padding: 4px 6px;
        background: #FFFFFF;
        border-radius: 2.88px;
    }

    .step .card--attr .card--logo img {
        width: 40px;
    }

    .step .card__detail {
        background: #FBFBFD;
        border: 1px solid #DCDEE9;
        border-radius: 8px;
        padding-bottom: 12px;
        margin-bottom: 12px;
    }

    .step--content .card__detail .card--gray {
        margin: 10px;
    }

    .step--content .card__detail .card--header__detail {
        padding: 12px;
        background: #FDE4CC;
    }

    .step .card__detail .card--info__name,
    .step .card__detail .card--info__value {
        font-size: 12px;
        color: #434657;
    }

    .step .card__detail .card--info__name {
        font-weight: 600;
    }

    .step--content .step--content__end {
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 16px;
        right: 16px;
        bottom: 28px;
    }

    .step--content .step--content__end .btn {
        font-size: 16px;
        line-height: 1.5;
    }

    .step--content .step--content__end .btn:first-child {
        margin-right: 12px;
    }

    .card__detail .card--gray .card--attr__name,
    .card__detail .card--gray .card--attr__value,
    .card--gray .card--attr .card--attr__name,
    .step--content .card--attr .card--attr__value {
        font-size: 12px;
    }

    .card--list {
        position: absolute;
        top: 167px;
        left: 16px;
        right: 16px;
        bottom: 92px;
        overflow: auto;
    }

    .order--detail {
        padding: 0;
    }

    .card--detail {
        padding: 0 1rem;
        margin-bottom: 16px;
    }

    .card--detail .card--rise:last-child {
        position: relative;
    }

    .card--detail .card--rise:last-child:after {
        content: '';
        display: block;
        background: #DCDEE9;
        height: 1px;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -16px;
    }

    .card.--custom .card--rise.--secondary {
        border: none;
    }

    .article .article--thumbnail {
        height: 100px;
    }

    .article--slider .article .article--thumbnail {
        height: 187px;
    }

    .article--slider .article--title {
        font-size: 18px;
    }

    .global__link {
        font-size: 12px;
        font-weight: 400;
    }

    /*______*/
    #nav--article__mobile {
        border-bottom: 1px solid #BCBFD6;
    }

    #nav--article__mobile .nav-item a {
        border: 1px solid #82869E;
        border-radius: 8px;
        padding: 6px 15px;

        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #82869E;
        white-space: nowrap;
        margin: auto;
    }

    #nav--article__mobile .nav-item {
        display: flex;
    }

    #nav--article__mobile .nav-item a.active {
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
    }

    #nav--article__mobile .nav {
        height: 32px;
        flex-wrap: nowrap;
        overflow-x: auto;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    #nav--article__mobile .nav::-webkit-scrollbar {
        display: none;
    }

    #article--news .article {
        display: flex;
    }

    #article--news .article .article--thumbnail,
    #new-article-update .article--thumbnail {
        height: 72px;
    }

    #new-article-update .article--title .article--title__link {
        font-size: 12px;
        min-height: 40px;
    }

    #article--news .article--title {
        height: auto;
    }

    .article .article--date {
        font-size: 10px;
    }

    .__icon.calendar {
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 16px;
        height: 16px;
    }

    .card .card--header .card--header__title h4 {
        font-size: 16px;
    }

    .card--rise.--secondary .btn.-primary {
        margin: 16px -16px 8px;
        width: calc(100% + 2rem);
    }

    #new-article-update .article--info {
        padding: 0 0 0 2px;
    }

    #new-article-update .article {
        padding-bottom: 1rem;
    }

    #card--body__news {
        margin-top: 12px;
    }

    /*    Dịch vụ */
    .label--checkbox .label--checkbox__name {
        display: block;
    }

    .input-ratio-checkmark-ct.--overwrite {
        top: 2px;
        transform: none;
    }

    .body-detail-ctng-col-ct img {
        border-radius: 4px;
    }

}

@media (max-width: 767px) {
    #content-store-card .cards__item.card__item-tag {
        width: 33.333%;
    }

    #article--detail .article--title {

        font-size: 18px;

    }

}

.captcha{
    margin: 0 8px;
    width: 150px;

}

.refresh-captcha{
    border:none;
    border-radius: 8px;
    background: #FBFBFD;


}
.refresh-captcha img{
    -moz-transition: all .8s linear;
    -webkit-transition: all .8s linear;
    transition: all .8s linear;
    padding: 0 16px;
}

.refresh-captcha .down {
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
}
.sugges_list {
    background-color: #fff;
    border: 1px solid #E4E5F0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    z-index: 1;
    position: absolute;
    top: 100%;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 290px;
    overflow-y: auto;
}
.sugges_list:empty {
    display: none;
}
.sugges_list::-webkit-scrollbar {
    width: 8px;
}

/* Handle */
.sugges_list::-webkit-scrollbar-thumb {
    background: rgba(188, 191, 214, 0.5);
    border-radius: 14px;
}

.sugges_list .sugges_item {
    text-align: left;
    padding: 12px;
    cursor: pointer;
}
.sugges_list .sugges_item:not(:last-child){
    box-shadow: inset 0 -1px 0 #E4E5F0;
}

.fancybox__backdrop {
    background: var(--fancybox-bg, rgba(24, 24, 27, 0.98));
}