.modal-328 .modal-dialog {
    max-width: 328px;
}
.modal-360 .modal-dialog {
    max-width: 360px;

}
/*small modal*/


.modal-small .modal-custom{
    margin: 0 auto;
    max-width: 360px!important;

}

.modal-small .modal-content{
    padding: 0;
    border-radius: 8px;
}
.modal-small .modal-header{
    background: var(--w-ghost-hover-color);
    border-radius: 8px;
}

/*Hết small modal*/

/* Big modal */
.modal-big .modal-custom{
    margin: 0 auto;
    max-width: 432px!important;
    padding: 16px;
}

.modal-big .dialog--content__title {
    line-height: 150%;
}

.modal-big .card--gray {
    background: var(--w-ghost-hover-color);
    border-radius: 12px;
}

.modal-big .card--gray .card--attr:last-child,
.modal-big .card--gray .card--attr__total:last-child {
    margin-bottom: 0!important;
}
.modal-big .card--gray .card--attr .card--attr__name {
    line-height: 150%;
    color: var(--text-link-default-color);
}
.modal-big .card--gray .card--attr__total .card--attr__value {
    line-height: 150%;
}
.modal-big .rs-container{
    height: 24px;
}
/*Hết bog modal*/


/* Slider mua thẻ thành công*/

.modal-big .slider--card {
    overflow: hidden;
}

.modal-big .card__detail .card--header__detail {
    background: var(--disable-switch-color);
}

.modal-big .card__detail {
    overflow: hidden;
    background: #ffffff;
    border: 1px solid var(--w-ghost-focus-color);
    border-radius: 12px;
    min-height: 1rem;
}

.modal-big .card__detail .card--info__wrap {
    display: flex;
}

.modal-big .card__detail .card--logo {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 50%;
}

.modal-big .card__detail .card--logo img {
    margin: auto;
    width: 26px;
}

/*Hết Slider mua thẻ thành công*/



/*  text */

.text-title-theme{
    color: #1B1D29;
}

.text-theme{
    color: var(--text-color);
}
.c-text-primary{
    color: var(--primary-color);
}
.c-text-pink {
    color: var(--secondary-color);
}

.c-cursor{
    cursor: pointer;
}

.default-select{
    border-color: var(--border-default-color);
}
.date-right-default {
    background-image: url(../image/son/calender.svg);
}

.marginauto{
    width: 100%;
    margin: 0 auto;
}
.img-error-service{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 10px;
}

.c-text-ghost{
    color: var(--ghost-border-hover-color);
}

/*   Hết text  */


/* Table */

.default-table .logs-table{
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
}
.default-table .logs-table .table{
    margin-bottom: 0;
    border-radius: 8px;
}

.default-table{
    border: none;
    border-radius: 8px;
}

.default-table .table td{
    border-top: none!important;
    max-width: 90px;
}

.default-table .logs-table .table tr:last-child{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.default-table .logs-table .table tr:last-child td:first-child{
    border-bottom-left-radius: 8px;
}

.default-table.logs-table .table tr:last-child td:last-child{
    border-bottom-right-radius: 8px;
}

.default-table .table thead th{
    border: none!important;
}
.default-table .table{
    border: none!important;
    margin-bottom: 0;
}
.default-table tr{
    cursor: pointer;
}
.default-table thead tr{
    background: #FBFBFD;
}
.default-table tbody tr:nth-child(odd) {
    background: #F3F3F7;
}

.default-table tbody tr:nth-child(even) {
    background: #FFFFFF;
}
/*Hết table*/

/*Modal lịch sử minigame*/

#logs-minigame{
    max-height: 232px;
    overflow: auto;
}

#logs-minigame:hover::-webkit-scrollbar-thumb{
    background-color: #DCDEE9;
}

#logs-minigame::-webkit-scrollbar-track
{
    position: absolute;
    top: 100px;
    left: -60px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    background-color:  #ffffff;
    border: none;
}

#logs-minigame::-webkit-scrollbar
{
    width: 8px;
    border: none;
}

#logs-minigame::-webkit-scrollbar-thumb
{
    /*Màu thanh sroll*/
    background: #BCBFD6;
    border-radius: 100px;
    border: none;
    margin-left: 20px;
    height: 20px;
}



#sheet-minigame-his{
    max-height: 284px;
    overflow: auto;
}

#sheet-minigame-his:hover::-webkit-scrollbar-thumb{
    background-color: #DCDEE9;
}

#sheet-minigame-his::-webkit-scrollbar-track
{
    position: absolute;
    top: 100px;
    left: -60px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    background-color:  #ffffff;
    border: none;
}

#sheet-minigame-his::-webkit-scrollbar
{
    width: 8px;
    border: none;
}

#sheet-minigame-his::-webkit-scrollbar-thumb
{
    /*Màu thanh sroll*/
    background: #BCBFD6;
    border-radius: 100px;
    border: none;
    margin-left: 20px;
    height: 20px;
}

/*Hết modal lịch sử minigame*/


/* Modal tra gop */

#modal-body-scroll{
    max-height: 444px;
    overflow: auto;
}

#modal-body-scroll:hover::-webkit-scrollbar-thumb{
    background-color: #DCDEE9;
}


#modal-body-scroll::-webkit-scrollbar-track
{
    position: absolute;
    top: 100px;
    left: -60px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    background-color:  #ffffff;
    border: none;
}

#modal-body-scroll::-webkit-scrollbar
{
    width: 8px;
    border: none;
}

#modal-body-scroll::-webkit-scrollbar-thumb
{
    /*Màu thanh sroll*/
    background: #BCBFD6;
    border-radius: 100px;
    border: none;
    margin-left: 20px;
    height: 20px;
}
.content-tra-gop{
    background: #F8F8FC;
    border-radius: 12px;
}

.content-tra-gop li{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #434657;
}

.content-tra-gop ul{
    padding-left: 20px;
    margin-bottom: 0;
}

.password-input-container .copy-password{
    position: absolute;
    right: 40px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}

.copy-email{
    position: absolute;
    right: 8px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}
/*Het modal tra gop*/

/*Modal container*/

.input-search-lmht{
    width: 264px;
}

.item-nick-lmht{
    width: 8.33333%;
}
.item-nick-lmht__border{
    padding: 8px 8px 0 8px;
    border: 1px solid #E4E5F0;
    border-radius: 8px;
    object-fit: cover;
}
.item-nick-lmht__border__col{
    padding-bottom: 100%;
    overflow: hidden;
    max-width: 100%;
}
.item-nick-lmht__border__img{
    transition: 0.2s;
    object-fit: cover;
    height: 100%;
}
.item-nick-lmht a:hover img{
    border-radius: 4px;
    transform: scale(1.1);
    transition: 0.2s;
}
.item-nick-lmht a .item-nick-lmht__border__col{
    border-radius: 4px;
}

.modal-container-body{
    max-height: calc(100vh - 56px - 24px - 87px - 56px);
    overflow: auto;
}

.modal-container-body:hover::-webkit-scrollbar-thumb{
    background-color: #DCDEE9;
}


.modal-container-body::-webkit-scrollbar-track
{
    position: absolute;
    top: 100px;
    left: -60px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    background-color:  #ffffff;
    border: none;
}

.modal-container-body::-webkit-scrollbar
{
    width: 8px;
    border: none;
}

.modal-container-body::-webkit-scrollbar-thumb
{
    /*Màu thanh sroll*/
    background: #BCBFD6;
    border-radius: 100px;
    border: none;
    margin-left: 20px;
    height: 20px;
}
.modal-container .close{
    top: 28px!important;
}

.header-modal__nick-lmht{
    max-width: 1140px;
    --tw-bg-opacity: 1;
    background-color: #FFFFFF;
    border-bottom-width: 1px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-top: 56px;
}
.header-modal__nick-lmht-row{
    border-bottom: 1px solid #E4E5F0;
}
.c-modal__nick-lmht{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.c-close-modal{
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
}

.body-modal__nick-lmht{
    max-width: 1140px;
    --tw-bg-opacity: 1;
    background-color: #ffffff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    height: 760px;
    max-height: 760px;
}
/*.c-modal__nick-lmht-tuong,*/
/*.c-modal__nick-lmht-ttk,*/
/*.c-modal__nick-lmht-trang-phuc,*/
/*.c-modal__nick-lmht-linh-thu-tft,*/
/*.c-modal__nick-lmht-san-dau-tft,*/
/*.c-modal__nick-lmht-chuong-luc-tft,*/
/*.c-modal__nick-lmht-bieu-cam{*/
/*    display: none;*/
/*}*/
.body-modal__nick__text-error{
    display: none;
}


@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .body-modal__nick-lmht{
        max-width: 992px;
    }
    .header-modal__nick-lmht{
        max-width: 992px;
    }
}
/*Hết modal container*/


.c-pt-24, .c-py-24 {
    padding-top: 24px!important;
}
.c-pl-24, .c-px-24 {
    padding-left: 24px!important;
}
.c-pr-24, .c-px-24 {
    padding-right: 24px!important;
}

.fw-700 {
    font-weight: 700!important;
}
.c-pb-24, .c-py-24 {
    padding-bottom: 24px!important;
}
.c-mr-24, .c-mx-24 {
    margin-right: 24px!important;
}
.fz-24 {
    font-size: 24px;
}
.lh-32 {
    line-height: 32px!important;
}
.fz-13 {
    font-size: 13px!important;
}
.lh-20 {
    line-height: 20px!important;
}
.fw-400 {
    font-weight: 400!important;
}
.form-search {
    display: flex;
    align-items: center;
    position: relative;
}
.c-pt-10, .c-py-10 {
    padding-top: 10px!important;
}
.c-pl-18, .c-px-18 {
    padding-left: 18px!important;
}
.c-pr-18, .c-px-18 {
    padding-right: 18px!important;
}
.c-pb-8, .c-py-8 {
    padding-bottom: 4px!important;
}
.c-pt-8, .c-py-8 {
    padding-top: 4px!important;
}
.c-pl-6, .c-px-6 {
    padding-left: 4px!important;
}
.c-pr-6, .c-px-6 {
    padding-right: 4px!important;
}
.c-mt-4, .c-my-4 {
    margin-top: 4px!important;
}
.text-error {
    color: #DA4343;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
.brs-4 {
    border-radius: 4px!important;
}
.h-auto {
    height: auto!important;
}
.w-100 {
    width: 100%!important;
}
.c-close-modal {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
}
p, span, a {
    font-size: 13px;
    line-height: 20px;
    color: #434657;
}
.c-modal-ttchung input[type=search] {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    padding: 10px 4px 10px 12px;
    background-color: var(--w-ghost-focus-color);
    border-radius: 8px;
    border: none;
    width: 100%;
}
.c-modal-ttchung input[type=search].has-submit {
    padding-right: 44px;
}

.c-mb-4, .c-my-4 {
    margin-bottom: 4px!important;
}
.c-mt-20, .c-my-20 {
    margin-top: 20px!important;
}
.fz-13 {
    font-size: 13px!important;
}
.fw-400 {
    font-weight: 400!important;
}

.limit-1 {
    -webkit-line-clamp: 1;
    line-clamp: 1;
}
.text-limit {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}


.lm_xemthem{
    cursor: pointer;
    color: #ffffff;
    background: #82869E;
    /*margin-left: 40px;*/
    border-radius: 4px;
    padding: 2px 6px;
    border: 1px solid #82869E;
}

.lm_xemthem:hover{
    color: #32c5d2!important;
    background: transparent!important;
    border: 1px solid #32c5d2!important;
}

.submit--search{
    position: absolute;
    background: #32c5d2;
    border: 1px solid #32c5d2;
    padding: 16px 15px;
    border-radius: 4px;
    right: 4px;
}
/* Testttttttttttttttt */


@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .item-nick-lmht{
        width:10%!important;
    }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
    .c-modal__nick-lmht{
        padding: 16px;
    }
    .item-nick-lmht{
        width:14%!important;
    }
}
@media only screen and (min-width: 640px) and (max-width: 768px) {
    .c-modal__nick-lmht{
        padding: 16px;
    }
    .item-nick-lmht{
        width:14%!important;
    }
}

@media only screen and (min-width: 574px) and (max-width: 639px) {
    .c-modal__nick-lmht{
        padding: 16px;
    }
    .item-nick-lmht{
        width:16%!important;
    }
}

@media only screen and (min-width: 376px) and (max-width: 573px) {
    .c-modal__nick-lmht{
        padding: 8px;
    }
    .item-nick-lmht{
        width:24%!important;
    }
    .input-search-lmht{
        width: 194px;
    }
    .fz-24 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 376px) {
    .c-modal__nick-lmht{
        padding: 8px;
    }
    .item-nick-lmht{
        width:33.3333%!important;
    }
    .input-search-lmht{
        width: 194px;
    }
    .fz-24 {
        font-size: 16px;
    }
}
