.group-btn.button-password{

    justify-content: flex-end !important;
}
.group-btn.button-password .btn:last-child:nth-child(odd){
    width: 30%;
}
@media (max-width: 992px) {
    .group-btn.button-password .btn:last-child:nth-child(odd){
        width: 100%;
    }
}
.article--content table{
    max-width: 100%;

}
.article--content img{
    max-width: 100%;
    height: auto;
}
