.banner-slide .swiper-slide{
    position: relative;
    padding-bottom: 30%;
    border-radius: 100%;
}
.banner-slide .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 12px;
}
.swiper-banner .navigation{
    visibility: visible;
}

.swiper-banner .navigation {
    top: 48%;
    /*transform: translateY(-50%);*/
}
.swiper-banner .navigation.slider-next {
    right: 0;
}
.swiper-banner .navigation.slider-prev {
    left: 0;
}
.swiper-general{
    position: relative;
    margin-top: 0;
}
.swiper-general  .swiper-pagination{
    left: 50%;
    transform: translateX(-50%);
    bottom: 4px;
}
.swiper-general  .swiper-pagination .swiper-pagination-bullet{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #FFFFFF;
    opacity: 1;
    transition: .2s ;
    border: none;
    margin: 0 4px;
}
.swiper-general  .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    width: 16px;
    height: 8px;
    border-radius: 100px;
    background: var(--primary-color);
    transition: .2s ;

}
.ads-banner .banner-slide .swiper-slide{
    position: relative;
    padding-bottom: 40%;
}
.ads-banner-second{
    flex-basis: 48%;
    overflow: hidden;
}
.ads-banner-second img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*tin t∆∞cs*/
.slide-card{
    border: 1px solid var(--border-default-color);
    box-shadow: var(--box-shadow-default);
    border-radius: 12px;
}

.news-title{
    color: var(--text-title-color);
}
.news-title-content{
    color: var(--text-color);
}
.news-ads-slide{
    background: white;
}
.news-ads-slide .swiper-slide{
    background: white;
}
.news-ads-slide .swiper-slide .news-ads-img{
    position: relative;
    padding-bottom: 33%;
    overflow: hidden;
}
.news-ads-slide .swiper-slide .news-ads-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.news-ads-slide .navigation{
    visibility: visible;
}
.news-ads-slide .navigation {
    top: 48%;
    /*transform: translateY(-50%);*/
}

.news-ads-slide .navigation.slider-next {
    right: 0;
}
.news-ads-slide .navigation.slider-prev {
    left: 0;
}

.banner-news.swiper-general .swiper-pagination {
    left: 33%;
    transform: translateX(-33%);
    bottom: 20px;
}
.news-info{
    color: var(--ghost-border-hover-color);
}
@media (max-width: 992px) {
    /*.banner-slide .swiper-slide{*/
    /*    padding-bottom: 40%;*/
    /*}*/
    /*.ads-banner .banner-slide .swiper-slide{*/
    /*    padding-bottom: 54%;*/
    /*}*/
    .swiper-banner .navigation{
        visibility: hidden;
    }

    .banner-news .navigation{
        visibility: hidden;
    }
    .swiper-general .swiper-pagination{
        bottom: -20px;
    }
    .swiper-general .swiper-pagination .swiper-pagination-bullet{
        background: var(--ghost-border-default-color);
        margin: 0 4px;

    }
    .swiper-general{
        margin-top: 16px;
    }
    .news-ads-slide .swiper-slide .news-ads-img{
        padding-bottom: 60%;
    }
    .banner-news.swiper-general .swiper-pagination {
        left: 50%;
        transform: translateX(-50%);
        bottom: -24px;
    }
}

/*article*/
@media (min-width: 1200px){
    .fix_ads-banner-second_top{
        height: 358px;
        width: 100%;
    }
}
.y_content-item {
    width: 100%;
    overflow: hidden;
    /*margin: 30px 0;*/
}

.y_content-item .y_item {
    overflow: hidden;
    cursor: pointer;
}

.y_content-item .y_item img {
    opacity: 1;
}

.y_content-item .y_item:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 1;
}

.y_content-item .y_item .y_caption {
    position: absolute;
    bottom: -50px;
    margin-left: 10px;
    opacity: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.y_content-item .y_item:hover .y_caption {
    opacity: 1;
    bottom: 10px;
}



.y2_content-item {
    width: 100%;
    overflow: hidden;
    /*margin: 30px 0;*/
}

.y2_content-item .y2_item {
    overflow: hidden;
    cursor: pointer;
}

.y2_content-item .y2_item img {
    opacity: 1;
}

.y2_content-item .y2_item:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 1;
}

.y2_content-item .y2_item .y2_caption {
    position: absolute;
    bottom: -50px;
    margin-left: 10px;
    opacity: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.y2_content-item .y2_item:hover .y2_caption {
    opacity: 1;
    bottom: 10px;
}

.fix_capcha{
    position: relative;
}
.fix_capcha img{
    position: absolute;
    top: 2px;
    left: 12px;
}

.fix_header_acount{
    height: 34px;
}

.top_box-product{
    padding-right: 10px;
}
.f_box-product{
    margin-bottom: 20px
}

.center_swiper-general_right{
    padding-right: 8px;
    padding-left: 15px;
}

.end_swiper-general_right{
    padding-right: 15px;
    padding-left: 8px;
}



#c_slider_banner .fix_ads-banner-second{
    flex-basis: 47%;
    overflow: hidden;
}
#c_slider_banner .fix_ads-banner-second img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

#c_slider_banner .fix_ads-banner-fecond img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.fix_ads-banner-fist{
    position: relative;
    overflow: hidden;
    display: inline-block;
    box-sizing: border-box;
}
.fix_ads-banner-fist a::before{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-bottom: 0;
    background: linear-gradient(180deg, rgba(101, 101, 101, 0) 0%, #211F1F 100%);
    border-radius: var(--primary-border);
    z-index: 1;
    transition: all 0.2s ease-out;
}
.fix_ads-banner-ffist{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    /*height: 100%;*/
    overflow: hidden;
}
.fix_ads-banner-ffist a::before{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-bottom: 0;
    background: linear-gradient(180deg, rgba(101, 101, 101, 0) 0%, #211F1F 100%);
    border-radius: var(--primary-border);
    z-index: 1;
    transition: all 0.2s ease-out;
}

.item-article-content{
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
    color: white;
    z-index: 1;
    padding: 0 16px 0 16px;
}

.item-article-content-secon{
    position: absolute;
    bottom: 12px;
    left: 0;
    color: white;
    z-index: 1;
    padding: 0 12px;
}

.item-article-content-secon-bottom{
    position: absolute;
    bottom: 12px;
    left: 0;
    color: white;
    z-index: 1;
    padding: 0 24px;
}

.item-article-user{
    color: #F3F3F3 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}
.item-article-user span,.item-article-user p,.item-article-user div{
    color: #F3F3F3 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}
.item-article-name{
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
}

#c_slider_banner p{
    margin-bottom: 0!important;
}
@media (min-width: 768px) and (max-width: 992px) {
    #c_slider_banner .fix_ads-banner-second{
        width: 100%;
        margin-bottom: 8px;
        height: 95px;
    }

    #c_slider_banner .fix_ads-banner-fecond{
        width: 100%;
        margin-bottom: 12px;
    }
    .fix_ads-banner-second_top{
        height: 212px!important;
    }
}
@media only screen and (min-width: 573px) and (max-width: 768px) {

    #c_slider_banner .fix_ads-banner-second{
        width: 100%;
        margin-bottom: 8px;
        height: 95px;
    }
    #c_slider_banner .fix_ads-banner-fecond{
        width: 100%;
        margin-bottom: 12px;
    }
    .fix_ads-banner-second_top{
        height: 212px!important;
    }
    .item-article-name {
        font-size: 14px!important;
    }
    .item-article-user {
        font-size: 10px!important;
    }
}
@media only screen and (min-width: 495px) and (max-width: 573px) {

    #c_slider_banner .fix_ads-banner-second{
        width: 100%;
        margin-bottom: 8px;
        height: 95px;
    }
    #c_slider_banner .fix_ads-banner-fecond{
        width: 100%;
        margin-bottom: 12px;
    }
    .fix_ads-banner-second_top{
        height: 212px!important;
    }
    .item-article-name {
        font-size: 14px!important;
    }
    .item-article-user {
        font-size: 10px!important;
    }

}
@media only screen and (max-width: 495px) {
    #c_slider_banner .fix_ads-banner-second{
        width: 100%;
        margin-bottom: 8px;
        height: 95px;
    }
    #c_slider_banner .fix_ads-banner-fecond{
        width: 100%;
        margin-bottom: 12px;
    }
    .fix_ads-banner-second_top{
        height: 212px!important;
    }
    .item-article-name {
        font-size: 14px!important;
    }
    .item-article-user {
        font-size: 10px!important;
    }


}
