:root {
    --color-primary: #F67600;
}
.poster__banner {
    overflow: hidden;
    border-radius: 12px;
    position: relative;
}
.poster__banner .banner__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.poster__banner .swiper-pagination.--custom {
    top: -32px;
}

.card__nav .card--head .card--title {
    color: #1B1D29;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
}

.section--card {
    display: flex;
    justify-content: space-between;
    background-color: #FBFBFD;
}

.section--card .section--card__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: #1B1D29;
}

#buy-card a:hover .__icon.--path__custom:after
{
    background-color: #434657;
}

.section--card[aria-expanded="true"] i.__icon:after {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
.card-list .card-item {
    position: relative;
    padding: .5rem 1rem;
    border-bottom: 1px solid #DCDEE9;
}
.card-list .card-item.active {
    background-color: #FFF8F2;
}
.card-item .card-item_link {
    display: flex;
    align-items: center;
    margin: 0;
}
.card-item .card-item_thumb {
    display: flex;
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #DCDEE9;
    border-radius: 4px;
}
.card-item .card-item_name {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #434657;
}
.card-item.active .card-item_name {
    color: var(--color-primary);
}
.card-item .card-item_thumb img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
.card-list .card-item:last-child {
    border:none
}
ul.card-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.page--card__content .card--head .card--title {
    color: #1B1D29;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
}

.scratch-card {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-bottom: 54%;
    border: 1px solid #DCDEE9;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 0;
}
.scratch-card:hover {
    border: 1px solid var(--color-primary);
}
.scratch-card .card--name {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35%;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    background-color: var(--bg-color);
}
.scratch-card .card--thumb {
    text-align: center;
    width: 100%;
    height: 65%;
    position: absolute;
    top: 0;
    left: 0;
}
.scratch-card .card--thumb .card--thumb__image {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 90%;
    object-fit: cover;
}
.service--thumb {
    border-radius: 8px;
    overflow: hidden;
}
.service--thumb .service--thumb__image {
    width: 100%;
    object-fit: cover;
}
.service--name {
    display: block;
    color: #434657;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
}

.card--deno {
    color: #434657;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
}
.card--unit__price {
    color: #82869E;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
}
.card--amount {
    display: flex;
    align-items: center;
    justify-content: space-between;;
}
.card--amount .card--amount__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #434657;
}
.card--amount .card--amount__group {
    display: flex;
    height: 32px;
}
.card--amount__group .input--amount {
    font-weight: 400;
    font-size: 14px;
    color: #434657;
    padding: 12px;
    width: 45px;
    background: #FBFBFD;
    border: 1px solid #DCDEE9;
    text-align: center;
    outline: none;
}
.card--amount__group .btn--amount {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DCDEE9;
    width: 32px;
    position: relative;
}
.card--amount__group .btn--amount:after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 24px;height: 24px;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.card--amount__group .btn--amount.-minus:after {
    background-image: url(/assets/frontend/theme_3/image/icons/minus.png);
}
.card--amount__group .btn--amount.-add:after {
    background-image: url(/assets/frontend/theme_3/image/icons/add.png);
}
.btn--amount.-minus {
    border-radius: 4px 0 0 4px;
}
.btn--amount.-add {
    border-radius: 0 4px 4px 0;
}

.card.--custom .card--head {
    display: flex;
    justify-content: space-between;
}
.swiper__paginate {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-other-next,
.card-other-prev {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-color: #FBFBFD;
    border: 1px solid #E4E5F0;
}
.card-other-next:before,
.card-other-prev:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: '';
    display: block;
    background-color: #E4E5F0;
    -webkit-mask-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.card-other-next:before {
    -webkit-mask: url(../../image/icons/arrows/pg-next.png) center/contain;
    -webkit-mask-repeat: no-repeat;
}
.card-other-prev:before {
    -webkit-mask: url(../../image/icons/arrows/pg-back.png  ) center/contain;
    -webkit-mask-repeat: no-repeat;
}
.card--desc__title {
    color: #434657;
    font-weight: 700;
    font-size: 16px;
    line-height:1.5;
}
/* Màn hình nhỏ laptop và mobile */
@media only screen and (max-width: 75rem) {
    .scratch-card .card--name {
        height: 40px;
    }
    #grid--game__card .scratch-card .card--name,
    #grid--phone__card .scratch-card .card--name {
        height: 20px;
        font-size: 14px;
    }
    .poster__banner {
        border-radius: 0;
    }
    .scratch-card {
        border-radius: 4px;
    }
    .js--card__swipe .scratch-card,
    #card--other .scratch-card,
    .card--single.scratch-card
    {
        border-radius: 8px;
    }
    .js--card__swipe .scratch-card .card--name,
    #card--other .scratch-card .card--name,
    .scratch-card.card--single .card--name
    {
        font-size: 20px;
    }
    .page--card__content .card--head .card--title {
        color: #434657;
        font-weight: 600;
        font-size: 14px;
    }
    .page--mobile__title {
        padding: 14.5px 0;
        color: #1B1D29;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
    }
    .card.--custom .card--mobile__title .card--title {
        margin: auto;
    }
    .page--card__content .card--head h4.card--title {
        color: #1B1D29;
        font-size: 16px;
    }
    #card--other .card--head .card--title,
    #card--same .card--head .card--title
    {
        color: #1B1D29;
        font-weight: 700;
        font-size: 18px;
    }
}
