.history-detail-subtitle {
    border-bottom: 2px solid var(--border-default-color);
    color: var(--text-color);
}

.history-detail-label {
    color: var(--text-color);
}

.history-detail-info-block {
    background: #FFFFFF;
    border: 1px solid var(--border-default-color);
}

.history-detail-attr p {
    color: var(--text-link-default-color);
}

.history-detail-attr div.detail-success {
    color: var(--status-success-color);
}

.history-detail-attr div.detail-failed {
    color: var(--invalid-color);
}

.history-detail-attr div.detail-pending {
    color: var(--status-yellow-color);
}

.history-detail-attr div.detail-primary {
    color: var(--primary-color);
}