.history-detail-subtitle {
    border-bottom: 2px solid var(--border-default-color);
    color: var(--text-color);
}

.history-detail-label {
    color: var(--text-color);
}

.history-detail-info-block {
    background: #FFFFFF;
    border: 1px solid var(--border-default-color);
}

.history-detail-attr p {
    color: var(--text-link-default-color);
}

.history-detail-attr div.detail-success {
    color: var(--status-success-color);
}

.history-detail-attr div.detail-failed {
    color: var(--invalid-color);
}

.history-detail-attr div.detail-pending {
    color: var(--status-yellow-color);
}

.history-detail-attr div.detail-primary {
    color: var(--primary-color);
}

/* Rss Detail */

#rss-detail {
    padding: 16px;
}

#rss-detail .rss-detail-list {
    margin-bottom: 0;
    margin-top: 16px;
    padding-bottom: 16px;
}

#rss-detail .rss-detail-list div {
    text-align: center;
}

#rss-detail .rss-detail-list a {
    color: #3e3e3ee0 !important;
    text-transform: uppercase !important;
    font-weight: bold;
}

#rss-detail .rss-detail-list a:hover {
    color: rgb(238, 70, 35) !important;
}