.user-manager .menu-content{
    min-height: 420px;
}
.account_sidebar_menu{
    /*float: left;*/
    width: 270px;
    border-top: 0;
    margin: 30px 0 40px 0;
}
.account_content .container{
    display: flex;

}
.account_sidebar_menu .row>div {
    margin-bottom: 20px !important;
    margin-top: 15px !important;
}
.account_sidebar_menu_title{
    margin-bottom: 20px;
    padding-left: 20px;
    border-left: 4px solid #32c5d2;
}
.account_sidebar_menu_title p{
    font-size: 20px;
    margin-bottom: 22px;
    color: #3f444a;
    font-weight: 500;
    text-transform: uppercase;
}
.account_sidebar_menu_nav>ul{
    margin: 0;
    padding: 0;
}
.account_sidebar_menu_nav>ul>li{
    list-style: none;
    padding: 7px 0;
    border-bottom: 1px solid #f2f2f2;
}
.account_sidebar_menu_nav>ul>li:before{
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin: 9px 12px 0 0;
    content: '';
    opacity: 0.6;
    filter: alpha(opacity=60);
    background: #32c5d2;
    font-size: 14px;
    float: left;
}
.account_sidebar_menu_nav ul li a{
    font-weight: 400;
    color: #3f444a;
}
.account_sidebar_menu_nav ul li a:hover{
    color: #32c5d2;
    text-decoration: none;
}
.account_sidebar_content{
    overflow: hidden;
    padding: 30px 0 30px 30px;
    flex: 1;
}
/*thông tin tài khoản*/
.account_sidebar_content_title p{
    font-size: 30px;
    color: #505050;
    margin: 0 0 30px 0;
    font-weight: 600;
    text-transform: uppercase;
}
.account_sidebar_content_line{
    width: 100px;
    height: 3px;
    background-color: #db3869 !important;
    margin: 0 0 30px 0;
}

@media (max-width: 991px){
    .account_sidebar_menu {
        flex-basis: 100%;
        /*float: none;*/
        display: block;
        margin: 0;
    }
    .account_sidebar_content {
        overflow: visible;
        padding: 10px 0 30px 0;
    }
    .account_content .container{
        flex-wrap:wrap;
    }
}
/*lịch sử giao dịch*/
.account_content_transaction_history span{
    padding: 6px 4px;
    /*font-size: 14px;*/
    font-weight: 600;
    /*line-height: 1;*/
    color: #ffffff;
    text-align: center;
    /*background-color: #eee;*/
    /*border: 1px solid;*/
    /*border-radius: 4px;*/
}

.account_content_transaction_historyv2 span{
    /*padding: 6px 12px;*/
    font-size: 16px;
    font-weight: 600;
    /*line-height: 1;*/
    color: #ffffff;
    text-align: center;
    /*background-color: #eee;*/
    /*border: 1px solid;*/
    /*border-radius: 4px;*/
}

.account_content_transaction_history__v2 span{
    /*padding: 6px 12px;*/
    font-size: 14px;
    font-weight: 400;
    /*line-height: 1;*/
    color: #555;
    text-align: center;
    background-color: #eee;
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
}
.form-charge span:not([class*="select2"]){
    /*padding: 6px 12px;*/
    font-size: 14px;
    font-weight: 400;
    /*line-height: 1;*/
    color: #555;
    text-align: center;
    background-color: #eee;
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
}
.form-charge .input-group select{
    height: auto !important;
}
.max-heardss{
    height: 40px!important;
}

.account_content_transaction_history form>div{
    margin-bottom: 16px;
}

.account_content_transaction_historyv2 form>div{
    margin-bottom: 16px;
}
/*pay card*/
.account_pay_card>p{
    text-align: center;
    color: black;
}
.account_pay_card>span p{
    text-align: center;
    color: red;
}
.account_pay_card .control-label{
    text-align: right;
    padding-top: 8px;
}
/*.account_pay_card th,.account_pay_card td{*/
/*    word-break: break-word;*/
/*}*/
/*.account_content_transaction_history th,.account_content_transaction_history td{*/
/*    word-break: break-word;*/
/*}*/
.account_content_transaction_history .control-label{
    margin-bottom: 12px;
}

/*.account_content_transaction_historyv2 th,.account_content_transaction_historyv2 td{*/
/*    word-break: break-word;*/
/*}*/
.account_content_transaction_historyv2 .control-label{
    margin-bottom: 12px;
}
.account_sidebar_content .input-group{
    margin-bottom: 8px;
}

@media (max-width: 540px) {
    .item_buy_form_search>div{
        /*flex-direction: column-reverse;*/
    }
    .account_pay_card th,.account_pay_card td{
        font-size: 14px;
    }
    .account_content_transaction_history th,.account_content_transaction_history td{
        font-size: 14px;
    }
    .account_content_transaction_historyv2 form>div {
        margin-bottom: 8px;
    }

    .account_content_transaction_historyv2 th,.account_content_transaction_historyv2 td{
        font-size: 14px;
    }
    .account_pay_card .control-label{
        text-align: left;
    }
    .form-charge .form-group, #form-recharge .form-group{
        margin-bottom: 0!important;
    }
    .data_pay_card_history__atm,.paycartdata{
        margin-top: 20px;
    }
    .h1_category{
        font-size: 16px!important;
    }
    .item_buy_list_view{
        font-size: 14px!important;
    }

    .fixcssacount{
        padding-left: 8px!important;
        padding-right: 8px!important;
    }
    .item_buy_list>div{
        margin: 4px 0!important;
    }
    .c-content-title-1 > .c-line-center{
        margin: 12px auto 12px auto!important;
        /*margin-top: 30px;*/
    }
    .shop_product_another{
        padding-top: 12px;
    }
    .fixboxbody{
        margin-top: 0!important;
    }
    .fixslidercsssev{
        padding-top: 8px!important;
    }
}

.fixslidercsssev{
    padding-top: 24px
}
.fixboxbody{
    color: #505050;
    padding:20px;
    line-height: 2;
    margin-top: 30px
}
.shop_product_another{
    padding-top: 24px;
}
.account_sidebar_menu_nav_active{
    color: rgb(238, 70, 35);
}
.recharge_atm p{
    text-align: center;

    font-weight: 900;
    font-size: 16px;
}
.recharge_atm p a{
    text-decoration: none;
    color: red;
}
/*another service*/
.special_service{
    margin-top: 30px;
}
.special_service_title p{
    text-align: center;
    color: #505050;
    font-size: 30px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    font-weight: 600;

}
.special_service_line{
    width: 80px;
    height: 3px;
    background-color: rgb(238, 70, 35);
    margin: 0 auto 20px auto;
}
.special_service_content_slide_detail_in img{
    width: 100%;
}
@media (max-width: 540px) {


    .account_sidebar_content{
        flex-basis: 100%;
        min-width: 0;
    }
}
.comfirm_tranfer_alert .recharge_atm p{
    text-align: left ;
    font-size: 18px;
}
.comfirm_tranfer_alert span{
    color: red;
}
#recharge-info .recharge_atm {
    display: none;
}


/*mua thẻ*/
.news_image img{
    width: 100%;
}
.emply-btns > a, .emply-btns > button {
    float: left;
    width: 100%;
    background: #fb236a;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid #fb236a;
    padding: 11px 0;
    margin-top: 10px;
}
.emply-btns > .followus {
    background-color: #ffffff;
    border-color: #8b91dd;
    color: #8b91dd;
    font-weight: bold;
    outline: 0 none;
}
/*.c-content-box.c-size-lg {*/
/*    padding: 40px 0;*/
/*}*/
/*.captcha{*/
/*    border: 1px solid #ced4da;*/
/*}*/
button:focus{
    box-shadow: none;
}

.captcha img{
    width: 100%;
    height: 100%;
}
.captcha_trangchu img{
    width: 100%;
    height: 100%;
}

/*nam css*/
.success_storecard p{
    font-weight: 600;
}

.success_storecard p span{
    color: red;
}
#success_storecard .modal-header .close{
    margin: auto 0 !important;
}
.success_storecard .alert{
    margin-bottom: 0 !important;
}
.success_storecard_pin ,.success_storecard_serial{
    display: flex;
    justify-content: space-between;
}
.menu_active{
    color: rgb(238, 70, 35) !important;
}
.copy_acc:hover{
    color: rgb(238, 70, 35) !important;
}

.theashow:hover{
    text-decoration: none;
}
.theashow:hover span{
    text-decoration: none;
}

.item_buy_list_in:hover{
    box-shadow: #0c0c0c!important;
}
.intro_store_card{
    max-height: 120px;
    overflow: hidden;
    position: relative;
}
.intro_store_card{
    max-height: 120px;
    overflow: hidden;
    position: relative;
}
.intro_store_card.-expanded {
    max-height: unset !important;
}
.intro_store_card:not(.-expanded)::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) );
}
@media (max-width: 480px) {
    .intro_store_card img{
        max-width: 100%;
    }
}

.intro_store_card table{
    margin: auto;
    overflow-x: auto;
    display: block;
    width: fit-content;
    max-width: 100%;
}
.store_card-expand-button {
    cursor: pointer;
    display: block;
    width: 20%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(238, 70, 35) ;
    border-radius: 3px;
    background-color: #fff;
    color: rgb(238, 70, 35) !important;
    font-size: 13px;
    padding: 0.5rem;
}
.store_card-collapse-button{
    display: none;
    cursor: pointer;
    width: 20%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(238, 70, 35) ;
    border-radius: 3px;
    background-color: #fff;
    color: rgb(238, 70, 35) !important;
    font-size: 13px;
    padding: 0.5rem;
}

@media (max-width: 992px) {
    .store_card-collapse-button, .store_card-expand-button{
        width: auto;
    }
    .item_play_dif_slide_description__size{
        margin-top: 30px;
    }

}

.body-box-loadding{
    text-align: center;
    position: relative;
    min-height: 450px;
}
.result-amount-loadding{
    min-height: 245px !important;
}
.pulser {
    text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 100px;
    margin-top: 8px;
    width: 30px;
    height: 30px;
    border: 10px solid rgb(238, 70, 35) !important;
    animation-name: pulse, fadeout;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}
@keyframes pulse {
    0% { transform: scale(0); }
    100% { transform: scale(1); -webkit-filter: blur(5px); }
}

.c-content-tab-4.c-opt-3 > .nav > li > a {
    color: #474747;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid #AAB2BB;
}
.c-content-tab-4.c-opt-3 > .nav > li > a.active {
    color: rgb(238, 70, 35);
    border-bottom: 2px solid rgb(238, 70, 35);
    font-weight: 500;
}
.c-content-tab-4 ul{
    padding-left: 0!important;
}
.c-content-tab-4 ul li{
    list-style: none!important;
}

.justified__ul_li{
    width: 50% !important;
    text-align: center!important;

}

.justified__ul_li a{
    display: flex!important;
    justify-content: center;
    padding: 12px 0;
}
.justified__ul_li a:hover{
    text-decoration: none!important;
}

.modal__account .modal-header {
    justify-content: center;
    position: relative;
    align-items: center;
}

.nick-modal-header {
    font-weight: 600;
    font-size: 20px;
    color: #212529;
}

.modal__account .modal-header .nick-modal-header-close {
    cursor: pointer;
    position: absolute;
    right: 16px;
}

.modal__account .modal-body {
    padding: 0 24px;
}

#successModal.modal__account .modal-body {
    padding: 24px;
}

.c-tab-header-account {
    font-weight: 600;
    font-size: 16px;
    color: #212529;
    padding: 12px 0;
    margin-bottom: 0 !important;
}

.table-nick-properties {
    background: #FFFFFF;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
}

.table-nick-properties .table-nick-items:nth-child(odd) {
    background: #F2F2F2;
}

.table-nick-properties .table-nick-items:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.table-nick-properties .table-nick-items:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.table-nick-properties .table-nick-items:nth-child(even) {
    background: #FFFFFF;
}

.table-nick-items {
    align-items: center;
    padding: 8px 12px;
}

.table-properties-name {
    font-weight: 500;
    font-size: 16px;
    color: #676A6C;
}

.table-properties-value {
    font-weight: 600;
    font-size: 16px;
    color: #212529;
}

.c-account-price-block {
    align-items: center;
    padding: 24px 0;
    border-bottom: 1px solid #DEE2E6;
}

.c-account-price-title {
    font-weight: 600;
    font-size: 16px;
    color: #212529;
}

.c-account-price-value {
    font-weight: 600;
    font-size: 20px;
    color: rgb(238, 70, 35);
}

.modal__account .modal-footer {
    padding: 24px 0;
    flex-direction: column;
    justify-content: center;
    border-top: none;
}

.btn-nick {
    display: block;
    border: none;
    text-align: center;
    border-radius: 4px;
    width: 35%;
    padding: 10px 0;
    margin-left: 6px;
    font-weight: 600;
    font-size: 16px;
}

.btn-nick + .btn-nick {
    margin-right: 6px;
}

.btn-nick:hover {
    text-decoration: none;
}

.btn-nick.btn-primary {
    background-color: rgb(238, 70, 35);
    color: #fff;
}

.btn-nick.btn-primary:disabled,
.btn-nick.btn-primary:hover:disabled {
    background-color: #DCDEE9;
    color: #A7ABC3;
}

.btn-nick.btn-secondary {
    border: 1px solid rgb(238, 70, 35);
    color: rgb(238, 70, 35);
    background-color: transparent;
}

.btn-nick.btn-ghost {
    border: 1px solid #BCBFD6;
    color: #434657;
}

.btn-nick.btn-ghost:hover {
    border: 1px solid #82869E;
    color: #434657;
}

.btn-nick.btn-ghost:active {
    border: 1px solid #82869E;
    color: #434657;
}

.btn-nick.btn-ghost:disabled,
.btn-nick.btn-ghost:hover:disabled {
    border: 1px solid #C5C4C4;
    color: #9F9F9F;
    font-weight: 500;
}

.nick-footer-notify {
    margin-bottom: 24px;
    text-align: center;
}

.nick-footer-notify p {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 0 !important;
}

.modal-account-success-image {
    padding-bottom: 16px;
}

.nick-success-input-group label {
    display: block;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    margin-bottom: 8px;
}

.nick-notify-success-block {
    width: 100%;
    padding: 12px;
    margin-top: 16px;
}

.nick-notify-success-block p {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 14px;
    color: #434657;
}

#successModal.modal__account .modal-footer {
    border-top: 1px solid #DEE2E6;
}

@media (min-width: 576px){
    #successModal .modal-dialog__account {
        max-width: 580px !important;
    }
}

