.gallery {
    width: 100%;
    /*max-width: 500px;*/
    margin-left: auto;
    margin-right: auto;
}

.gallery-slider {
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
}

.gallery-slider .swiper-slide {
    width: 100%;
    height: 320px;
}

.gallery-slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    background-size: cover;
}

.gallery-thumbs {
    margin-top: 16px;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.gallery-thumbs .swiper-slide {
    width: 50px;
    /*height: 58px;*/
    height: auto;
    text-align: center;
    overflow: hidden;
    opacity: 1;
    background-size: cover;
}
.gallery-thumbs .swiper-slide img{

}

.gallery-thumbs .swiper-slide-active {
    opacity: 1;
}

.gallery-thumbs .swiper-slide img {
    width: 100px;
    height: auto;
    object-fit: cover;
    background-size: cover;
}

/*.gallery .swiper-button-next {*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    border-radius: 50%;*/
/*    background: #111111;*/
/*}*/

/*aaaaaaaaâ*/
.gallery  .swiper-button-prev {
    height: 40px;
    width: 40px;
    background:#545454;
    left: 15px;
    top: 40%;
    border-radius: 100%;
    z-index: 200;
}
.gallery__row{
    margin: 0 auto;
}

.gallery .swiper-button-next {
    height: 40px;
    width: 40px;
    right: 15px;
    background:  #545454;
    /*url("/assets/frontend/images/next_arrow.svg") no-repeat center center*/
    top: 40%;
    border-radius: 100%;
}

.gallery .swiper-button-next i{
    color: #FFF;
    top: 48%;
    position: absolute;
    transform: translate(50%,-50%);
    right: 50%;
}
.gallery .swiper-button-prev i{
    color: #FFF;
    top: 48%;
    position: absolute;
    transform: translate(50%,-50%);
    right: 50%;
}
.gallery .swiper-button-next:hover,
.gallery  .swiper-button-prev:hover {
    transition: all .2s;
    opacity: 80%;
}

/*vbbbbbbbbbbb*/

.gallery .swiper-button-next:after {
    display: none;
}

.gallery .arrow-right {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin: 0 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg) translate(-3px, 3px);
}

/*.gallery .swiper-button-prev {*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    border-radius: 50%;*/
/*    background: #111111;*/
/*}*/

.gallery .swiper-button-prev:after {
    display: none;
}

.gallery .arrow-left {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin: 0 10px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg) translate(3px, -3px);
}


/*css nam*/
.nav-tab-booking {
    background: darkgrey;
}
.nav-tab-booking .nav-item {
    float: left;
    font-size: 15px;
    padding: 15px;
    background: darkgrey;
    cursor: pointer;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}
.nav-tab-booking .nav-item.active {
    background: #32c5d2 !important;
}


@media (min-width: 1600px){
    .generals_item {
        flex: calc(100%/9)!important;
        max-width: calc(100%/9) !important;
        margin-top: 20px !important;
    }
    .costume_item {
        flex: calc(100%/6)!important;
        max-width: calc(100%/6) !important;
        margin-top: 20px !important;
    }
}
.costume_item {

    margin-top: 20px !important;
}
.generals_item {
    margin-top: 20px !important;
}
.generals_image {
    position: relative;
    display: block;
    background: rgba(0, 0, 0, .05);
    border: 2px solid transparent;
    transition: .2s ease;
    border-radius: 4px;
}
.generals_title{
    width: 100%;
    position: absolute;
    min-height: 30px;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: #32c5d2;
    font-weight: 600;

}
.generals_image img{
    width: 100%;
    border-radius: 4px;
}
.generals_item a:hover .generals_image{
    border-color:#32c5d2;
    color: #32c5d2;
    transition: .2s ease;
}

.costume_item_detail{
    height: 100%;
    border: 1px solid #ddd;
    padding: 2px;
    border-radius: 4px;
}
.costume_image {
    position: relative;
    display: block;
    background: rgba(0, 0, 0, .05);
    border: 2px solid transparent;
    transition: .2s ease;
    border-radius: 4px;
    overflow: hidden;
}
.costume_title{
    width: 100%;
    position: absolute;
    min-height: 30px;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: #32c5d2;
    font-weight: 600;
    font-size: 12px;

}
.costume_image img{
    width: 100%;
    border-radius: 4px;
}
.costume_item a:hover .costume_image{

}

.p-8{
    padding-right: 4px !important;
    padding-left: 4px !important;
}
.costume_image:after {
    animation: shine 1.5s infinite linear alternate;
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient( to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100%);
}
@keyframes shine {
    to {
        opacity: 1;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-timing-function: ease;
    }
}
.skin_item {
    margin-top: 20px !important;
}
.skin_image img{
    width: 100%;
}
.skin_item_detail{
    height: 100%;
    border: 1px solid #ddd;
    padding: 2px;
    border-radius: 4px;
}
.skin_image {
    position: relative;
    display: block;
    background: rgba(0, 0, 0, .05);
    border: 2px solid transparent;
    transition: .2s ease;
    border-radius: 4px;
    overflow: hidden;
}
.skin_title{
    width: 100%;
    min-height: 30px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: #32c5d2;
    font-weight: 600;
}
.skin_item a:hover{
    text-decoration: none;
}
.mapskin_title{
    width: 100%;
    position: absolute;
    min-height: 30px;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: #32c5d2;
    font-weight: 600;

}
.m-0{
    margin-right: 0;
    margin-left: 0;
}
@media (min-width: 992px) {
    .description_product .nav{
        justify-content: space-around;
    }

}
@media (max-width: 992px) {
    .mapskin_title{
        font-size: 12px;
    }
    .skin_title{
        font-size: 14px;
    }
    .costume_item,.skin_item  {

        margin-top: 8px !important;
    }
    .nav-tab-booking li{
        width: 100%;
    }
    .nav-tab-booking li a{
        width: 160px;
    }
    .description_product .nav{
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
}
#champions-list{
    max-height: 360px;
    overflow-y: auto;
}
#champions-list::-webkit-scrollbar-track
{
    position: absolute;
    top: 100px;
    left: -60px;
}

#champions-list::-webkit-scrollbar
{

    width: 6px;
    border: none;

}

#champions-list::-webkit-scrollbar-thumb
{
    background-color: darkgrey;
    border-radius: 100px;
    border: none;
    margin-left: 20px;
    height: 20px;
}


#acc_costume_list{
    max-height: 290px;
    overflow-y: auto;
}
#acc_costume_list::-webkit-scrollbar-track
{
    position: absolute;
    top: 100px;
    left: -60px;
}

#acc_costume_list::-webkit-scrollbar
{

    width: 6px;
    border: none;

}

#acc_costume_list::-webkit-scrollbar-thumb
{
    background-color: darkgrey;
    border-radius: 100px;
    border: none;
    margin-left: 20px;
    height: 20px;
}
#acc_color_list{
    max-height: 320px;
    overflow-y: auto;
}
#tftdamageskins_list{
    max-height: 320px;
    overflow-y: auto;
}
#tftmapskins_list{
    max-height: 320px;
    overflow-y: auto;
}
#acc_color_list::-webkit-scrollbar-track,#tftcompanions_list::-webkit-scrollbar-track,#tftdamageskins_list::-webkit-scrollbar-thumb,#tftmapskins_list::-webkit-scrollbar-thumb
{
    position: absolute;
    top: 100px;
    left: -60px;
}

#acc_color_list::-webkit-scrollbar,#tftcompanions_list::-webkit-scrollbar,#tftdamageskins_list::-webkit-scrollbar-thumb,#tftmapskins_list::-webkit-scrollbar-thumb
{

    width: 6px;
    border: none;

}

#acc_color_list::-webkit-scrollbar-thumb,#tftcompanions_list::-webkit-scrollbar-thumb,#tftdamageskins_list::-webkit-scrollbar-thumb,#tftmapskins_list::-webkit-scrollbar-thumb
{
    background-color: darkgrey;
    border-radius: 100px;
    border: none;
    margin-left: 20px;
    height: 20px;
}

#tftcompanions_list{
    max-height: 320px;
    overflow-y: auto;
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

    .gallery-slider .swiper-slide {
        width: 100%;
        height: auto!important;
    }
}
