input[type="checkbox"] + label::after {
    content: "\2714";
    color: #2c3e50;
    line-height: 1.5;
    text-align: center;
}
input[type="checkbox"] + label::after, input[type=radio] + label::after {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
input[type="checkbox"]:checked + label::after, input[type=radio]:checked + label::after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.simple-checkbox p input[type="checkbox"] + label::after {
    color: #ffffff;
}
