/*base*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css');

html{

    line-height: 1.6rem;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    /*height: auto;*/
    overflow-x: hidden;
    background-color: #EFEFEF;
    /*background:#000 url("https://www.shopas.net/storage/images/W1NwDQ3DiP_1640248137.jpeg");background-attachment: fixed;background-size: 100%*/
}

button:focus {
    outline:0px;
}
p{
     margin-bottom: 5px!important;
 }

button:focus {
    outline:0px;
}

.form-control:focus {
    /*border-color: #32c5d2 !important;*/
    box-shadow: 0 0 0 0.08rem #32c5d2 !important;
}
input[type="text"] {
    color: black;
}

:root{
    --primary-color: #9147FF;
    --white-text-color: white;
    --bg_cam: #F67600;

    --hover_home: rgba(145, 71, 255, 0);
    --bg_donate_gold: rgba(48, 205, 96, 0.16);
    --bg_donate_silver: rgba(255, 159, 71, 0.16);
    --bg_donate-bonze: rgba(243, 93, 93, 0.16);

    --silver_color: #26A44D;
    --gold-color: #FF9F47;
    --bonze-color: #F35D5D;

}

*{
    box-sizing: inherit;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;

}


html{

    line-height: 1.6rem;
    box-sizing: border-box;
    color: white;
}

/*              Banner       */
.banner-container-ct{
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
}

.banner-container-ct img{
    border-radius: 12px;
    width: 100%;
    object-fit: cover;
}

.menu-container-ct{

}
