.img-slider{
    width: 100%;
    height: 480px;
    border-radius: 8px;
}
@media (max-width: 767px) {
    .img-slider-mobile{
        height: 176px;
        border-radius: 0;
    }
}
.carousel-slider-item{
    padding-top: 16px;
}
@media (max-width: 767px) {
    .carousel-slider-item{
        padding-top: 0;
    }
}

.text-slider{
    margin-bottom: 1.25rem;
    background: #F3F3F7;
    border-radius: 8px;
    position: absolute;
    top: 20px;
    z-index: 99;
    margin-top: 12px;
    left: 177px;
}
@media (max-width: 767px) {
    .text-slider{
        right: 36px;
        left: 36px;
    }
}
.img-text-slider{
    position: absolute;
    top: 25%;
    left: 2%;
}
.text-item{
    display: inline-block;
    margin-bottom: 0;
    margin-right: 8px;
    font-weight: 600;
    font-size: 14px;
    color: #F67600;
}
.content-text{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    color: #434657;
}
.marquee-item{
    display: inline-block;
    width: 820px;
}
.marquee-move{
    display: block;
    padding: 8px 0;
    margin-left: 3.2rem;
}
/*@media (max-width: 767px) {*/
/*    .text-buy-card{*/
/*        padding-right: 332px !important;*/
/*    }*/
/*}*/
@media (max-width: 767px) {
    .text-buy-card{
        padding-right: 8px !important;
        margin: 0 !important;
        text-align: left !important;
    }
}


.buy-card{
    padding-top: 20px;
}
@media (max-width: 767px) {
    .buy-card{
        padding-top: 0;
    }
}
.choose-card{
    padding-top: 20px;
}
@media (max-width: 767px) {
    .choose-card{
        padding-top: 0;
    }
}
.select-tag-type{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.tag-card-item{
    width: 20%;
}
@media (max-width: 767px) {
    .tag-card-item-mobile{
        width: 33.333%;
    }
}

#content-store-card .deno__list .deno__item .card-item-value{
    height: 56px;
}

#content-store-card .cards__list .cards__item label{
    height: 83px;
}
#content-store-card #screen--first .card .card--header{
    border-bottom: none;
}

.product-header-item{
    border-bottom: 1px solid #DCDEE9;
    padding-bottom: 16px;
}
.text-content-service{
    padding-left: 8px;
}
@media (max-width: 767px) {
    .service-mobile{
        margin-top: 12px !important;
    }
}

