/*base*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css');

html{

    line-height: 1.6rem;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    /*height: auto;*/
    overflow-x: hidden;
    background-color: #EFEFEF;
    /*background:#000 url("https://www.shopas.net/storage/images/W1NwDQ3DiP_1640248137.jpeg");background-attachment: fixed;background-size: 100%*/
}

button:focus {
    outline:0px;
}
p{
     margin-bottom: 5px!important;
 }

button:focus {
    outline:0px;
}

.form-control:focus {
    /*border-color: #32c5d2 !important;*/
    box-shadow: 0 0 0 0.08rem #32c5d2 !important;
}


:root{
    --primary-color: #9147FF;
    --white-text-color: white;
    --bg_cam: #F67600;

    --hover_home: rgba(145, 71, 255, 0);
    --bg_donate_gold: rgba(48, 205, 96, 0.16);
    --bg_donate_silver: rgba(255, 159, 71, 0.16);
    --bg_donate-bonze: rgba(243, 93, 93, 0.16);

    --silver_color: #26A44D;
    --gold-color: #FF9F47;
    --bonze-color: #F35D5D;

}

*{
    box-sizing: inherit;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;

}


html{

    line-height: 1.6rem;
    box-sizing: border-box;
    color: white;
}

/*              Banner       */
.banner-container-ct{
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
}

.banner-container-ct img{
    border-radius: 12px;
    width: 100%;
    object-fit: cover;
}
.menu-container-ct{
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}
.menu-container-ct ul{
    float: left;
    margin-bottom: 0;
    padding-left: 0;
}
.menu-container-ct li{
    float: left;
    list-style: none;

}
.menu-container-ct li a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #82869E;
}
.menu-container-ct li a:hover{
    color: #F67600;
    text-decoration: none;
}
.menu-container-li-ct{
    margin-left: 12px;
}
.body-container-ct{
    padding-left: 0;
    padding-right: 0;
}
.marginauto{
    margin: 0 auto;
    width: 100%;
}
.body-container-row-ct{
    padding-top: 16px;
}
.left-right{
    padding-left: 0;
    padding-right: 0;
}
.body-row-ct{
    background-color: #ffffff;
    border-radius: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.body-header-col-ct{
    padding-left: 8px;
    padding-right: 0;
}
.body-header-col-ct h3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #434657;
    margin-bottom: 0;
}
.body-header-ct{
    padding-bottom: 16px;
    border-bottom: 1px solid #DCDEE9;
}
.body-title-ct{
    padding-top: 16px;
}

.body-title-ct span,
.body-search-ct span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #434657;
}
.body-search-ct{
    padding-top: 24px;
}
.body-form-search-ct{
    padding-top: 8px;
}

.body-form-search-ct img{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.input-search-ct{
    position: relative;
    border-radius: 8px;
    height: 40px;
    background-color: transparent;
    color: #434657;
    width: 343px;
    border: 1px solid #DCDEE9;
    padding-left: 44px;
}
.input-search-ct:focus-visible{
    border-color: #F67600;
    outline: none;
    box-shadow: none;
}
.input-search-ct:active{
    border-color: #F67600;
    outline: none;
    box-shadow: none;
}
.input-search-ct::placeholder{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #434657;
}
.body-form-search-button-ct{
    padding-left: 12px;
    padding-right: 0;
}
.timkiem-button-ct{
    border: none;
    border-radius: 8px;
    background-color: #F67600;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    width: 120px;
    height: 40px;
    transition: .2s;
}
.timkiem-button-ct:hover{
    border: 1px solid #F67600;
    background-color: transparent;
    color: #F67600;
    transition: .2s;
}
.body-detail-ct{
    padding-top: 8px;
}
.body-detail-col-ct{
    padding: 16px 8px 16px 8px;
    width: 12.5%;
}

.body-detail-account-col-ct{
    padding: 16px 8px 16px 8px;
    width: 16.6667%;
}
.body-detail-account-col-ct img{
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.body-detail-ctng-col-ct{
    padding: 16px 0 16px 0;
}
.body-detail-col-ct img{
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.body-detail-ctng-col-ct img{
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.body-detail-col-span-ct{
    padding-top: 16px;
}
.body-detail-col-span-ct span{
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 150%;
     color: #434657;
 }

.body-detail-account-col-span-ct{
    padding-top: 8px;
}
.body-detail-account-col-span-ct span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #434657;
}
.body-detail-account-small-span-ct{
    padding-top: 4px;
}
.body-detail-account-small-span-ct small{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #82869E;
}
.body-detail-row-ct{
    padding-left: 8px;
    padding-right: 8px;
}
.footer-row-ct span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #434657;
}
.footer-row-col-ct{
    padding-top: 24px;
}
.footer-row-col-ct p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #434657;
}

.footer-row-ct .content-video-in{
    max-height: 238px;
    overflow: hidden;
}
.footer-row-ct .view-more,.footer-row-ct .view-less{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #1990FF;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
}
.footer-row-ct .view-less img{
    margin-bottom: 4px;
}
.footer-row-ct .view-more img{
    margin-bottom: 4px;
}
.footer-row-ct .view-less{
    display: none;
}

.footer-row-ct .showtext{
    max-height:initial;
}
.footer-row-ct .hidetext {
    max-height: 140px;
    overflow: hidden;
}
.section-footer{
    padding-bottom: 160px;
}
.media-mobile{
    display: none;
    background: #ffffff;
}

.body-container-detail-left-ct{
    /*width: 45%;*/
    padding-left: 0;
    padding-right: 10px;
}

.body-container-detail-right-ct{
    /*width: 55%;*/
    padding-right: 0;
    padding-left: 10px;
}

/*    chitiet      */
.body-title-detail-col-ct{
    padding-left: 8px;
    padding-right: 8px;
}
.body-title-detail-col-left-ng-ct{
    padding-left: 8px;
    padding-right: 8px;
}
.body-title-detail-col-center-ng-ct{
    padding-left: 8px;
    padding-right: 4px;
}
.body-title-detail-col-right-ng-ct{
    padding-left: 4px;
    padding-right: 8px;
}
.body-title-detail-col-left-ng-ct{
    width: 60%;
}
.body-title-detail-col-right-ng-ct,
.body-title-detail-col-center-ng-ct{
    width: 20%;
}
.body-title-detail-col-ng-ct{
    padding-left: 8px;
    padding-right: 8px;
}
.body-title-detail-ct{
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
}
.body-title-detail-select-ct span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #7D7D7D;
}

.body-title-detail-select-ct{
    padding-top: 8px;
}

.body-title-detail-span-ct span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #434657;
}


.input-ratio-ct {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    color: #82869E;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 24px;
    margin-bottom: 0;
}

.input-ratio-ct input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.input-ratio-ct input:checked ~ .input-ratio-checkmark-ct {
    background-color: #F67600;
}
.input-ratio-checkmark-ct {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #DCDEE9;
    border-radius: 2px;
    margin-top: 2px;
}
.input-ratio-ct input:checked ~ .input-ratio-checkmark-ct:after {
    display: block;
}
.input-ratio-ct .input-ratio-checkmark-ct:after {
    left: 5px;
    top: 3px;
    width: 5px;
    height: 9px;
    border: solid white;
    /* background: url(check_radio_sheet.png) left top no-repeat; */
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.input-ratio-checkmark-ct:after {
    content: "";
    position: absolute;
    display: none;
}

.body-title-detail-checkbox-col-ct{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    width: 50%;
}
.body-title-detail-checkbox-ct{
    padding-left: 8px;
    padding-right: 8px;
}
.input-ratio-ct ul,
.body-title-detail-span-ct ul{
    float: left;
    padding-left: 0;
    margin-bottom: 0;
}
.input-ratio-ct li,
.body-title-detail-span-ct li{
    float: left;
    list-style: none;
}
.body-title-detail-span-ct li{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #434657;
    cursor: pointer;
}
.option-info-ct{
    margin-left: 4px;
}
.checkbox-info-ct{
    margin-left: 4px;
}
.checkbox-info-ct img{
    margin-bottom: 4px;
}
.input-defautf-ct{
    background: #FBFBFD;
    height: 40px;
    width: 100%;
    border: 1px solid #DCDEE9;
    border-radius: 8px;
    padding-left: 8px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #7D7D7D;
}

.input-defautf-ct:hover{
    color: #F67600;
    border: 1px solid #F67600;
}
.input-defautf-ct::placeholder{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: #7D7D7D;
    padding-left: 8px;
}
.input-defautf-ct:focus-visible{
    outline: #F67600;
    box-shadow: none;
}
.body-title-detail-span-right-ct{
    margin-left: auto;
}
.body-title-detail-span-ct small{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #F67600;
}
.button-default-ct{
    border: none;
    border-radius: 8px;
    background-color: #F67600;
    color: #FFFFFF;
    font-weight: 600;
    padding: 12px 24px;
    width: 100%;
    height: 56px;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 20px;
    line-height: 150%;
}
.button-default-ct:hover{
    border: 1px solid #DD6A00;
    background-color: #DD6A00;
    color: #FFFFFF;
}
.button-default-ct:hover:active{
    border: 1px solid #C55E00;
    background-color: #C55E00;
    color: #FFFFFF;
}
.bottom-container-ct{
    padding-bottom: 260px;
}
.body-header-col-km-left-ct{
    padding-left: 0;
    padding-right: 0;
}
.body-header-col-km-left-ct span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #434657;
}
.body-header-col-km-right-ct{
    margin-left: auto;
}
.body-header-col-km-right-ct a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #F67600;
    cursor: pointer;
}
.body-header-col-km-right-ct ul{
    float: left;
    padding-left: 0;
    margin-bottom: 0;
}
.body-header-col-km-right-ct li{
    float: left;
    list-style: none;
}
.banner-detail-ct{
    padding: 16px 0 0 0;
}
.banner-detail-ct img{
    border-bottom-left-radius: 8px;
    width: 100%;
    object-fit: cover;
    border-bottom-right-radius: 8px;
}
.body-detail-header-right-ct{
    background-color: #ffffff;
    border-radius: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
}
.body-detail-right-ct{
    background-color: #ffffff;
    border-radius: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 20px;
}
.body-detail-right-ng-ct{
    background-color: #ffffff;
    border-radius: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 20px;
    min-height: 420px;
}
.body-header-col-km-left-ct small{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #434657;
}
.option-info-right-ct{
    margin-left: 4px;
}
.error-ct small{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #DA4343;
}
.error-row-ct{
    padding-top: 4px;
}
.default-Modal .login{
    max-width: 409px!important;
}
.order-modal .login{
    max-width: 480px!important;
}
.modal-header-success-row-ct {
    border-bottom: none!important;
}
.modal-header-success-row-ct span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #434657;
}
.modal-header-success-ct {
    border-bottom: 0!important;
    padding: 20px 16px 0 16px;
}

.default-Modal .login .modal-content {
    position: relative;
    border-radius: 8px;
    background-color: #F3F3F7;
    z-index: 1;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
}
.order-modal .login .modal-content {
    position: relative;
    border-radius: 8px;
    background-color: #FFFFFF;
    z-index: 1;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
}
.modal-body-success-ct {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.modal-body-span-success-ct{
    padding-top: 24px;
}
.modal-body-span-success-ct span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #434657;
}
 .modal-body-span-success-ct small{
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 150%;
     color: #F67600;
 }
.modal-footer-success-ct {
    padding-top: 20px;
    padding-bottom: 16px;
}
.modal-footer-success-col-left-ct{
    padding-left: 0;
    padding-right: 8px;
    text-align: center;
}
.modal-footer-success-col-right-ct{
    padding-left: 8px;
    padding-right: 0;
    text-align: center;
}
.modal-footer-success-row-not-ct{
    background: transparent;
    border: 1px solid #F67600;
    border-radius: 8px;
    width: 100%;
    height: 48px;
    transition: 0.2s;
}
.modal-footer-success-row-not-ct:hover{
    background: #F67600;
}
.modal-footer-success-row-not-ct:hover:active{
    background: #C55E00;
}
.modal-footer-success-row-not-ct:hover a{
    color: #FFFFFF;
}
.modal-footer-success-row-not-ct a{
    padding: 12px 40px;
    line-height: 48px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #F67600;
}
.modal-footer-success-row-not-ct a:hover{
    text-decoration: none;
    transition: 0.2s;
}


.modal-footer-success-row-ct{
    background: #F67600;;
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 48px;
}
.modal-footer-success-row-ct:hover{
    background: #DD6A00;
    /*border-color: #DD6A00;*/
    transition: 0.2s;
}
.modal-footer-success-row-ct:hover:active{
    background: #DD6A00;
    transition: 0.2s;
    /*border-color: #DD6A00;*/
}
.modal-footer-success-row-ct:hover a{
    color: #ffffff;
    transition: 0.2s;
}
.modal-footer-success-row-ct a{
    padding: 12px 40px;
    line-height: 48px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
}
.modal-footer-success-row-ct a:hover{
    text-decoration: none;
}


.show-detail-service-ct .content-video-in{
    max-height: 200px;
    overflow: hidden;
}
.show-detail-service-ct .view-more,.show-detail-service-ct .view-less{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #1990FF;
    padding-top: 16px;
    /*padding-bottom: 16px;*/
    cursor: pointer;
}
.show-detail-service-ct .view-less img{
    margin-bottom: 4px;
}
.show-detail-service-ct .view-more img{
    margin-bottom: 4px;
}
.show-detail-service-ct .view-less{
    display: none;
}

.show-detail-service-ct .showtext{
    max-height:initial;
}
.show-detail-service-ct .hidetext {
    max-height: 140px;
    overflow: hidden;
}


.show-detail-caythue-ct .content-video-in{
    max-height: 200px;
    overflow: hidden;
}
.show-detail-caythue-ct .view-more,.show-detail-caythue-ct .view-less{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #1990FF;
    padding-top: 16px;
    /*padding-bottom: 16px;*/
    cursor: pointer;
}
.show-detail-caythue-ct .view-less img{
    margin-bottom: 4px;
}
.show-detail-caythue-ct .view-more img{
    margin-bottom: 4px;
}
.show-detail-caythue-ct .view-less{
    display: none;
}

.show-detail-caythue-ct .showtext{
    max-height:initial;
}
.show-detail-caythue-ct .hidetext {
    max-height: 140px;
    overflow: hidden;
}

.show-btn-password{
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 16px;
}
.body-title-detail-media-ct{
    width: 50%;
}

.capcha-image-bg img{
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    height: 40px;
}


.show-detail-napgame-ct .content-video-in{
    max-height: 310px;
    overflow: hidden;
}
.show-detail-napgame-ct .view-more,.show-detail-napgame-ct .view-less{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #1990FF;
    padding-top: 16px;
    /*padding-bottom: 16px;*/
    cursor: pointer;
}
.show-detail-napgame-ct .view-less img{
    margin-bottom: 4px;
}
.show-detail-napgame-ct .view-more img{
    margin-bottom: 4px;
}
.show-detail-napgame-ct .view-less{
    display: none;
}

.show-detail-napgame-ct .showtext{
    max-height:initial;
}
.show-detail-napgame-ct .hidetext {
    max-height: 140px;
    overflow: hidden;
}

.body-detail-col-span-ct a:hover{
    text-decoration: none;
}
.napgamekhac span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #434657;
}
.img-close-ct{
    position: absolute;
    top: 4px;
    right: 0;
    cursor: pointer;
}
.web-media-ct{
    padding-bottom: 82px;
}
.modal-header-order-ct{
    border-bottom: 0!important;
    padding: 16px 16px 0 16px;
}
.modal-header-order-ct span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1B1D29;
}
.modal-body-order-ct{
    padding: 16px;
}
.background-order-ct {
    background: #F3F3F7;
    border-radius: 8px;
}
.padding-order-ct{
    padding-top: 16px;
}
.background-order-row-ct{
    padding: 12px;
}
.background-order-col-left-ct span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #82869E;
}
.background-order-col-right-ct{
    margin-left: auto;
}
.background-order-col-right-ct small{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #434657;
}
.title-order-ct span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #434657;
}
.background-order-body-row-ct{
    padding: 6px 12px 0 12px;
}
.background-order-col-right-ct img{
    width: 48px;
    object-fit: cover;
}
.background-order-body-bottom-ct{
    padding: 6px 12px 12px 12px;
}

.background-order-col-right-ct span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #F67600;
}
.padding-order-footer-ct{
    padding-top: 24px;
    padding-bottom: 8px;
}
.padding-order-footer-mobile-ct{
    padding-top: 178px;
    padding-bottom: 8px;
}
.body-detail-account-small-span-ct ul{
    padding-left: 0;
    margin-bottom: 0;
    float: left;
}
.body-detail-account-small-span-ct li{
    list-style: none;
    float: left;
}
.body-detail-account-small-span-ct .fist-li-account{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #1B1D29;
}
.body-detail-account-small-span-ct .second-li-account{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    color: #82869E;
    margin-left: 10px;
    text-decoration-line: line-through;
}
.body-detail-account-small-span-ct .three-li-account{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
    background-color: #F67600;
    border-radius: 4px;
    margin-left: 10px;
    padding: 2px;
}
.body-detail-account-col-span-ct a:hover{
    text-decoration: none;
}

#formBookingStepMobie{
    display: none;
    position: relative!important;
}

#formBookingStepMobie fieldset {
    position: relative;
}

#formBookingStepMobie  fieldset:not(:first-of-type) {
    display: none;
}

.header-mobile{
    padding: 30px;
}
/*  Lap top  */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .body-header-col-ct h3{
        font-size: 20px!important;
        line-height: 40px!important;
    }
    .body-title-detail-checkbox-col-ct{
        width: 100%;
    }
    .body-title-detail-media-ct{
        width: 50%;
    }
    .body-detail-account-col-ct {
        width: 20%;
    }
}

/*  Ipat  */
@media (min-width: 768px) and (max-width: 992px) {
    .body-detail-col-ct {
        padding: 12px 8px 12px 8px!important;
        width: 20%!important;
    }
    .body-detail-ctng-col-ct{
        padding: 12px 0 12px 0!important;
    }
    .body-detail-ctng-col-ct{
        padding: 12px 0 12px 0!important;
    }
    .footer-row-col-ct{
        padding-top: 16px!important;
    }
    .body-container-detail-right-ct{
        padding-left: 0!important;
    }
    .body-container-detail-left-ct{
        padding-right: 0!important;
    }
    .body-detail-header-right-ct{
        margin-top: 20px!important;
        border-radius: 0!important;
    }
    .body-row-ct{
        border-radius: 0!important;
    }
    .banner-detail-ct img{
        border-bottom-left-radius: 0!important;
        border-bottom-right-radius: 0!important;
    }
    .body-detail-right-ct{
        border-radius: 0!important;
    }
    .body-detail-right-ng-ct{
        border-radius: 0!important;
    }
    .bottom-container-ct{
        padding-bottom: 0!important;
    }
    .body-detail-account-col-ct {
        width: 25%;
    }
    .body-detail-account-small-span-ct .fist-li-account {
        font-size: 16px;
    }
}

@media only screen and (min-width: 573px) and (max-width: 768px) {
    .body-detail-col-ct {
        padding: 12px 8px 12px 8px;
        width: 25%!important;
    }
    .body-detail-ctng-col-ct{
        padding: 12px 0 12px 0!important;
    }
    .input-search-ct{
        width: 300px!important;
    }
    .body-search-ct{
        padding-top: 16px!important;
    }

    .body-container-detail-right-ct{
        padding-left: 0!important;
    }
    .body-container-detail-left-ct{
        padding-right: 0!important;
    }
    .body-detail-header-right-ct{
        margin-top: 20px!important;
        border-radius: 0!important;
    }
    .body-row-ct{
        border-radius: 0!important;
    }
    .banner-detail-ct img{
        border-bottom-left-radius: 0!important;
        border-bottom-right-radius: 0!important;
    }
    .body-detail-right-ct{
        border-radius: 0!important;
    }
    .body-detail-right-ng-ct{
        border-radius: 0!important;
    }

    .bottom-container-ct{
        padding-bottom: 0!important;
    }
    .body-detail-account-col-ct {
        width: 33.333%;
    }
    .body-detail-account-small-span-ct .fist-li-account {
        font-size: 16px;
    }
    .body-header-col-ct h3{
        font-size: 20px;
    }
    .body-header-ct img{
        width: 30px;
    }
}

@media only screen and (min-width: 376px) and (max-width: 573px) {
    .media-web{
        display: none!important;
    }
    .body-header-col-ct h3{
        font-size: 16px!important;
    }
    .body-header-ct img{
        width: 24px!important;
    }
    .body-row-ct{
        border-radius: 0!important;
    }
    .body-title-ct span, .body-search-ct span{
        font-size: 14px!important;
    }
    .input-search-ct{
        width: 100% !important;
    }
    .media-mobile{
        display: block!important;
    }
    .body-detail-col-ct {
        padding: 4px 8px 6px 4px;
        width: 33.33%!important;
    }
    .body-detail-ctng-col-ct{
        padding: 4px 0 4px 0!important;
    }
    .body-detail-row-ct{
        padding-left: 8px!important;
        padding-right: 8px!important;
    }
    .body-detail-ct{
        padding-top: 14px!important;
    }
    .body-detail-col-span-ct span{
        font-size: 14px!important;
    }
    .body-detail-col-span-ct{
        padding-top: 8px!important;
    }
    .section-footer{
        padding-bottom: 0!important;
    }
    .footer-row-col-ct{
        padding-top: 8px!important;
    }
    .media-mobile{
        display: block!important;
    }
    .banner-mobile-container-ct{
        background-color: #FBFBFD!important;
        padding: 12px 16px 12px 16px!important;
    }
    .body-container-row-mobile-ct{
        padding-top: 0!important;
    }
    .banner-mobile-row-ct{
        /*padding-top: 12px!important;*/
    }
    .banner-mobile-back{
        width: 10% !important;
    }

    .banner-mobile-span h3{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700!important;
        font-size: 18px!important;
        line-height: 150%!important;
        color: #1B1D29;
        margin-bottom: 0;
    }
    .modal-footer-success-row-not-ct a{
        padding: 12px 32px!important;
    }
    .body-header-ct{
        padding-bottom: 8px!important;
    }
    .banner-container-ct{
        padding-top: 12px!important;
    }
    .body-container-detail-left-ct{
        padding-right: 0!important;
    }
    .body-container-detail-right-ct{
        padding-left: 0!important;
    }
    .body-detail-right-ct{
        border-radius: 0!important;
    }
    .body-detail-right-ng-ct{
        border-radius: 0!important;
    }
    .body-title-detail-col-ct{
        padding-right: 6px!important;
    }
    .body-title-detail-col-ct{
        padding-left: 6px!important;
    }
    .body-title-detail-span-ct span{
        font-size: 14px!important;
    }
    .body-title-detail-span-ct li{
        font-size: 14px!important;
    }
    .password-mobile{
        padding-top: 12px!important;
    }
    .button-default-ct {
        height: 48px!important;
        font-size: 16px!important;
    }
    .bottom-container-ct{
        padding-bottom: 0!important;
    }
    .body-title-detail-checkbox-col-ct{
        width: 100%;
    }

    .body-search-ct{
        padding-top: 16px!important;
    }
    .back-position-ct{
        position: absolute;
        top: 16px;
        left: 0;
    }
    .media-ctbg-ct{
        margin-top: 20px!important;
    }
    .modal-body-success-ct{
        padding-left: 16px!important;
        padding-right: 16px!important;
    }




    .body-detail-account-col-ct {
        width: 50%;
        padding: 8px 8px 16px 8px!important;
    }
    .body-detail-account-small-span-ct .fist-li-account {
        font-size: 16px;
    }
    .body-header-col-ct h3{
        font-size: 20px;
    }
    .body-header-ct img{
        width: 30px;
    }
    .body-detail-account-col-span-ct span{
        font-size: 14px!important;
    }
    .body-detail-account-small-span-ct small{
        font-size: 14px!important;
    }

    #formBookingStepMobie{
        display: block!important;
        position: relative!important;
    }
    .header-mobile{
        height: 48px!important;
        padding: 0!important;
    }
}

@media only screen and (max-width: 376px) {
    .header-mobile{
        height: 48px!important;
        padding: 0!important;
    }
    .body-detail-account-col-ct {
        width: 50%;
        padding: 8px 8px 16px 8px!important;
    }
    .body-detail-account-small-span-ct .fist-li-account {
        font-size: 16px;
    }
    .body-header-col-ct h3{
        font-size: 20px;
    }
    .body-header-ct img{
        width: 30px;
    }
    .body-detail-account-col-span-ct span{
        font-size: 14px!important;
    }
    .body-detail-account-small-span-ct small{
        font-size: 14px!important;
    }
    #formBookingStepMobie{
        display: block!important;
        position: relative!important;
    }

    .modal-body-success-ct{
        padding-left: 8px!important;
        padding-right: 8px!important;
    }
    .media-ctbg-ct{
        margin-top: 20px!important;
    }
    .back-position-ct{
        position: absolute;
        top: 16px;
        left: 0;
    }
    .body-search-ct{
        padding-top: 16px!important;
    }
    .body-title-detail-media-ct{
        width: 100%;
    }
    .body-title-detail-checkbox-col-ct{
        width: 100%;
    }
    .bottom-container-ct{
        padding-bottom: 0!important;
    }
    .button-default-ct {
        height: 48px!important;
        font-size: 16px!important;
    }
    .password-mobile{
        padding-top: 12px!important;
    }
    .body-title-detail-span-ct li{
        font-size: 14px!important;
    }
    .body-title-detail-span-ct span{
        font-size: 14px!important;
    }
    .body-title-detail-col-ct{
        padding-right: 6px!important;
    }
    .body-title-detail-col-ct{
        padding-left: 6px!important;
    }
    .body-detail-right-ct{
        border-radius: 0!important;
    }
    .body-detail-right-ng-ct{
        border-radius: 0!important;
    }
    .body-container-detail-right-ct{
        padding-left: 0!important;
    }
    .body-container-detail-left-ct{
        padding-right: 0!important;
    }
    .banner-container-ct{
        padding-top: 12px!important;
    }
    .body-header-ct{
        padding-bottom: 8px!important;
    }
    .modal-footer-success-row-not-ct a{
        padding: 12px 32px!important;
    }
    .banner-mobile-back{
        width: 10% !important;
    }

    .banner-mobile-span h3{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700!important;
        font-size: 18px!important;
        line-height: 150%!important;
        color: #1B1D29;
        margin-bottom: 0;
    }
    .banner-mobile-row-ct{
        /*padding-top: 12px!important;*/
    }
    .body-container-row-mobile-ct{
        padding-top: 0!important;
    }
    .banner-mobile-container-ct{
        background-color: #FBFBFD!important;
        padding: 12px 16px 12px 16px!important;
    }
    .media-mobile{
        display: block!important;
    }
    .media-web{
        display: none!important;
    }
    .body-header-col-ct h3{
        font-size: 14px!important;
    }
    .body-header-ct img{
        width: 24px!important;
    }
    .body-row-ct{
        border-radius: 0!important;
    }
    .body-title-ct span, .body-search-ct span{
        font-size: 14px!important;
    }
    .input-search-ct{
        width: 100% !important;
    }
    .media-mobile{
        display: block!important;
    }
    .body-detail-col-ct {
        padding: 4px 8px 6px 4px;
        width: 33.33%!important;
    }
    .body-detail-ctng-col-ct{
        padding: 4px 0 4px 0!important;
    }
    .body-detail-row-ct{
        padding-left: 8px!important;
        padding-right: 8px!important;
    }
    .body-detail-ct{
        padding-top: 14px!important;
    }
    .body-detail-col-span-ct span{
        font-size: 14px!important;
    }
    .body-detail-col-span-ct{
        padding-top: 8px!important;
    }
    .section-footer{
        padding-bottom: 0!important;
    }
    .footer-row-col-ct{
        padding-top: 8px!important;
    }

    .body-detail-account-col-ct {
        width: 50%;
        padding: 8px 8px 16px 8px!important;
    }
    .body-detail-account-small-span-ct .fist-li-account {
        font-size: 14px;
    }
    .body-header-col-ct h3{
        font-size: 20px;
    }
    .body-header-ct img{
        width: 30px;
    }
    .body-detail-account-col-span-ct span{
        font-size: 14px!important;
    }
    .body-detail-account-small-span-ct small{
        font-size: 14px!important;
        line-height: 24px!important;
    }
    .body-detail-account-small-span-ct .second-li-account{
        line-height: 24px!important;
    }
}

/* teeeeeeeeeeeeeeee*/
/* teeeeeeeeeeeeeeee*/
/* teeeeeeeeeeeeeeee*/
