/* Sidebar Components */
.sidebar {

}

.sidebar-section {
    background: #FFFFFF;
    padding: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.sidebar-section-avt {
    width: 40px;
    height: 40px;
}

.sidebar-section-avt img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar-section-title {
    color: var(--text-title-color);
}

.sidebar-section-info-text {
    color: var(--text-color);
}

.sidebar-section-info-text span {
    color: var(--primary-color);
}

.sidebar-item-icon {
    background-color: #F3F3F7;
}

.sidebar-item-text {
    flex: 1;
    color: var(--text-color);
}

.sidebar-transaction-item-text {
    color: var(--text-color);
    text-align: center;
}

.sidebar-item-partition {
    flex-direction: row-reverse;
}

.sidebar-item-partition::before {
    content: '';
    height: 1px;
    background-color: #E4E5F0;
    width: calc(100% - 52px);
}

.sidebar-item:hover .sidebar-item-icon, .sidebar-item.active .sidebar-item-icon {
    background-color: #E8EBF9;
}

.sidebar-item:hover .sidebar-item-icon svg path, .sidebar-item.active .sidebar-item-icon svg path {
    stroke: var(--primary-color);
}

.sidebar-item:hover .sidebar-item-text, .sidebar-item:hover .sidebar-transaction-item-text, .sidebar-item.active .sidebar-item-text, .sidebar-item.active .sidebar-transaction-item-text {
    color: var(--primary-color);
}

.sidebar-item.active {
    background-color: #E8EBF9;
    border-radius: 8px;
}

.sidebar-item.sidebar-item-col.active {
    background-color: inherit;
    border-radius: 0;
}

/* End Sidebar Compononents */

/* Money Recharge Coupon */
.recharge-money-container {
    border: 1px solid var(--border-default-color);
    background-color: #FFFFFF;
    min-height: 360px;
}

#chargeCardForm .input-group .text-error:empty {
    margin-top: 0 !important;
}

.recharge-money-tab p {
    color: var(--text-link-default-color);
    cursor: pointer;
    border-bottom: 1px solid #E4E5F0;
}

.recharge-money-tab p.active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    font-weight: 500 !important;
}

.money-form-group label {
    color: var(--text-color);
}

.refresh-captcha {
    /*width: 78px;*/
    padding: 0 28px;
    text-align: center;
    border: 1px solid #E4E5F0;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);

}
.refresh-captcha:focus{
    outline: none;
}
.refresh-captcha img{
    -moz-transition: all .8s linear;
    -webkit-transition: all .8s linear;
    transition: all .8s linear;
}
.refresh-captcha .down {
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
}

.money-radio-form label {
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    text-align: center;
    border: 1px solid;
    border-color: var(--border-default-color);
}

.money-radio-form label p {
    color: var(--text-color);
}

.money-radio-form input[type=radio]:checked ~ label {
    background-color: #E8EBF9;
}

.money-radio-form input[type=radio]:checked ~ label p {
    color: var(--primary-color);
}

.money-recharge-coupon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.atm-recharge-left p {
    max-width: 60%;
    color: var(--text-link-default-color);
}

.atm-recharge-attr p {
    max-width: 45%;
    color: var(--text-link-default-color);
}

.atm-recharge-attr div {
    color: var(--text-color);
}

.atm-recharge-guide {
    display: none;
}

.atm-recharge-guide p {
    color: var(--text-color);
}

.atm-recharge-error {
    color: var(--status-red-color);
}

.wallet-recharge-title {
    color: var(--text-color);
}

.wallet-card {
    background-color: #F8F8FC;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.wallet-card-img {
    width: 40px;
    height: 40px;
}

.wallet-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wallet-card-name {
    color: var(--text-color);
}

.wallet-card-content {
    flex: 1;
}

.wallet-card-address, .wallet-card-web {
    color: var(--text-link-default-color);
}

.wallet-recharge-message {
    color: var(--text-link-default-color);
}

.atm-recharge-banks, .atm-recharge-detail-block {
    background-color: #F8F8FC;
}

.bank-detail-img {
    width: 85px;
    height: 32px;
    object-fit: cover;
}

.atm-banks-label {
    color: var(--text-color);
}

.atm-bank-select label {
    cursor: pointer;
    width: 100%;
    height: 56px;
    text-align: center;
    border: 1px solid var(--border-default-color);
    box-shadow: 0px 2px 4px rgb(0 0 0 / 5%);
    position: relative;
}

.atm-bank-select input[type=radio]:checked ~ label {
    background-color: #E8EBF9;
}

.atm-bank-select label img {
    max-width: 80%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.atm-banks-note {
    color: var(--text-link-default-color);
}

.atm-recharge-detail {
    height: 100%;
}

.atm-recharge-attr + .atm-recharge-attr {
    margin-top: 8px;
}

.sheet-img-notify-block {
    background: #F8F8FC;
}

.sheet-notify-detail {
    text-align: center;
}

@media (max-width: 992px) {
    .atm-recharge-banks {
        background-color: transparent;
    }
}

@media (max-width: 480px) {
    .recharge-money-container {
        border: none;
    }

    .atm-recharge-guide {
        display: block;
    }

    .atm-recharge-content {
        border: 1px solid var(--border-default-color);
    }
}
/* End Money Recharge Coupon */

/* Buy Card Component */
.buy-card-title {
    color: var(--text-title-color);
}

.buy-card-container {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.buy-card-tab {
    background-color: #FFFFFF;
    box-shadow: 0 0 0 1px  var(--border-default-color);
    overflow: hidden;
}

.buy-card-tab p {
    color: var(--text-color);
    cursor: pointer;
}

.buy-card-tab p.active {
    background-color: var(--primary-color);
    color: #FFFFFF;
}

.buy-card-section label {
    color: var(--text-color);
}

.card-type-form label {
    cursor: pointer;
    width: 100%;
    height: 64px;
    text-align: center;
    border: 1px solid var(--border-default-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    position: relative;
}

.card-type-form input[type=radio]:checked ~ label {
    background-color: #E8EBF9;
}

.card-type-form label img {
    max-width: 80%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-price-form label {
    cursor: pointer;
    width: 100%;
    text-align: center;
    border: 1px solid var(--border-default-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.card-price-form input[type=radio]:checked ~ label {
    background-color: #E8EBF9;
}

.card-price-form input[type=radio]:checked ~ label p {
    color: var(--primary-color);
}

.buy-card-info {
    border: 1px solid var(--border-default-color);
}

.buy-card-info-title {
    color: var(--text-color);
}

.buy-card-discount {
    color: var(--text-link-default-color);
}

.buy-card-total {
    color: var(--primary-color);
}

.buy-card-amount {

}

.buy-card-amount .buy-card-amount-button {
    all: unset;
    width: calc(30px - 2px);
    cursor: pointer;
    border: 1px solid var(--border-default-color);
}

.buy-card-amount .buy-card-amount-button.button-minus {
    border-radius: 4px 0 0 4px;
}

.buy-card-amount .buy-card-amount-button.button-add {
    border-radius: 0 4px 4px 0;
}

.buy-card-amount .buy-card-amount-button img {
    margin: auto;
}

input[type=text].buy-card-amount-input {
    width: 40px;
    border-radius: 0;
    height: 32px;
    padding: 4px 0;
    text-align: center;
    outline: none;
    border: 1px solid var(--border-default-color);
}

/* Animation spin */
@-moz-keyframes spinImg { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spinImg { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spinImg { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.spinImg {
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

.spinImg.paused {
    animation-play-state: paused;
}


@media (max-width: 992px) {
    .buy-card-container {
        box-shadow: unset;
    }

    .buy-card-tab {
        background-color: #FFFFFF;
        box-shadow: unset;
        border-bottom: 1px solid var(--border-default-color);
    }

    .buy-card-tab p {
        text-align: center;
        color: var(--text-color);
        cursor: pointer;
    }

    .buy-card-tab p.active {
        background-color: inherit;
        color: var(--primary-color);
        border-bottom: 2px solid var(--primary-color);
    }
}

@media (max-width: 480px) {

}

/* End Buy Card Component */

/* History Detail General Component */

.history-detail-title, .history-detail-content {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.history-detail-title h1 {
    color: var(--text-title-color);
}

.history-detail-subtitle {
    border-bottom: 2px solid var(--border-default-color);
    color: var(--text-color);
}

.history-detail-label {
    color: var(--text-color);
}

.history-detail-info-block {
    background: #FFFFFF;
    border: 1px solid var(--border-default-color);
}

.history-detail-attr p {
    color: var(--text-link-default-color);
}

.history-detail-attr div.detail-success {
    color: var(--status-success-color);
}

.history-detail-attr div.detail-failed {
    color: var(--invalid-color);
}

.history-detail-attr div.detail-pending {
    color: var(--status-yellow-color);
}

.history-detail-attr div.detail-primary {
    color: var(--primary-color);
}

.history-detail-info-label {
    color: var(--text-link-default-color);
}

.order--timelines {
    list-style: none;
}

.order--timelines .order--timeline .order--status {
    color: var(--text-color);
}

.order--timelines .order--timeline .order--date {
    color: var(--text-link-default-color);
    padding-bottom: 24px;
}

.order--timelines .order--timeline:last-child .order--date {
    padding-bottom: 0;
}

.order--timelines .order--timeline .order--status, .order--timelines .order--timeline .order--date {
    position: relative;
}

.order--timelines .order--status:after {
    content: '';
    display: block;
    border-radius: 50%;
    background-color: var(--primary-color);
    position: absolute;
    width: 9px;
    height: 9px;
    top: 6px;
    left: calc(-10px - 12px);
}

.order--timelines .order--date:before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    border-left: 1px solid var(--ghost-border-default-color);
    left: calc(-12px - 6px);
    top: 0;
}

.order--timelines .order--timeline:last-child .order--date::before {
    content: none;
}

.service-change-title {
    color: var(--text-color);
    background-color: var(--input-disable-color);
}

.service-change-title span {
    color: var(--primary-color);
}

.service-change-detail {
    max-height: 170px;
    overflow-y: scroll;
}

.service-change-detail-item {
    border-bottom: 1px solid var(--border-default-color);
}

.service-change-detail-item:nth-child(odd) {
    background-color: #FFFFFF;
}

.service-change-detail-item:nth-child(even) {
    background-color: #F3F3F7;
}

.service-change-detail-item:last-child {
    border-bottom: none;
}

.service-change-detail-item .service-change-time {
    color: var(--text-blur);
}

@media (max-width: 480px) {

    .history-detail-content {
        box-shadow: none;
    }

    .service-change-detail {
        max-height: unset;
        overflow-y: unset;
    }

    .service-change-message-btn {
        width: 100%;
    }

}

/* End History Detail General Component */

/* Minigame Components */

.rotation-content-section {
    margin-bottom: 1.25rem;
}

.rotation-col-left {
    padding-right: 10px;
}

.rotation-col-right {
    padding-left: 10px;
}

.rotation-top {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-color: var(--primary-color);
    color: #FFFFFF;
}

.rotation-top h3, .rotation-top p, .rotation-top p span, .rotation-header-sale  p {
    color: #FFFFFF;
}

.rotation-detail {
    border: 1px solid var(--border-default-color);
    background-color: #FFFFFF;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.05));
}

.rotation-header h1 {
    color: #1B1D29;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 0;
    margin-right: .5rem;
}

.rotation-header button {
    border: 1px solid #F67600;
    border-radius: 8px;
    color: #F67600;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 20px;
    background-color: #FFFFFF;
}

.rotation-player {

}

.rotation-notify {
    position: relative;
    background: #F3F3F7;
    border-radius: 8px;
}

.rotation-notify img {
    position: absolute;
    top: 14%;
    left: 2%;
}

.rotation-marquee {
    display: block;
    padding: 8px 0;
    margin-left: 2.5rem;
}

.rotation-marquee-item {
    display: inline-block;
    margin-right: 0.75rem;
}

.rotation-marquee-item h6 {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 8px;
    font-weight: 600;
    font-size: 14px;
    color: #F67600;
}

.rotation-marquee-item h6::after {
    content: "";
    height: 2px;
    width: 2px;
    background-color: #434657;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 10px;
}

.rotation-marquee-item p {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    color: #434657;
}

.rotation-sale-header {
    background-color: #F67600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 40px;
}

.rotation-sale-header p {
    display: inline-flex;
    align-items: center;
    margin-bottom: 0;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    padding: 0 0.75rem;
}

.rotation-sale-content {
    background-color: #F3F3F7;
}

.rotation-sale-time {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.rotation-sale-time span {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin-right: 0.5rem;
}

.rotation-sale-time ul {
    list-style: none;
    /*background-image: url();*/
}

.rotation-sale-time li {
    width: 32px;
    height: 32px;
    background-color: var(--primary-color);
}

.rotation-sale-time li span {
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    margin-right: 0;
}

#rotationFirstPrice {
    text-decoration-line: line-through;
    color: var(--text-link-default-color);
}

#rotationSalePrice {
    color: var(--secondary-color);
}

#rotationSaleRatio {
    background: var(--secondary-color);
    color: #FFFFFF;
}

.rotation {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rotation-button {
    position: absolute;
    cursor: pointer;
}

.rotation-points {

}

.rotation-points-title {
    color: var(--text-color);
}

.rotation-points-title p {
    margin-bottom: 0;
}

.info-rotation {
    position: relative;
}

.info-rotation:hover .rotation-tooltip {
    display: block;
}

.rotation-tooltip {
    display: none;
    position: absolute;
    top: -60px;
    left: -86px;
    background-color: #2A2A2A;
}

.rotation-tooltip::after {
    content: "";
    position: absolute;
    left: 30%;
    bottom: -10%;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #2A2A2A;
}

.rotation-tooltip p {
    margin-bottom: 0;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    white-space: nowrap;
}

.progress-wrapper {
    width: 100%;
    position: relative;
    background: #DCDEE9;
    height: 0.5rem;
}

.progress-wrapper:hover .progress-tooltip {
    opacity: 1;
}

.progress-wrapper:hover .progress-tooltip:hover {
    opacity: 0;
}

.progress-bar {
    width: 50%;
    height: 0.5rem;
    background-color: var(--secondary-color);
}

.progress-tooltip {
    position: absolute;
    width: 200px;
    text-align: center;
    top: -42px;
    left: 0px;
    right: 0;
    padding: 0.5rem 0.75rem;
    background-color: #2A2A2A;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
}

.rotation-inputs input {
    width: 100%;
    height: 40px;
    padding-left: 0.75rem;
}

.rotation-inputs input::placeholder {
    font-weight: 400;
    font-size: 14px;
}

.nice-select.rotation-inputs-select .current {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.nice-select.rotation-inputs-select .list {
    width: 150%;
}

.rotation-buttons button {
    outline: none;
    width: 100%;
    border-radius: 8px;
}

.button-demo {
    padding: 0.75rem;
    font-weight: 600;
    font-size: 16px;
    background-color: #FFFFFF;
    color: #F67600;
    border: 1px solid #F67600;
}

.button-play {
    padding: 13px;
    font-weight: 600;
    font-size: 16px;
    background-color: #F67600;
    color: #FFFFFF;
    border: none;
}

.service-detail-block h6 {
    color: var(--text-title-color);
}

#minigame-detail .service-detail {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--border-default-color);
}

.service-detail-content {
    position: relative;
    height: 260px;
    overflow-y: scroll;
}

.service-detail-content::-webkit-scrollbar {
    width: 8px;
}

.service-detail-content::-webkit-scrollbar-thumb {
    background: #E4E5F0;
    border-radius: 100px;
    border: none;
}

.service-detail-content::-webkit-scrollbar-track {
    background: transparent;
}

.rotation-comment {
    background-color: #FFFFFF;
    border: 1px solid var(--border-default-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}

.rotation-comment h6 {
    color: var(--text-title-color);
}

.comment-block {
    height: 350px;
    overflow-y: scroll;
}

.comment-block::-webkit-scrollbar {
    width: 8px;
}

.comment-block::-webkit-scrollbar-thumb {
    background: #E4E5F0;
    border-radius: 100px;
    border: none;
}

.comment-block::-webkit-scrollbar-track {
    background: transparent;
}

.comment-item {

}

.comment-avatar img {

}

.comment-detail {
    margin-left: 0.5rem;
}

.comment-info span {
    color: var(--text-link-default-color);
}

.comment-info span::before {
    content: "";
    height: 3px;
    width: 3px;
    background-color: #82869E;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 2px;
    margin-right: 8px;
}

.comment-content {
    color: var(--text-color);
}

.comment-interact {

}

.comment-interact span {
    cursor: pointer;
    color: var(--text-link-default-color);
}

.comment-interact span img {
    margin-right: 0.25rem;
}

.commment-input {

}

.comment-user-avatar {

}

.commment-input input {
    width: 100%;
    height: 56px;
}

.comment-button {
    text-align: right;
}

.comment-button button {

}

.rotation-leaderboard {
    position: sticky;
    top: 64px;
    background: #FFFFFF;
    transition: top 0.2s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--border-default-color);
    transition: top 0.2s ease-in;
}

.leaderboard-items {
    background-color: #F3F3F7;
}

.leaderboard-items span {
    color: var(--text-color);
}

.leaderboard-items p {
    color: var(--primary-color);
}

.leaderboard-buttons {
    border-bottom: 1px solid var(--border-default-color);
}

.leaderboard-buttons button {

}

.leaderboard-header {

}

.leaderboard-header h5 {
    color: var(--text-title-color);
}

.leaderboard-type {
    border: 1px solid var(--border-default-color);
}

.leaderboard-type .nav .nav-item p {
    cursor: pointer;
}

.leaderboard-type .nav .nav-item p.active {
    background-color: var(--primary-color);
    color: #FFFFFF;
}

.leaderboard-table {

}

.leaderboard-item {

}

.leaderboard-item:nth-child(odd) {
    background-color: #FFFFFF;
}

.leaderboard-item:nth-child(even) {
    background-color: #F8F8FC;
}
.leaderboard-item-serial {
    text-align: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #DCDEE9;
    color: var(--text-color);
}

.leaderboard-item-content {
    flex: 1;
}

.leaderboard-seemore {
    display: none;
}

.rotation-top-mobile {
    border: 1px solid var(--border-default-color);
}

.rotation-top-mobile .rotation-header-sale {
    background-color: var(--secondary-color);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    color: #FFFFFF;
}

.rotation-top-mobile .rotation-sale-content {
    background-color: #FFFFFF;
}

.rotation-top-mobile .rotation-sale-time li {
    width: 24px;
    height: 24px;
}

.rotation-header-mobile {
    border-bottom: 1px solid var(--border-default-color);
}

.rotation-header-mobile .rotation-header h3 {
    color: var(--text-title-color);
}

.rotation-header-mobile .rotation-header p {
    color: var(--text-link-default-color);
}


@media (max-width: 1200px) {
    .rotation-header-sale {
        flex-direction: column;
    }
}

@media (max-width: 992px) {
    .rotation-header-sale {
        flex-direction: row;
    }

    .rotation-leaderboard {
        box-shadow: none;
        border: none;
    }

    .rotation-detail {
        border: none;
        filter: none;
    }

    .nice-select.rotation-inputs-select .list {
        width: 100%;
    }

    .comment-button {
        text-align: left;
    }

    .rotation-comment {
        box-shadow: none;
    }

    .leaderboard-type {
        border: none;
    }

    .leaderboard-type .nav .nav-item p {
        border-bottom: 1px solid var(--border-default-color);
    }

    .leaderboard-type .nav .nav-item p.active {
        background-color: inherit;
        color: var(--primary-color);
        border-bottom: 2px solid var(--primary-color);
        font-weight: 500 !important;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 480px) {

}

/* End Minigame Components */

/* Login Mobile Component */

.mobile-auth {
    position: fixed;
    background-color: #FFFFFF;
}

.mobile-auth-form form {
    display: flex;
}

.mobile-auth-form .text-error:empty {
    margin-top: 0 !important;
}

.mobile-auth-change-form span {
    color: var(--primary-color);
}

.forgot-text {
    color: var(--primary-color);
    text-align: right;
    cursor: pointer;
}

.login-line span {
    height: 1px;
    background-color: var(--border-default-color);
    flex: 1;
}

.login-line p {
    color: var(--text-link-default-color);
}

.social-container a {
    height: 40px;
    width: 40px;
}

/* End Login Mobile Component */

/* Loading Effect */
.loading-spokes {
    position: relative;
    margin: auto;
    height: 45px;
}
.loader{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.loading-spokes .spoke-container {
    position: absolute;
    top: 100%;
    left: calc(50% - 10px*1.5);
    transform-origin: 50% -100%;
}
.loading-spokes .spoke-container .spoke {
    background: var(--primary-color);
    width: 6px;
    height: 12px;
    animation: spoke 1s infinite;
    animation-delay: inherit;
}
.loading-spokes .spoke-container:nth-of-type(0n+1) {
    transform: translateX(100%) rotate(-90deg);
    animation-delay: -0.875s;
}
.loading-spokes .spoke-container:nth-of-type(0n+2) {
    transform: translateX(100%) rotate(-45deg);
    animation-delay: -0.75s;
}
.loading-spokes .spoke-container:nth-of-type(0n+3) {
    transform: translateX(100%);
    animation-delay: -0.625s;
}
.loading-spokes .spoke-container:nth-of-type(0n+4) {
    transform: translateX(100%) rotate(45deg);
    animation-delay: -0.5s;
}
.loading-spokes .spoke-container:nth-of-type(0n+5) {
    transform: translateX(100%) rotate(90deg);
    animation-delay: -0.375s;
}
.loading-spokes .spoke-container:nth-of-type(0n+6) {
    transform: translateX(100%) rotate(135deg);
    animation-delay: -0.25s;
}
.loading-spokes .spoke-container:nth-of-type(0n+7) {
    transform: translateX(100%) rotate(180deg);
    animation-delay: -0.125s;
}
.loading-spokes .spoke-container:nth-of-type(0n+8) {
    transform: translateX(100%) rotate(225deg);
    animation-delay: 0;
}
@keyframes spoke {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}
/* End Loading Effect */

/* Withdraw Minigame Modal */
#modalWithdraw .modal-dialog,
#modal-spin-bonus .modal-dialog
{
    max-width: 680px;
    margin: auto;
}

#modalWithdraw .modal-content,
#modal-spin-bonus .modal-content
{
    border: unset;
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

#modalWithdraw .modal-header,
#modal-spin-bonus .modal-header
{
    border-bottom: 1px solid var(--border-default-color);
}

#modalWithdraw .modal-header .modal-title,
#modal-spin-bonus .modal-header .modal-title
{
    color: var(--text-title-color);
}

#modalWithdraw .close,
#modal-spin-bonus .close
{
    position: absolute;
    top: 36px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    opacity: 1;
}

#modalWithdraw .close:before,
#modal-spin-bonus .close:before
{
    content: '';
    position: absolute;
    width: 100%;height: 100%;
    top: 0;
    left: 0;
    background-image: url('/assets/frontend/theme_3/image/icons/close.png');
    background-repeat: no-repeat;
    background-position: center;
}

#modalWithdraw .nav.nav-tabs {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-bottom: none;
}

#modalWithdraw .nav.nav-tabs .nav-item {
    display: table-cell;
    text-align: center;
}

#modalWithdraw .nav-tabs .nav-link {
    border-bottom: 1px solid var(--border-default-color);
    font-size: 13px;
    line-height: 24px;
    color: var(--text-link-default-color);
    font-weight: 400;
}

#modalWithdraw .nav-tabs .nav-link.active {
    color: var(--primary-color);
    font-weight: 500;
}

#modalWithdraw.nav-tabs .nav-link:not(.active):focus,
#modalWithdraw .nav-tabs .nav-link:not(.active):hover {
    border-color: transparent;
    border-bottom: 1px solid var(--border-default-color);
}

#modalWithdraw .nav-tabs .nav-item.show .nav-link,
#modalWithdraw .nav-tabs .nav-link.active {
    border-color: transparent;
    border-bottom: 2px solid  var(--primary-color);
}

#modal-tab-withdraw .item-block-tab {
    border-bottom: 1px solid var(--border-default-color);
}

#modal-tab-withdraw .item-input-tab {
    padding: 16px 16px 24px 16px;
}

#modalWithdraw .swiper-withdraw {
    overflow: hidden;
    margin-top: 12px;
    width: 100%;
}

#modalWithdraw .button-primary {
    width: 368px;
    padding: 12px;
    margin-top: 28px;
}

#modalWithdraw .input-form::placeholder {
    color: #82869E;
}

#modalWithdraw .card {
    border-radius: 8px;
}

#modalWithdraw .label-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 12px;
}

#modalWithdraw [name='game_type']:checked + .label-item {
    border: 1px solid var(--border-default-color);
    background-color: #E8EBF9;
    border-radius: 8px;
    padding: 11px;
}

#modalWithdraw .item-thumb {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    margin-bottom: 8px;
    align-self: center;
}

#modalWithdraw .label-item .item-info {
    margin-left: 8px;
}

#modal-tab-history .history-block-tab {
    border-bottom: 1px solid var(--border-default-color);
    padding: 12px 16px;
}

#modal-tab-history .form-search.history {
    margin-bottom: 24px;
}

#modal-tab-history .value-filter {
    margin-bottom: 12px;
}

#modal-tab-history .history-tab-inputs {
    margin-bottom: 12px;
}

.is-loading {
    position: relative;
}
.is-loading:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255,255,255,.75);
    z-index: 15;
}
.is-loading:after {
    content: 'Đang xử lí...';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 700;
    z-index: 16;
}

.history-list-tab {
    padding: 16px 4px 24px 16px;
}

#modalWithdraw .history-content {
    max-height: 260px;
}

/* End Withdraw Minigame Modal */

/* History Minigame Modal */

#modal-spin-bonus .section-history-filter, #sheet-filter-02 .section-history-filter {
    border-bottom: 1px solid var(--border-default-color);
    padding: 16px;
}

#modal-spin-bonus .section-history-list, #sheet-filter-02 .section-history-list {
    max-height: 260px;
    overflow-y: scroll;
    padding: 0 4px 24px 16px;
    margin-top: 16px;
    margin-right: 4px;
    margin-bottom: 8px;
}

#modal-spin-bonus .section-history-list::-webkit-scrollbar , #sheet-filter-02 .section-history-list::-webkit-scrollbar {
    width: 8px;
}

#modal-spin-bonus .section-history-list::-webkit-scrollbar-thumb , #sheet-filter-02 .section-history-list::-webkit-scrollbar-thumb {
    background: rgba(188, 191, 214, 0.5);
    border-radius: 14px;
}

#modal-spin-bonus .section-history-list::-webkit-scrollbar-thumb:active , #sheet-filter-02 .section-history-list::-webkit-scrollbar-thumb:active {
    background: rgba(188, 191, 214, 1);
}
#modal-spin-bonus .section-history-list::-webkit-scrollbar-thumb , #sheet-filter-02 .section-history-list::-webkit-scrollbar-thumb {
    transform: translateX(-12px);
}

#modal-spin-bonus .trans-list , #sheet-filter-02 .trans-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
/* End History Minigame Modal */

/* Component Card Hover Effect */

/* Type 1: Hover card in swiper slide */
.card-list .swiper-slide {
    margin-top: 4px;
    margin-bottom: 12px;
    top: 0;
}

.card-list .swiper-slide:hover {
    box-shadow: 0 3.4623px 6.1418px rgba(0,0,0,0.05),0 7.92923px 12.9218px rgba(0,0,0,0.05),0 9px 15px rgba(0,0,0,0.08)!important;
    top: -4px;
    transition: .2s ease-out;
    border-radius: 12px;
}

/* Type 2: Hover card without slide */

.card-hover {
    top: 0;
}

.card-hover:hover {
    box-shadow: 0 3.4623px 6.1418px rgba(0,0,0,0.05),0 7.92923px 12.9218px rgba(0,0,0,0.05),0 9px 15px rgba(0,0,0,0.08)!important;
    top: -4px;
    transition: all .2s ease-out;
}

@media (max-width: 992px) {
    /* Type 1: Hover card in swiper slide */
    .card-list .swiper-slide:hover {
        box-shadow: none;
        top: 0;
        transition: none;
        border-radius: 12px;
    }

    /* Type 2: Hover card without slide */
    .card-hover:hover {
        box-shadow: none;
        top: 0;
        transition: none;
    }
}

/* End Component Card Hover Effect */

/* Viewmore Modal */
#viewMore .login .modal-content {
    position: relative;
    border-radius: 8px;
    background-color: #FFFFFF;
    z-index: 1;
    border: none;
}

#viewMore .login{
    margin: 0 auto;
    max-width: 1380px!important;
    padding: 16px;
}

#viewMore{
    padding-right: 0!important;
}

#viewMore .modal-viewmore-body {
    overflow-y: scroll;
    max-height: 500px;
    margin: 16px 8px 16px 0;
    padding: 0 8px 0 16px;
}

#viewMore .modal-viewmore-body img {
    max-width: 100%;
}

#viewMore .modal-viewmore-body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#viewMore .modal-viewmore-body::-webkit-scrollbar-thumb {
    background: #E4E5F0;
    border-radius: 100px;
    border: none;
}

#viewMore .modal-viewmore-body::-webkit-scrollbar-track {
    background: transparent;
}

@media screen and (min-width: 1200px){
    #viewMore span {
        font-size: unset;
    }
}

@media (max-width: 1200px) {
    #viewMore .login{
        max-width: 1060px!important;
    } 
}


/* End Viewmore Modal */

/* Auto LOL modal */
.modal-lmht .nav-tabs .nav-item {
    width: inherit !important;
}

.modal-lmht .modal-body:hover::-webkit-scrollbar-thumb{
    background-color: #DCDEE9;
}

.modal-lmht .modal-body::-webkit-scrollbar-track
{
    position: absolute;
    top: 100px;
    left: -60px;
    background-color:  #ffffff;
    border: none;
}

.modal-lmht .modal-body::-webkit-scrollbar
{
    width: 8px;
    border: none;
}

.modal-lmht .modal-body::-webkit-scrollbar-thumb
{
    /*Màu thanh sroll*/
    background: #BCBFD6;
    border-radius: 100px;
    border: none;
    margin-left: 20px;
    height: 20px;
}
/* End Auto LOL modal */

/* Suggest list */
.suggest-list {
    background-color: #fff;
    border: 1px solid #E4E5F0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    z-index: 1;
    position: absolute;
    top: 100%;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 290px;
    overflow-y: auto;
}
.suggest-list:empty {
    display: none;
}
.suggest-list::-webkit-scrollbar {
    width: 8px;
}

/* Handle */
.suggest-list::-webkit-scrollbar-thumb {
    background: rgba(188, 191, 214, 0.5);
    border-radius: 14px;
}

.suggest-list .suggest-item {
    text-align: left;
    padding: 12px;
    cursor: pointer;
}
.suggest-list .suggest-item:not(:last-child) {
    box-shadow: inset 0 -1px 0 #E4E5F0;
}
/* End suggest list */
