/* lexend-regular - vietnamese_latin */
@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lexend-v2-vietnamese_latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/lexend-v2-vietnamese_latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/lexend-v2-vietnamese_latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/lexend-v2-vietnamese_latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/lexend-v2-vietnamese_latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/lexend-v2-vietnamese_latin-regular.svg#Lexend') format('svg');
    /* Legacy iOS */
}

/* lexend-700 - vietnamese_latin */
@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lexend-v2-vietnamese_latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/lexend-v2-vietnamese_latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/lexend-v2-vietnamese_latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/lexend-v2-vietnamese_latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/lexend-v2-vietnamese_latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/lexend-v2-vietnamese_latin-700.svg#Lexend') format('svg');
    /* Legacy iOS */
}



/* -------------------
  BODY
 --------------------*/
body {
    font-family: 'Lexend', sans-serif;
    background-image: url(../img/site-bg.jpg);
    background-position: 50% 0;
    background-repeat: no-repeat;
    font-weight: 400;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: #445F9B;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

strong {
    font-weight: 700;
}

.rounded {
    border-radius: 0.25rem !important;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
}

/* Accordion */
.accordion {
    .accordion-item {
        background: #fff;

        .accordion-button {
            background: #fff;
            padding: 0.5rem 1rem;

            &:after {
                opacity: 0.5;
            }
        }

        .accordion-button:not(.collapsed) {
            background: #F0F3F8;
            color: #D47927;
        }

        .accordion-body {
            padding: 1rem;
        }
    }
}


/* -------------------
  LAYOUT
 --------------------*/



/* -------------------
  UTINITIES
 --------------------*/
.op-7 {
    opacity: 0.7;
}

.op-5 {
    opacity: 0.5;
}

.bg-secondary {
    background-color: #798DB7 !important;
}

.btn-outline-secondary {
    border-color: #ccc;

    &:hover {
        background-color: #F0F3F8 !important;
        color: #222;
    }
}

.btn-secondary {
    background-color: #798DB7 !important;
    color: #fff !important;
}

.rounded-x {
    border-radius: 2rem;
}

.border-dashed {
    border: 1px dashed #ccc;
}

.bg-primary-gradient {
    background: rgb(53, 85, 153);
    background: -moz-linear-gradient(top, rgba(53, 85, 153, 1) 0%, rgba(30, 55, 109, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(53, 85, 153, 1) 0%, rgba(30, 55, 109, 1) 100%);
    background: linear-gradient(to bottom, rgba(53, 85, 153, 1) 0%, rgba(30, 55, 109, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#355599', endColorstr='#1e376d', GradientType=0);
}

.bg-warning-gradient {
    background: rgb(242, 153, 74);
    background: -moz-linear-gradient(top, rgba(242, 153, 74, 1) 0%, rgba(242, 114, 74, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(242, 153, 74, 1) 0%, rgba(242, 114, 74, 1) 100%);
    background: linear-gradient(to bottom, rgba(242, 153, 74, 1) 0%, rgba(242, 114, 74, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2994a', endColorstr='#f2724a', GradientType=0);
}

.title-style-tab {
    position: relative;

    &:before {
        width: 100%;
        height: 1px;
        background: #798DB7;
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
    }

    font-size: 1rem;

    span {
        display: inline-block;
        padding: 0.4rem 0 0.25rem 1rem;
        background: #798DB7;
        border-top-left-radius: 0.75rem;
        color: #fff;
        position: relative;

        &:after {
            width: 3rem;
            height: 100%;
            border-top-right-radius: 1rem;
            content: '';
            position: absolute;
            right: -1.5rem;
            top: 0;
            background: #798DB7;
            transform: skewX(35deg);
            z-index: -1;
        }
    }
}

.title-style-line {
    position: relative;

    &:before {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.1);
    }

    span {
        display: inline-block;
        border-bottom: 1px solid #fff;
        padding-bottom: 0.5rem;
    }

}

.title-style-left {
    border-left: 4px solid #F2994A;
    line-height: 1;
    padding-left: 0.75rem;
}

.title-style-collapse {
    border-left: 4px solid #F2994A;
    line-height: 1;
    padding-left: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: #F0F3F8;
    border-radius: 0.25rem;
    color: #1E376D;
}

.title-small {
    font-size: 0.875rem;
    font-weight: bold;
}

ul.a {
    list-style-type: circle;
}

ul.b {
    list-style-type: disc;
}

ul.c {
    list-style-type: square;
}

ol.d {
    list-style-type: armenian;
}

ol.e {
    list-style-type: cjk-ideographic;
}

ol.f {
    list-style-type: decimal;
}

ol.g {
    list-style-type: decimal-leading-zero;
}

ol.h {
    list-style-type: georgian;
}

ol.i {
    list-style-type: hebrew;
}

ol.j {
    list-style-type: hiragana;
}

ol.k {
    list-style-type: hiragana-iroha;
}

ol.l {
    list-style-type: katakana;
}

ol.m {
    list-style-type: katakana-iroha;
}

ol.n {
    list-style-type: lower-alpha;
}

ol.o {
    list-style-type: lower-greek;
}

ol.p {
    list-style-type: lower-latin;
}

ol.q {
    list-style-type: lower-roman;
}

ol.r {
    list-style-type: upper-alpha;
}

ol.s {
    list-style-type: upper-greek;
}

ol.t {
    list-style-type: upper-latin;
}

ol.u {
    list-style-type: upper-roman;
}

ol.v {
    list-style-type: none;
}

ol.w {
    list-style-type: inherit;
}

/* List  Arrow */
.list-with-icon {
    li {
        list-style: none;
        padding: 0;
        margin: 0;

        a {
            display: block;
            padding: 0.5rem 0.5rem 0.5rem 1.5rem;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            position: relative;
            color: #1E376D;

            .icon {
                position: absolute;
                left: 0;
                top: 0.7rem;
            }

        }

        &:last-child {
            a {
                border-bottom: 1px solid rgba(0, 0, 0, 0);
            }
        }
    }
}

/* List Arrow */
.list-item-default {
    margin: 0;
    padding: 0;

    .item {
        list-style: none;
        padding: 0;
        margin: 0;
        position: relative;
        padding-right: 2rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0.5rem 0;

        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }

        .item-title {
            font-size: 0.875rem;
        }

        .item-meta {}

        .icon {
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -0.5rem;
            font-size: 1rem;
            line-height: 1rem;
            color: #ccc;
        }
    }
}

/* Media Placeholder */
.media-placeholder {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    //background-color: #ccc;
    background-color: transparent;
}

.media-placeholder.ratio-16-9 {
    padding-bottom: 56.25%;
}

.media-placeholder.ratio-2-1 {
    padding-bottom: 50.25%;
}

.media-placeholder.ratio-4-3 {
    padding-bottom: 75%;
}

.media-placeholder.ratio-7-2 {
    padding-bottom: 35%;
}

.media-placeholder.ratio-5-2 {
    padding-bottom: 40%;
}

.media-placeholder.ratio-5-3 {
    padding-bottom: 60%;
}

.media-placeholder.ratio-5-6 {
    padding-bottom: 120%;
}

.media-placeholder.ratio-3-4 {
    padding-bottom: 133%;
}

.media-placeholder.ratio-5-7 {
    padding-bottom: 140%;
}

.media-placeholder.ratio-5-8 {
    padding-bottom: 140%;
}

.media-placeholder .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.media-placeholder .media-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

.bg-overlay {
    background: rgba(0, 0, 0, 0.2);

    &.gradient-from-bottom {
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=0);
    }
}

.gap {
    width: 100%;
    height: 0;
    padding-bottom: 2rem;
    clear: both;
    font-size: 0;
    line-height: 0;
}

.is-devider {
    position: relative;
    overflow: hidden;
    text-align: center;

    span {
        padding: 0 1rem;
        position: relative;
        color: rgba(0, 0, 0, 0.5);

        &:before {
            content: '';
            width: 1000rem;
            height: 1px;
            background: rgba(0, 0, 0, 0.1);
            position: absolute;
            right: 100%;
            top: 50%;
        }

        &:after {
            content: '';
            width: 1000rem;
            height: 1px;
            background: rgba(0, 0, 0, 0.1);
            position: absolute;
            left: 100%;
            top: 50%;
        }
    }
}

.flickity-page-dots {
    .dot {
        width: 6px;
        height: 6px;
        background: #355599;
    }
}


/* qp Tabs */
.nav-qp-tabs {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    .nav-item {
        position: relative;
        margin-bottom: -1px;
        font-size: 0.875rem;

        .nav-link {
            border-top-left-radius: 0.75rem;
            position: relative;
            color: #666;
            background: #fff;
            border: 1px solid #ccc;
            padding-left: 3.5rem;
            padding-right: 0.5rem;
            margin-left: -1rem;

            >span {
                position: relative;
                z-index: 20;
            }

            &:after {
                width: 3rem;
                height: 100%;
                border-top-right-radius: 1rem;
                content: '';
                position: absolute;
                right: -1.6rem;
                top: -1px;
                background: #fff;
                border-right: 1px solid #ccc;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                transform: skewX(35deg);
                z-index: 1;
                box-sizing: content-box;
            }


            &.active {
                background: #3C5B9A;
                color: #fff;
                border-color: #3C5B9A;

                &:after {
                    background: #3C5B9A;
                    border-right: 1px solid #3C5B9A;
                    border-top: 1px solid #3C5B9A;
                    border-bottom: 1px solid #3C5B9A;
                }
            }
        }

        &:first-child {
            .nav-link {
                padding-left: 1rem;
                margin-left: 0;
            }
        }

        &:nth-child(1) {
            z-index: 10;
        }

        &:nth-child(2) {
            z-index: 9;
        }

        &:nth-child(3) {
            z-index: 8;
        }

        &:nth-child(4) {
            z-index: 7;
        }

        &:nth-child(5) {
            z-index: 6;
        }
    }
}

/* qp-modal */
@media screen and (max-width: 576px) {
    .nav-qp-tabs-wrap {
        margin-left: -0.25rem;
        margin-right: -0.25rem;
    }

    .nav-qp-tabs {
        border-bottom: 0;
        width: 100%;

        .nav-item {
            flex-grow: 1;
            margin: 0 0.25rem;

            .nav-link {
                padding: 0.5rem;
                margin: 0;
                border-radius: 0.25rem;
                background-color: #F0F3F8;
                border: 0;

                span {
                    display: block;

                    i {
                        display: block;
                        text-align: center;
                        font-size: 1.5rem;
                    }

                    text-align: center;
                }

                &:after {
                    display: none;
                }
            }

        }
    }

}

/* Nav Line */
.nav-line {
    .nav-item {
        margin: 0 1rem;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        .nav-link {
            position: relative;
            padding: 1rem 0 0.75rem;
        }

        &.active {
            .nav-link {
                color: #D47927;

                &:before {
                    content: '';
                    width: 100%;
                    height: 1px;
                    background: #D47927;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
            }
        }
    }
}

/* input-group-search */
.input-group-search {
    .form-control {
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        padding-top: 0.3rem !important;
        padding-bottom: 0.25rem !important;
        border-right: 0;
    }

    .btn {
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        border: 1px solid #ccc;
        background: #fff !important;
        padding-top: 0.3rem !important;
        padding-bottom: 0.25rem !important;
        border-left:0;
    }
}

/* Nav Step */
.nav-steps-wrapper {
    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        width: 100%;
        height: 200%;
        position: absolute;
        left: 0;
        top: 0;
        background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
        background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a000000', endColorstr='#00000000', GradientType=1);
    }
}

.nav-steps {
    position: relative;
    z-index: 10;
    padding: 0.5rem;

    .nav-item {
        .nav-link {
            text-transform: uppercase;
            position: relative;
            padding-left: 2.75rem;
            color: #798DB7;

            .icon {
                width: 2rem;
                height: 2rem;
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -1rem;
                background: #798DB7;
                color: #fff;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

            }

            &.active {
                background: rgba(255, 255, 255, 0);
                color: #F2994A;

                .icon {
                    background: #F2994A;

                    &:before {
                        content: '';
                        width: 2.5rem;
                        height: 2.5rem;
                        border: 1px solid #F2994A;
                        position: absolute;
                        left: -0.25rem;
                        top: -0.25rem;
                        border-radius: 50%;
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 576px) {
    .nav-steps {
        flex-direction: column;

        .nav-item {
            margin-bottom: 0.5rem;
        }
    }

}


/* -------------------
  SITE HEADER
 --------------------*/
.site-header {

    .site-header-inner {

        .site-brand {
            .site-title {
                .site-link {
                    .site-logo {
                        max-height: 4rem;
                    }
                }
            }

        }

        .site-header-nav {
            .header-main-nav {
                .nav-item {
                    font-size: 1.125rem;
                    color: #fff;
                    position: relative;

                    .nav-link {
                        color: rgba(255, 255, 255, 0.7);
                    }

                    &.active {
                        .nav-link {
                            color: rgba(255, 255, 255, 1);
                        }

                        &:before {
                            content: '';
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 0 6px 6px 6px;
                            border-color: transparent transparent #eee transparent;
                            position: absolute;
                            left: 50%;
                            bottom: 0;
                            margin-left: -6px;
                        }
                    }
                }
            }
        }

        .site-header-right {
            .header-right-nav {
                .nav-item {
                    &.item-deposit {
                        .nav-link {
                            background: rgba(255, 255, 255, 0.2);
                            color: #fff;

                            &:hover {
                                background: rgba(255, 255, 255, 0.5);
                            }
                        }
                    }

                    &.item-user-panel {
                        .dropdown-toggle {
                            min-width: 10rem;
                            background: rgb(212, 121, 39);
                            background: -moz-linear-gradient(left, rgba(212, 121, 39, 1) 0%, rgba(242, 153, 74, 1) 80%);
                            background: -webkit-linear-gradient(left, rgba(212, 121, 39, 1) 0%, rgba(242, 153, 74, 1) 80%);
                            background: linear-gradient(to right, rgba(212, 121, 39, 1) 0%, rgba(242, 153, 74, 1) 80%);
                            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d47927', endColorstr='#f2994a', GradientType=1);
                            border-top-right-radius: 0.6rem;
                            padding-top: 0.5rem;
                            padding-bottom: 0.5rem;
                            min-height: 2rem;
                            padding-left: 0.5rem;
                            padding-right: 1rem;

                            &:before {
                                width: 3rem;
                                height: 100%;
                                border-top-left-radius: 1rem;
                                content: '';
                                position: absolute;
                                left: -1.5rem;
                                top: 0;
                                background: rgb(212, 121, 39);
                                transform: skewX(-20deg);
                                z-index: -1;
                            }

                            .text {
                                line-height: 1.3;
                            }

                            .avatar {
                                border: 2px solid #fff;
                                width: 2rem;
                                height: 2rem;
                            }
                        }

                        .dropdown-menu {
                            border-radius: 0.5rem;

                            .dropdown-item {
                                .icon {
                                    margin-right: 0.25rem;
                                    width: 1rem;
                                }
                            }
                        }

                    }

                    &.item-menu {

                        .nav-link {
                            background: rgba(255, 255, 255, 0);
                            padding: 0.25rem 0.5rem;
                            border: 1px solid rgba(255, 255, 255, 0.2);
                            border-radius: 0.25rem;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

/* Respond */
@media screen and (max-width: 992px) {
    .site-header {
        .site-header-right {
            .header-right-nav {
                .nav-item {
                    &.item-user-panel {
                        .dropdown-toggle {
                            background: rgba(255, 255, 255, 0) !important;
                            min-width: 2rem !important;
                            padding-left: 0 !important;
                            padding-right: 0 !important;

                            &:before {
                                display: none !important;
                                ;
                            }
                        }
                    }
                }
            }
        }
    }

    .site-main {
        .site-content {
            &:before {
                display: none;
            }
        }
    }
}

/* -------------------
  SITE MAIN
 --------------------*/
.site-main {
    position: relative;
    z-index: 100;

    .site-content {
        background: #fff;
        border-radius: 1rem;
        position: relative;
        min-height: 3rem;

        &:before {
            width: 2rem;
            height: 2rem;
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            background: rgb(242, 153, 74);
            background: -moz-linear-gradient(top, rgba(242, 153, 74, 1) 0%, rgba(188, 119, 58, 1) 100%);
            background: -webkit-linear-gradient(top, rgba(242, 153, 74, 1) 0%, rgba(188, 119, 58, 1) 100%);
            background: linear-gradient(to bottom, rgba(242, 153, 74, 1) 0%, rgba(188, 119, 58, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2994a', endColorstr='#bc773a', GradientType=0);
            z-index: -1;

        }

        &:after {
            content: '';
            width: 100%;
            height: 2rem;
            position: absolute;
            left: 0;
            top: 0;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            background: -moz-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 0) 100%);
            background: -webkit-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 0) 100%);
            background: linear-gradient(to bottom, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#00eeeeee', GradientType=0);
        }

        .site-content-inner {
            position: relative;
            z-index: 5;

            &:before {
                content: '';
                width: 100%;
                height: 2rem;
                border-bottom-right-radius: 1rem;
                border-bottom-left-radius: 1rem;
                background-color: #7489B6;
                position: absolute;
                z-index: -1;
                bottom: -0.5rem;
                left: 0;

            }

            .after {
                content: '';
                width: 25%;
                height: 2rem;
                border-bottom-right-radius: 1rem;
                border-bottom-left-radius: 1rem;
                background-color: #CEDCFA;
                position: absolute;
                z-index: -1;
                bottom: -1rem;
                left: 0;

                &:after {
                    width: 3rem;
                    height: 100%;
                    border-bottom-right-radius: 1rem;
                    content: '';
                    position: absolute;
                    right: -1.5rem;
                    top: 0;
                    background: #CEDCFA;
                    transform: skewX(-35deg);
                    z-index: -1;
                }

            }

        }

        .site-content-body {
            padding: 1.25rem;
            position: relative;
            z-index: 20;

            &.alt {
                background: #F0F3F8;
            }

            &.last {
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
            }

            &.first {
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;

            }

        }
    }

}

/* -------------------
  GLOBAL
 --------------------*/
/* Item Support */
.item-block-support {
    background: #F0F3F8;

    .item-icon {
        font-size: 1.5rem;
        color: #92A6C7;
    }

    .item-content {
        .main-text {
            font-size: 1.125rem;
            line-height: 1;
        }
    }

    &.hotline {
        background-color: #FBEEE3;

        .item-icon {
            color: #ECD1B9;
        }

        .item-content {}
    }

}

/* Item Artclce */
.item-article {
    .item-thumb {}

    .item-content {
        .item-title {
            font-size: 0.875rem;
            line-height: 1.4;
        }
    }

    &.feature {
        .item-content {
            .item-title {
                font-size: 1.125rem;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .item-article {
        display: flex;

        .item-thumb {
            flex: 0 0 auto;
            width: 100px;
            margin-right: 1rem;

            .media-placeholder {
                padding-bottom: 75%;
            }
        }

        .item-content {
            flex-grow: 1;
        }

        &.feature {
            flex-direction: column;

            .item-thumb {
                flex: 0 0 auto;
                width: 100%;

                .media-placeholder {
                    padding-bottom: 50%;
                }
            }
        }

    }
}

/* Item Artclce */
.item-c-article {
    display: flex;

    .item-thumb {
        flex: 0 0 auto;
        width: 320px;
        max-width: 25%;
    }

    .item-content {
        flex-grow: 1;
        padding-left: 1.5rem;

        .item-summary {
            margin-top: 1rem;
        }
    }

}

/* Item */
.item-f-article {
    .item-thumb {
        &:before {
            content: '';
            height: 50%;
            width: 100%;
            position: absolute;
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
            border-bottom-left-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
        }

    }
}

@media screen and (max-width: 992px) {
    .item-c-article {

        .item-thumb {
            flex: 0 0 auto;
            width: 320px;
            max-width: 35%;
        }
    }
}

@media screen and (max-width: 567px) {
    .item-c-article {
        .item-thumb {}

        .item-content {

            .item-title {
                font-size: 1rem;
            }

            .item-summary {
                display: none;
            }
        }
    }

    .item-f-article {
        .item-thumb {
            .item-title {
                font-size: 1.25rem;
            }
        }
    }
}

/* article Single */
.article-single {
    .article-thumb {

        .media-placeholder {
            &:before {
                content: '';
                height: 50%;
                width: 100%;
                position: absolute;
                background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
                background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 1;
                border-bottom-left-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;
            }
        }


    }

    .article-main {

        .social-share {

            flex: 0 0 auto;
            width: 5rem;

        }

        .article-content {
            font-size: 1rem;
        }
    }

}

/* Social Icons */
.social-icons {
    .nav-item {
        .nav-link {
            width: 2.5rem;
            height: 2.5rem;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            background: #ccc;
            color: #333;
            border-radius: 50%;
            margin: 0 0.25rem 0.25rem 0;
        }

        &.facebook {
            .nav-link {
                background: #445F9B;
                color: #fff;
            }
        }

        &.twitter {
            .nav-link {
                background: #2D9CDB;
                color: #fff;
            }
        }
    }
}



/* Block Number */
.block-number {
    padding-left: 3rem;
    position: relative;

    &:before {
        width: 1px;
        height: 100%;
        content: '';
        background: #ccc;
        position: absolute;
        left: 1rem;
        top: 0;
        z-index: 1;
    }

    &:after {
        content: '';
        width: 2.5rem;
        height: 2.5rem;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        left: -0.25rem;
        top: -0.65rem;
        z-index: 5;
    }

    .icon {
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #798DB7;
        border-radius: 50%;
        color: #fff;
        position: absolute;
        left: 0;
        top: -0.4rem;
        z-index: 10;
    }

    &.last {
        &:before {
            display: none;
        }
    }

    &:hover {
        .icon {
            background: #F2994A;
        }
    }
}

@media screen and (max-width: 576px) {
    .block-number {
        padding-left: 0;

        h6 {
            padding-left: 2.5rem;
        }

        &:before {
            display: none;
        }

        &:after {
            display: none;
        }
    }

}

/* Row Method */
.row-gateway {
    .item-gateway {
        border: 2px solid #ccc;
        border-radius: 0.25rem;
        padding: 0.75rem;
        cursor: pointer;
        position: relative;

        .img {
            height: 70px;
        }

        &.out {
            .img {
                -webkit-filter: grayscale(80%);
                filter: grayscale(80%);
            }
        }

        &:hover {
            border-color: #B0B0B0;
        }

        &.active {
            border-color: #EB5757;

            .img {
                -webkit-filter: grayscale(0%);
                filter: grayscale(0%);
            }


            &:before {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 24px 24px 0 0;
                border-color: #EB5757 transparent transparent transparent;
                position: absolute;
                left: 0;
                top: 0;
            }

            ;
        }
    }
}

@media screen and (max-width: 576px) {
    .row-gateway {
        .col-md-3.col-6 {
            flex: 0 0 auto;
            width: 40%;
        }
    }

}

/* Row prices */
.row-price {
    .item-price {
        border: 2px solid #ccc;
        border-radius: 0.25rem;
        padding: 0.75rem;
        cursor: pointer;
        position: relative;

        &:hover {
            border-color: #B0B0B0;
        }



        &.active {
            border-color: #EB5757;


            &:before {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 24px 24px 0 0;
                border-color: #EB5757 transparent transparent transparent;
                position: absolute;
                left: 0;
                top: 0;
            }

            ;
        }
    }
}

@media screen and (max-width: 576px) {
    .row-price {
        .col-md-3.col-6 {
            flex: 0 0 auto;
            width: 40%;
        }
    }

}

/* Block Profile */
.block-profile {
    .block-header {
        background: #F0F3F8;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        .avatar {
            border: 3px solid #fff;
            max-height: 72px;
        }
    }

    .block-content {}
}

/* Purchased Item */
.purchased-item {
    .item-content {
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        position: relative;

        &:before {
            content: '';
            width: 100%;
            height: 25%;
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d000000', endColorstr='#00000000', GradientType=0);
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
            border-left-top-radius: 0.25rem;
            border-right-top-radius: 0.25rem;
        }

        .inner {
            padding: 0.5rem 1rem;
            position: relative;
            z-index: 10;

            &:before,
            &:after {
                content: '';
                width: 1px;
                height: 20px;
                background: #ccc;
                position: absolute;
                bottom: -15px;
            }

            &:before {
                left: -1px;
                z-index: 10;
            }

            &:after {
                right: -1px;
                z-index: 5;
            }
        }

        &:after {
            content: '';
            width: 100%;
            height: 20px;
            background: url(../img/purchased-bottom-arr.png) 50% 100% repeat-x;
            position: absolute;
            bottom: -16px;
            left: 0;
        }



        .item-logo {
            line-height: 32px;
            height: 32px;

            .logo {
                max-height: 32px;
            }
        }

    }

    &:hover {
        .item-content {
            border-color: #666;

            &:before {
                background: #fff;
            }

            .inner {

                &:before,
                &:after {
                    background-color: #666;
                }
            }

            &:after {
                background: url(../img/purchased-bottom-arr-hover.png) 50% 100% repeat-x;
            }
        }
    }
}

/* List Banks */
.list-banks {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
        list-style: none;
        margin: 0;
        padding: 5px;
        flex: 0 0 25%;
        max-width: 25%;

        a {
            display: block;
            padding: 5px;
            border: 2px solid #ccc;
            text-align: center;
            border-radius: 0.25rem;

            &.out {
                -webkit-filter: grayscale(80%);
                filter: grayscale(80%);
            }

            &:hover {
                border: 2px solid #666;
            }

            &.active {
                border: 2px solid #EB5757;
                -webkit-filter: grayscale(0%);
                filter: grayscale(0%);

                &:before {
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 24px 24px 0 0;
                    border-color: #EB5757 transparent transparent transparent;
                    position: absolute;
                    left: 0;
                    top: 0;
                }

                ;

                &:hover {
                    border: 2px solid #EB5757;
                    -webkit-filter: grayscale(0%);
                    filter: grayscale(0%);
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .list-banks {
        li {
            list-style: none;
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

}

/* Qp Modal */
.qp-modal {
    .modal-header {
        padding: 0 !important;
        background: #F0F3F8;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;

        .btn-close {
            margin: 0;
            padding-top: 0.1rem;
            padding-top: 0.1rem;
        }

        .modal-title {
            font-size: 1rem;
            background: #798DB7;
            display: inline-block;
            padding: 0.5rem 0 0.5rem 1rem;
            color: #fff;
            border-top-left-radius: 1rem;
            margin-top: -1rem;
            position: relative;

            span {
                position: relative;
                z-index: 20;
            }

            &:after {
                width: 3rem;
                height: 100%;
                border-top-right-radius: 1rem;
                content: '';
                position: absolute;
                right: -1.6rem;
                bottom: 0;
                background: #798DB7;
                transform: skewX(25deg);
                z-index: 1;
            }
        }
    }
}

/* List Posts */
.list-posts {
    margin: 0;
    padding: 0;

    .item {
        list-style: none;

        .item-thumb {
            flex: 0 0 auto;
            width: 48px;
        }

        .item-content {}
    }
}

/* -------------------
  SITE FOOTER
 --------------------*/
.site-footer {
    position: relative;
    z-index: 20;
    overflow: hidden;
    margin-top: -9rem;
    font-size: 0.875rem;

    &:before {
        content: '';
        width: 140vw;
        height: 16rem;
        border-radius: 50%;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 60%);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 60%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 60%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#00000000', GradientType=0);
        position: absolute;
        left: -20vw;
    }

    .foo-nav {
        .nav-item {
            .nav-link {
                padding: 0.25rem 0 0.25rem 1.25rem;
                color: rgba(255, 255, 255, 0.7);
                position: relative;

                .icon {
                    position: absolute;
                    left: 0;
                    top: 0.5rem;
                }

                &:hover {
                    color: rgba(255, 255, 255, 1);
                }
            }
        }
    }

    .site-footer-content {
        padding: 12rem 0 2rem;
        z-index: 50;
        position: relative;
    }

    .site-footer-bar {
        background: rgba(0, 0, 0, 0.2);
        padding: 1rem 0;
    }
}


/* -------------------
  OFFCANVAS
 --------------------*/
.overlay {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 888;
    background: rgba(0, 0, 0, 0.5);
    filter: blur(5px);
    -webkit-filter: blur(5px);
    display: none;
}

.scroll-top {
    position: fixed;
    right: 20px;
    bottom: -100px;
    transition: all ease 0.2s;
    z-index: 666;

    .scroll-top-link {
        display: inline-block;
        width: 48px;
        height: 48px;
        background: rgba(0, 0, 0, 0.2);
        color: #fff;
        line-height: 48px;
        text-align: center;
        border-radius: 1rem;
        transition: all ease 0.2s;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
}


/* OffCanvas Nav */
.offcanvas-nav {
    width: 480px;
    max-width: 100%;
    position: fixed;
    top: 0;
    right: -480px;
    height: 100vh;
    background: #1E376D;
    color: #fff;
    z-index: 999;
    transition: all ease 0.2s;

    .btn-close {
        position: absolute;
        right: 1rem;
        top: 1rem;
        color: #fff;
        background: none;
        font-size: 1.125rem;
    }

    .offcanvas-nav-inner {
        overflow-y: auto;

        .nav {
            margin-top: 2rem;

            .nav-item {
                font-size: 1rem;
                border-top: 1px solid rgba(255, 255, 255, 0.1);

                .nav-link {
                    padding-left: 0;
                    padding-right: 0;
                    color: rgba(255, 255, 255, 0.5);

                    &:hover {
                        color: rgba(255, 255, 255, 1);
                    }

                    .icon {
                        margin-right: 0.5rem;
                        width: 1rem;
                    }

                    &.dropdown-toggle {
                        &:after {
                            position: absolute;
                            right: 0.25rem;
                            top: 1.1rem;
                            opacity: 0.5;
                        }
                    }
                }

                &.active {
                    .nav-link {
                        color: rgba(255, 255, 255, 1);
                    }
                }

                .dropdown-menu {
                    border-radius: 0;
                    position: relative !important;
                    transform: translate3d(0px, 0px, 0px) !important;
                    width: 100%;
                    background: rgba(255, 255, 255, 0.1);
                    border: 0;

                    .dropdown-item {
                        color: #fff;

                        &:hover {
                            background: rgba(255, 255, 255, 0.2);
                        }
                    }
                }


            }
        }
    }
}

/* -------------------
  RESPONDSIVE
 --------------------*/
