/* lexend-regular - vietnamese_latin */
@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lexend-v2-vietnamese_latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/lexend-v2-vietnamese_latin-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/lexend-v2-vietnamese_latin-regular.woff2') format('woff2'), url('../fonts/lexend-v2-vietnamese_latin-regular.woff') format('woff'), url('../fonts/lexend-v2-vietnamese_latin-regular.ttf') format('truetype'), url('../fonts/lexend-v2-vietnamese_latin-regular.svg#Lexend') format('svg');
    /* IE6-IE8 */
    /* Super Modern Browsers */
    /* Modern Browsers */
    /* Safari, Android, iOS */
    /* Legacy iOS */
}
/* lexend-700 - vietnamese_latin */
@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lexend-v2-vietnamese_latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/lexend-v2-vietnamese_latin-700.eot?#iefix') format('embedded-opentype'), url('../fonts/lexend-v2-vietnamese_latin-700.woff2') format('woff2'), url('../fonts/lexend-v2-vietnamese_latin-700.woff') format('woff'), url('../fonts/lexend-v2-vietnamese_latin-700.ttf') format('truetype'), url('../fonts/lexend-v2-vietnamese_latin-700.svg#Lexend') format('svg');
    /* IE6-IE8 */
    /* Super Modern Browsers */
    /* Modern Browsers */
    /* Safari, Android, iOS */
    /* Legacy iOS */
}
/* ------------------- BODY --------------------*/
body {
    font-family: 'Lexend', sans-serif;
    background-image: url(../img/site-bg.jpg);
    background-position: 50% 0;
    background-repeat: no-repeat;
    font-weight: 400;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    text-decoration: none;
    color: #445f9b;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
strong {
    font-weight: 700;
}
.rounded {
    border-radius: 0.25rem !important;
}
.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
}
/* Accordion */
.accordion .accordion-item {
    background: #fff;
}
.accordion .accordion-item .accordion-button {
    background: #fff;
    padding: 0.5rem 1rem;
}
.accordion .accordion-item .accordion-button:after {
    opacity: 0.5;
}
.accordion .accordion-item .accordion-button:not(.collapsed) {
    background: #f0f3f8;
    color: #d47927;
}
.accordion .accordion-item .accordion-body {
    padding: 1rem;
}
/* ------------------- LAYOUT --------------------*/
/* ------------------- UTINITIES --------------------*/
.op-7 {
    opacity: 0.7;
}
.op-5 {
    opacity: 0.5;
}
.bg-secondary {
    background-color: #798db7 !important;
}
.btn-outline-secondary {
    border-color: #ccc;
}
.btn-outline-secondary:hover {
    background-color: #f0f3f8 !important;
    color: #222;
}
.btn-secondary {
    background-color: #798db7 !important;
    color: #fff !important;
}
.rounded-x {
    border-radius: 2rem;
}
.border-dashed {
    border: 1px dashed #ccc;
}
.bg-primary-gradient {
    background: #355599;
    background: -moz-linear-gradient(top, rgba(53, 85, 153, 1) 0%, rgba(30, 55, 109, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(53, 85, 153, 1) 0%, rgba(30, 55, 109, 1) 100%);
    background: linear-gradient(to bottom, rgba(53, 85, 153, 1) 0%, rgba(30, 55, 109, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#355599', endColorstr='#1e376d', GradientType=0);
}
.bg-warning-gradient {
    background: #f2994a;
    background: -moz-linear-gradient(top, rgba(242, 153, 74, 1) 0%, rgba(242, 114, 74, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(242, 153, 74, 1) 0%, rgba(242, 114, 74, 1) 100%);
    background: linear-gradient(to bottom, rgba(242, 153, 74, 1) 0%, rgba(242, 114, 74, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2994a', endColorstr='#f2724a', GradientType=0);
}
.title-style-tab {
    position: relative;
    font-size: 1rem;
}
.title-style-tab:before {
    width: 100%;
    height: 1px;
    background: #798db7;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
}
.title-style-tab span {
    display: inline-block;
    padding: 0.4rem 0 0.25rem 1rem;
    background: #798db7;
    border-top-left-radius: 0.75rem;
    color: #fff;
    position: relative;
}
.title-style-tab span:after {
    width: 3rem;
    height: 100%;
    border-top-right-radius: 1rem;
    content: '';
    position: absolute;
    right: -1.5rem;
    top: 0;
    background: #798db7;
    transform: skewX(35deg);
    z-index: -1;
}
.title-style-line {
    position: relative;
}
.title-style-line:before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.1);
}
.title-style-line span {
    display: inline-block;
    border-bottom: 1px solid #fff;
    padding-bottom: 0.5rem;
}
.title-style-left {
    border-left: 4px solid #f2994a;
    line-height: 1;
    padding-left: 0.75rem;
}
.title-style-collapse {
    border-left: 4px solid #f2994a;
    line-height: 1;
    padding-left: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: #f0f3f8;
    border-radius: 0.25rem;
    color: #1e376d;
}
.title-small {
    font-size: 0.875rem;
    font-weight: bold;
}
ul.a {
    list-style-type: circle;
}
ul.b {
    list-style-type: disc;
}
ul.c {
    list-style-type: square;
}
ol.d {
    list-style-type: armenian;
}
ol.e {
    list-style-type: cjk-ideographic;
}
ol.f {
    list-style-type: decimal;
}
ol.g {
    list-style-type: decimal-leading-zero;
}
ol.h {
    list-style-type: georgian;
}
ol.i {
    list-style-type: hebrew;
}
ol.j {
    list-style-type: hiragana;
}
ol.k {
    list-style-type: hiragana-iroha;
}
ol.l {
    list-style-type: katakana;
}
ol.m {
    list-style-type: katakana-iroha;
}
ol.n {
    list-style-type: lower-alpha;
}
ol.o {
    list-style-type: lower-greek;
}
ol.p {
    list-style-type: lower-latin;
}
ol.q {
    list-style-type: lower-roman;
}
ol.r {
    list-style-type: upper-alpha;
}
ol.s {
    list-style-type: upper-greek;
}
ol.t {
    list-style-type: upper-latin;
}
ol.u {
    list-style-type: upper-roman;
}
ol.v {
    list-style-type: none;
}
ol.w {
    list-style-type: inherit;
}
/* List Arrow */
.list-with-icon li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list-with-icon li a {
    display: block;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    color: #1e376d;
}
.list-with-icon li a .icon {
    position: absolute;
    left: 0;
    top: 0.7rem;
}
.list-with-icon li:last-child a {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}
/* List Arrow */
.list-item-default {
    margin: 0;
    padding: 0;
}
.list-item-default .item {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    padding-right: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
}
.list-item-default .item:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}
.list-item-default .item .item-title {
    font-size: 0.875rem;
}
.list-item-default .item .icon {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -0.5rem;
    font-size: 1rem;
    line-height: 1rem;
    color: #ccc;
}
/* Media Placeholder */
.media-placeholder {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-color: #ccc;
}
.media-placeholder.ratio-16-9 {
    padding-bottom: 56.25%;
}
.media-placeholder.ratio-2-1 {
    padding-bottom: 50.25%;
}
.media-placeholder.ratio-4-3 {
    padding-bottom: 75%;
}
.media-placeholder.ratio-7-2 {
    padding-bottom: 35%;
}
.media-placeholder.ratio-5-2 {
    padding-bottom: 40%;
}
.media-placeholder.ratio-5-3 {
    padding-bottom: 60%;
}
.media-placeholder.ratio-5-6 {
    padding-bottom: 120%;
}
.media-placeholder.ratio-3-4 {
    padding-bottom: 133%;
}
.media-placeholder.ratio-5-7 {
    padding-bottom: 140%;
}
.media-placeholder.ratio-5-8 {
    padding-bottom: 140%;
}
.media-placeholder .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.media-placeholder .media-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
.bg-overlay {
    background: rgba(0, 0, 0, 0.2);
}
.bg-overlay.gradient-from-bottom {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=0);
}
.gap {
    width: 100%;
    height: 0;
    padding-bottom: 2rem;
    clear: both;
    font-size: 0;
    line-height: 0;
}
.is-devider {
    position: relative;
    overflow: hidden;
    text-align: center;
}
.is-devider span {
    padding: 0 1rem;
    position: relative;
    color: rgba(0, 0, 0, 0.5);
}
.is-devider span:before {
    content: '';
    width: 1000rem;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 100%;
    top: 50%;
}
.is-devider span:after {
    content: '';
    width: 1000rem;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 100%;
    top: 50%;
}
.flickity-page-dots .dot {
    width: 6px;
    height: 6px;
    background: #355599;
}
/* qp Tabs */
.nav-qp-tabs {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.nav-qp-tabs .nav-item {
    position: relative;
    margin-bottom: -1px;
    font-size: 0.875rem;
}
.nav-qp-tabs .nav-item .nav-link {
    border-top-left-radius: 0.75rem;
    position: relative;
    color: #666;
    background: #fff;
    border: 1px solid #ccc;
    padding-left: 3.5rem;
    padding-right: 0.5rem;
    margin-left: -1rem;
}
.nav-qp-tabs .nav-item .nav-link > span {
    position: relative;
    z-index: 20;
}
.nav-qp-tabs .nav-item .nav-link:after {
    width: 3rem;
    height: 100%;
    border-top-right-radius: 1rem;
    content: '';
    position: absolute;
    right: -1.6rem;
    top: -1px;
    background: #fff;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    transform: skewX(35deg);
    z-index: 1;
    box-sizing: content-box;
}
.nav-qp-tabs .nav-item .nav-link.active {
    background: #3c5b9a;
    color: #fff;
    border-color: #3c5b9a;
}
.nav-qp-tabs .nav-item .nav-link.active:after {
    background: #3c5b9a;
    border-right: 1px solid #3c5b9a;
    border-top: 1px solid #3c5b9a;
    border-bottom: 1px solid #3c5b9a;
}
.nav-qp-tabs .nav-item:first-child .nav-link {
    padding-left: 1rem;
    margin-left: 0;
}
.nav-qp-tabs .nav-item:nth-child(1) {
    z-index: 10;
}
.nav-qp-tabs .nav-item:nth-child(2) {
    z-index: 9;
}
.nav-qp-tabs .nav-item:nth-child(3) {
    z-index: 8;
}
.nav-qp-tabs .nav-item:nth-child(4) {
    z-index: 7;
}
.nav-qp-tabs .nav-item:nth-child(5) {
    z-index: 6;
}
/* qp-modal */
@media screen and (max-width: 576px) {
    .nav-qp-tabs-wrap {
        margin-left: -0.25rem;
        margin-right: -0.25rem;
    }
    .nav-qp-tabs {
        border-bottom: 0;
        width: 100%;
    }
    .nav-qp-tabs .nav-item {
        flex-grow: 1;
        margin: 0 0.25rem;
    }
    .nav-qp-tabs .nav-item .nav-link {
        padding: 0.5rem;
        margin: 0;
        border-radius: 0.25rem;
        background-color: #f0f3f8;
        border: 0;
    }
    .nav-qp-tabs .nav-item .nav-link span {
        display: block;
        text-align: center;
    }
    .nav-qp-tabs .nav-item .nav-link span i {
        display: block;
        text-align: center;
        font-size: 1.5rem;
    }
    .nav-qp-tabs .nav-item .nav-link:after {
        display: none;
    }
}
/* Nav Line */
.nav-line .nav-item {
    margin: 0 1rem;
}
.nav-line .nav-item:first-child {
    margin-left: 0;
}
.nav-line .nav-item:last-child {
    margin-right: 0;
}
.nav-line .nav-item .nav-link {
    position: relative;
    padding: 1rem 0 0.75rem;
}
.nav-line .nav-item.active .nav-link {
    color: #d47927;
}
.nav-line .nav-item.active .nav-link:before {
    content: '';
    width: 100%;
    height: 1px;
    background: #d47927;
    position: absolute;
    left: 0;
    bottom: 0;
}
/* input-group-search */
.input-group-search .form-control {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding-top: 0.3rem !important;
    padding-bottom: 0.25rem !important;
    border-right: 0;
}
.input-group-search .btn {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border: 1px solid #ccc;
    background: #fff !important;
    padding-top: 0.3rem !important;
    padding-bottom: 0.25rem !important;
    border-left: 0;
}
/* Nav Step */
.nav-steps-wrapper {
    position: relative;
    overflow: hidden;
}
.nav-steps-wrapper:before {
    content: '';
    width: 100%;
    height: 200%;
    position: absolute;
    left: 0;
    top: 0;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a000000', endColorstr='#00000000', GradientType=1);
}
.nav-steps {
    position: relative;
    z-index: 10;
    padding: 0.5rem;
}
.nav-steps .nav-item .nav-link {
    text-transform: uppercase;
    position: relative;
    padding-left: 2.75rem;
    color: #798db7;
}
.nav-steps .nav-item .nav-link .icon {
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1rem;
    background: #798db7;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-steps .nav-item .nav-link.active {
    background: rgba(255, 255, 255, 0);
    color: #f2994a;
}
.nav-steps .nav-item .nav-link.active .icon {
    background: #f2994a;
}
.nav-steps .nav-item .nav-link.active .icon:before {
    content: '';
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #f2994a;
    position: absolute;
    left: -0.25rem;
    top: -0.25rem;
    border-radius: 50%;
}
@media screen and (max-width: 576px) {
    .nav-steps {
        flex-direction: column;
    }
    .nav-steps .nav-item {
        margin-bottom: 0.5rem;
    }
}
/* ------------------- SITE HEADER --------------------*/
.site-header .site-header-inner .site-brand .site-title .site-link .site-logo {
    max-height: 4rem;
}
.site-header .site-header-inner .site-header-nav .header-main-nav .nav-item {
    font-size: 1.125rem;
    color: #fff;
    position: relative;
}
.site-header .site-header-inner .site-header-nav .header-main-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
}
.site-header .site-header-inner .site-header-nav .header-main-nav .nav-item.active .nav-link {
    color: rgba(255, 255, 255, 1);
}
.site-header .site-header-inner .site-header-nav .header-main-nav .nav-item.active:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent #eee transparent;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -6px;
}
.site-header .site-header-inner .site-header-right .header-right-nav .nav-item.item-deposit .nav-link {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}
.site-header .site-header-inner .site-header-right .header-right-nav .nav-item.item-deposit .nav-link:hover {
    background: rgba(255, 255, 255, 0.5);
}
.site-header .site-header-inner .site-header-right .header-right-nav .nav-item.item-user-panel .dropdown-toggle {
    min-width: 10rem;
    background: #d47927;
    background: -moz-linear-gradient(left, rgba(212, 121, 39, 1) 0%, rgba(242, 153, 74, 1) 80%);
    background: -webkit-linear-gradient(left, rgba(212, 121, 39, 1) 0%, rgba(242, 153, 74, 1) 80%);
    background: linear-gradient(to right, rgba(212, 121, 39, 1) 0%, rgba(242, 153, 74, 1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d47927', endColorstr='#f2994a', GradientType=1);
    border-top-right-radius: 0.6rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-height: 2rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
}
.site-header .site-header-inner .site-header-right .header-right-nav .nav-item.item-user-panel .dropdown-toggle:before {
    width: 3rem;
    height: 100%;
    border-top-left-radius: 1rem;
    content: '';
    position: absolute;
    left: -1.5rem;
    top: 0;
    background: #d47927;
    transform: skewX(-20deg);
    z-index: -1;
}
.site-header .site-header-inner .site-header-right .header-right-nav .nav-item.item-user-panel .dropdown-toggle .text {
    line-height: 1.3;
}
.site-header .site-header-inner .site-header-right .header-right-nav .nav-item.item-user-panel .dropdown-toggle .avatar {
    border: 2px solid #fff;
    width: 2rem;
    height: 2rem;
}
.site-header .site-header-inner .site-header-right .header-right-nav .nav-item.item-user-panel .dropdown-menu {
    border-radius: 0.5rem;
}
.site-header .site-header-inner .site-header-right .header-right-nav .nav-item.item-user-panel .dropdown-menu .dropdown-item .icon {
    margin-right: 0.25rem;
    width: 1rem;
}
.site-header .site-header-inner .site-header-right .header-right-nav .nav-item.item-menu .nav-link {
    background: rgba(255, 255, 255, 0);
    padding: 0.25rem 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.25rem;
    color: #fff;
}
/* Respond */
@media screen and (max-width: 992px) {
    .site-header .site-header-right .header-right-nav .nav-item.item-user-panel .dropdown-toggle {
        background: rgba(255, 255, 255, 0) !important;
        min-width: 2rem !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .site-header .site-header-right .header-right-nav .nav-item.item-user-panel .dropdown-toggle:before {
        display: none !important;
    }
    .site-main .site-content:before {
        display: none;
    }
}
/* ------------------- SITE MAIN --------------------*/
.site-main {
    position: relative;
    z-index: 100;
}
.site-main .site-content {
    background: #fff;
    border-radius: 1rem;
    position: relative;
    min-height: 3rem;
}
.site-main .site-content:before {
    width: 2rem;
    height: 2rem;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    background: #f2994a;
    background: -moz-linear-gradient(top, rgba(242, 153, 74, 1) 0%, rgba(188, 119, 58, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(242, 153, 74, 1) 0%, rgba(188, 119, 58, 1) 100%);
    background: linear-gradient(to bottom, rgba(242, 153, 74, 1) 0%, rgba(188, 119, 58, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2994a', endColorstr='#bc773a', GradientType=0);
    z-index: -1;
}
.site-main .site-content:after {
    content: '';
    width: 100%;
    height: 2rem;
    position: absolute;
    left: 0;
    top: 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background: -moz-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 0) 100%);
    background: linear-gradient(to bottom, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#00eeeeee', GradientType=0);
}
.site-main .site-content .site-content-inner {
    position: relative;
    z-index: 5;
}
.site-main .site-content .site-content-inner:before {
    content: '';
    width: 100%;
    height: 2rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: #7489b6;
    position: absolute;
    z-index: -1;
    bottom: -0.5rem;
    left: 0;
}
.site-main .site-content .site-content-inner .after {
    content: '';
    width: 25%;
    height: 2rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: #cedcfa;
    position: absolute;
    z-index: -1;
    bottom: -1rem;
    left: 0;
}
.site-main .site-content .site-content-inner .after:after {
    width: 3rem;
    height: 100%;
    border-bottom-right-radius: 1rem;
    content: '';
    position: absolute;
    right: -1.5rem;
    top: 0;
    background: #cedcfa;
    transform: skewX(-35deg);
    z-index: -1;
}
.site-main .site-content .site-content-body {
    padding: 1.25rem;
    position: relative;
    z-index: 20;
}
.site-main .site-content .site-content-body.alt {
    background: #f0f3f8;
}
.site-main .site-content .site-content-body.last {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.site-main .site-content .site-content-body.first {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
/* ------------------- GLOBAL --------------------*/
/* Item Support */
.item-block-support {
    background: #f0f3f8;
}
.item-block-support .item-icon {
    font-size: 1.5rem;
    color: #92a6c7;
}
.item-block-support .item-content .main-text {
    font-size: 1.125rem;
    line-height: 1;
}
.item-block-support.hotline {
    background-color: #fbeee3;
}
.item-block-support.hotline .item-icon {
    color: #ecd1b9;
}
/* Item Artclce */
.item-article .item-content .item-title {
    font-size: 0.875rem;
    line-height: 1.4;
}
.item-article.feature .item-content .item-title {
    font-size: 1.125rem;
}
@media screen and (max-width: 576px) {
    .item-article {
        display: flex;
    }
    .item-article .item-thumb {
        flex: 0 0 auto;
        width: 100px;
        margin-right: 1rem;
    }
    .item-article .item-thumb .media-placeholder {
        padding-bottom: 75%;
    }
    .item-article .item-content {
        flex-grow: 1;
    }
    .item-article.feature {
        flex-direction: column;
    }
    .item-article.feature .item-thumb {
        flex: 0 0 auto;
        width: 100%;
    }
    .item-article.feature .item-thumb .media-placeholder {
        padding-bottom: 50%;
    }
}
/* Item Artclce */
.item-c-article {
    display: flex;
}
.item-c-article .item-thumb {
    flex: 0 0 auto;
    width: 320px;
    max-width: 25%;
}
.item-c-article .item-content {
    flex-grow: 1;
    padding-left: 1.5rem;
}
.item-c-article .item-content .item-summary {
    margin-top: 1rem;
}
/* Item */
.item-f-article .item-thumb:before {
    content: '';
    height: 50%;
    width: 100%;
    position: absolute;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
@media screen and (max-width: 992px) {
    .item-c-article .item-thumb {
        flex: 0 0 auto;
        width: 320px;
        max-width: 35%;
    }
}
@media screen and (max-width: 567px) {
    .item-c-article .item-content .item-title {
        font-size: 1rem;
    }
    .item-c-article .item-content .item-summary {
        display: none;
    }
    .item-f-article .item-thumb .item-title {
        font-size: 1.25rem;
    }
}
/* article Single */
.article-single .article-thumb .media-placeholder:before {
    content: '';
    height: 50%;
    width: 100%;
    position: absolute;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.article-single .article-main .social-share {
    flex: 0 0 auto;
    width: 5rem;
}
.article-single .article-main .article-content {
    font-size: 1rem;
}
/* Social Icons */
.social-icons .nav-item .nav-link {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background: #ccc;
    color: #333;
    border-radius: 50%;
    margin: 0 0.25rem 0.25rem 0;
}
.social-icons .nav-item.facebook .nav-link {
    background: #445f9b;
    color: #fff;
}
.social-icons .nav-item.twitter .nav-link {
    background: #2d9cdb;
    color: #fff;
}
/* Block Number */
.block-number {
    padding-left: 3rem;
    position: relative;
}
.block-number:before {
    width: 1px;
    height: 100%;
    content: '';
    background: #ccc;
    position: absolute;
    left: 1rem;
    top: 0;
    z-index: 1;
}
.block-number:after {
    content: '';
    width: 2.5rem;
    height: 2.5rem;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: -0.25rem;
    top: -0.65rem;
    z-index: 5;
}
.block-number .icon {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #798db7;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    left: 0;
    top: -0.4rem;
    z-index: 10;
}
.block-number.last:before {
    display: none;
}
.block-number:hover .icon {
    background: #f2994a;
}
@media screen and (max-width: 576px) {
    .block-number {
        padding-left: 0;
    }
    .block-number h6 {
        padding-left: 2.5rem;
    }
    .block-number:before {
        display: none;
    }
    .block-number:after {
        display: none;
    }
}
/* Row Method */
.row-gateway .item-gateway {
    border: 2px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
    position: relative;
}
.row-gateway .item-gateway .img {
    height: 70px;
}
.row-gateway .item-gateway.out .img {
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}
.row-gateway .item-gateway:hover {
    border-color: #b0b0b0;
}
.row-gateway .item-gateway.active {
    border-color: #eb5757;
}
.row-gateway .item-gateway.active .img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.row-gateway .item-gateway.active:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 24px 24px 0 0;
    border-color: #eb5757 transparent transparent transparent;
    position: absolute;
    left: 0;
    top: 0;
}
@media screen and (max-width: 576px) {
    .row-gateway .col-md-3.col-6 {
        flex: 0 0 auto;
        width: 40%;
    }
}
/* Row prices */
.row-price .item-price {
    border: 2px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
    position: relative;
}
.row-price .item-price:hover {
    border-color: #b0b0b0;
}
.row-price .item-price.active {
    border-color: #eb5757;
}
.row-price .item-price.active:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 24px 24px 0 0;
    border-color: #eb5757 transparent transparent transparent;
    position: absolute;
    left: 0;
    top: 0;
}
@media screen and (max-width: 576px) {
    .row-price .col-md-3.col-6 {
        flex: 0 0 auto;
        width: 40%;
    }
}
/* Block Profile */
.block-profile .block-header {
    background: #f0f3f8;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.block-profile .block-header .avatar {
    border: 3px solid #fff;
    max-height: 72px;
}
/* Purchased Item */
.purchased-item .item-content {
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    position: relative;
}
.purchased-item .item-content:before {
    content: '';
    width: 100%;
    height: 25%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d000000', endColorstr='#00000000', GradientType=0);
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    border-left-top-radius: 0.25rem;
    border-right-top-radius: 0.25rem;
}
.purchased-item .item-content .inner {
    padding: 0.5rem 1rem;
    position: relative;
    z-index: 10;
}
.purchased-item .item-content .inner:before, .purchased-item .item-content .inner:after {
    content: '';
    width: 1px;
    height: 20px;
    background: #ccc;
    position: absolute;
    bottom: -15px;
}
.purchased-item .item-content .inner:before {
    left: -1px;
    z-index: 10;
}
.purchased-item .item-content .inner:after {
    right: -1px;
    z-index: 5;
}
.purchased-item .item-content:after {
    content: '';
    width: 100%;
    height: 20px;
    background: url(../img/purchased-bottom-arr.png) 50% 100% repeat-x;
    position: absolute;
    bottom: -16px;
    left: 0;
}
.purchased-item .item-content .item-logo {
    line-height: 32px;
    height: 32px;
}
.purchased-item .item-content .item-logo .logo {
    max-height: 32px;
}
.purchased-item:hover .item-content {
    border-color: #666;
}
.purchased-item:hover .item-content:before {
    background: #fff;
}
.purchased-item:hover .item-content .inner:before, .purchased-item:hover .item-content .inner:after {
    background-color: #666;
}
.purchased-item:hover .item-content:after {
    background: url(../img/purchased-bottom-arr-hover.png) 50% 100% repeat-x;
}
/* List Banks */
.list-banks {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.list-banks li {
    list-style: none;
    margin: 0;
    padding: 5px;
    flex: 0 0 25%;
    max-width: 25%;
}
.list-banks li a {
    display: block;
    padding: 5px;
    border: 2px solid #ccc;
    text-align: center;
    border-radius: 0.25rem;
}
.list-banks li a.out {
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}
.list-banks li a:hover {
    border: 2px solid #666;
}
.list-banks li a.active {
    border: 2px solid #eb5757;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.list-banks li a.active:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 24px 24px 0 0;
    border-color: #eb5757 transparent transparent transparent;
    position: absolute;
    left: 0;
    top: 0;
}
.list-banks li a.active:hover {
    border: 2px solid #eb5757;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
@media screen and (max-width: 576px) {
    .list-banks li {
        list-style: none;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
/* Qp Modal */
.qp-modal .modal-header {
    padding: 0 !important;
    background: #f0f3f8;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
.qp-modal .modal-header .btn-close {
    margin: 0;
    padding-top: 0.1rem;
    padding-top: 0.1rem;
}
.qp-modal .modal-header .modal-title {
    font-size: 1rem;
    background: #798db7;
    display: inline-block;
    padding: 0.5rem 0 0.5rem 1rem;
    color: #fff;
    border-top-left-radius: 1rem;
    margin-top: -1rem;
    position: relative;
}
.qp-modal .modal-header .modal-title span {
    position: relative;
    z-index: 20;
}
.qp-modal .modal-header .modal-title:after {
    width: 3rem;
    height: 100%;
    border-top-right-radius: 1rem;
    content: '';
    position: absolute;
    right: -1.6rem;
    bottom: 0;
    background: #798db7;
    transform: skewX(25deg);
    z-index: 1;
}
/* List Posts */
.list-posts {
    margin: 0;
    padding: 0;
}
.list-posts .item {
    list-style: none;
}
.list-posts .item .item-thumb {
    flex: 0 0 auto;
    width: 48px;
}
/* ------------------- SITE FOOTER --------------------*/
.site-footer {
    position: relative;
    z-index: 20;
    overflow: hidden;
    margin-top: -9rem;
    font-size: 0.875rem;
}
.site-footer:before {
    content: '';
    width: 140vw;
    height: 16rem;
    border-radius: 50%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 60%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 60%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#00000000', GradientType=0);
    position: absolute;
    left: -20vw;
}
.site-footer .foo-nav .nav-item .nav-link {
    padding: 0.25rem 0 0.25rem 1.25rem;
    color: rgba(255, 255, 255, 0.7);
    position: relative;
}
.site-footer .foo-nav .nav-item .nav-link .icon {
    position: absolute;
    left: 0;
    top: 0.5rem;
}
.site-footer .foo-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 1);
}
.site-footer .site-footer-content {
    padding: 12rem 0 2rem;
    z-index: 50;
    position: relative;
}
.site-footer .site-footer-bar {
    background: rgba(0, 0, 0, 0.2);
    padding: 1rem 0;
}
/* ------------------- OFFCANVAS --------------------*/
.overlay {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 888;
    background: rgba(0, 0, 0, 0.5);
    filter: blur(5px);
    -webkit-filter: blur(5px);
    display: none;
}
.scroll-top {
    position: fixed;
    right: 20px;
    bottom: -100px;
    transition: all ease 0.2s;
    z-index: 666;
}
.scroll-top .scroll-top-link {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    line-height: 48px;
    text-align: center;
    border-radius: 1rem;
    transition: all ease 0.2s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
/* OffCanvas Nav */
.offcanvas-nav {
    width: 480px;
    max-width: 100%;
    position: fixed;
    top: 0;
    right: -480px;
    height: 100vh;
    background: #1e376d;
    color: #fff;
    z-index: 999;
    transition: all ease 0.2s;
}
.offcanvas-nav .btn-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: #fff;
    background: none;
    font-size: 1.125rem;
}
.offcanvas-nav .offcanvas-nav-inner {
    overflow-y: auto;
}
.offcanvas-nav .offcanvas-nav-inner .nav {
    margin-top: 2rem;
}
.offcanvas-nav .offcanvas-nav-inner .nav .nav-item {
    font-size: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.offcanvas-nav .offcanvas-nav-inner .nav .nav-item .nav-link {
    padding-left: 0;
    padding-right: 0;
    color: rgba(255, 255, 255, 0.5);
}
.offcanvas-nav .offcanvas-nav-inner .nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 1);
}
.offcanvas-nav .offcanvas-nav-inner .nav .nav-item .nav-link .icon {
    margin-right: 0.5rem;
    width: 1rem;
}
.offcanvas-nav .offcanvas-nav-inner .nav .nav-item .nav-link.dropdown-toggle:after {
    position: absolute;
    right: 0.25rem;
    top: 1.1rem;
    opacity: 0.5;
}
.offcanvas-nav .offcanvas-nav-inner .nav .nav-item.active .nav-link {
    color: rgba(255, 255, 255, 1);
}
.offcanvas-nav .offcanvas-nav-inner .nav .nav-item .dropdown-menu {
    border-radius: 0;
    position: relative !important;
    transform: translate3d(0px, 0px, 0px) !important;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 0;
}
.offcanvas-nav .offcanvas-nav-inner .nav .nav-item .dropdown-menu .dropdown-item {
    color: #fff;
}
.offcanvas-nav .offcanvas-nav-inner .nav .nav-item .dropdown-menu .dropdown-item:hover {
    background: rgba(255, 255, 255, 0.2);
}
/* ------------------- RESPONDSIVE --------------------*/
.site-content-body .list-posts .media-placeholder.blog-relative {
    background-color: #fff !important;
}
