.text-title {
    font-size: 15px;
    text-align: center;
    color: #575757;
    font-weight: 600;
}
.text-account-number{
    color: #575757;
}
/* css chat detail service */
.chat {
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
    background-color: #fefefe;
}
.chat .chat-history {
    padding: 30px 0 20px 30px;
}

.chat .chat-history ul {
    overflow-y: scroll;
    padding-right: 30px;
    height: 575px;
}

.chat .chat-message {
    padding: 30px 30px 0 0;

}

.chat .chat-message textarea {
    width: 100%;
    border: 2px solid #dee2e6 !important;
    outline: 0 none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
}

.pill-button {
    border-radius: 1rem;
    background-color: #1ab394;
    border: none;
    padding: 10px 30px;
    transition: all 0.3s ease;
    font-size: 16px;
    display: inline-block;
    color: #ffffff;
}

.chat .chat-history .message-data {
    margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
}
.online {
    color: #86BB71;
}

.chat .chat-history .my-message {
    background: #86BB71;

}
.chat .chat-history .message {
    color: white;
    padding: 8px 16px;
    line-height: 26px;
    font-size: 14px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
}
.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #86BB71;
    border-width: 10px;
    margin-left: -10px;
}

.chat .chat-history ul {
    overflow-y: scroll;
    padding-right: 30px;
    height: 464px;
}


.chat .chat-history ul::-webkit-scrollbar {
    width: 8px;
    background-color: #ffffff;
    border-radius: 100px;
    border: none;
}
.chat .chat-history ul::-webkit-scrollbar-thumb {
    background-color: #3a3a3c;
    border: 2px solid #121212;
    border-radius: 100px;
    border: none;
    margin-left: 20px;
    height: 20px;
}
.chat .chat-history .other-message {
    background: #94C2ED;
}

.float-right {
    float: right !important;
}

.align-right {
    text-align: right;
}
.chat .chat-history .other-message:after {
    border-bottom-color: #94C2ED;
    left: 93%;
}


.me {
    color: #94C2ED;
}

/* css description detail service */
.special-text {

    line-height: 1.8;
    font-size: 15px;
    padding: 10px 10px;
    position: relative;
    max-height: 450px;
    overflow: hidden;
    text-align: justify;
    /* transition: max-height 0.2s ease; */
    /* background-color: #fff; */
}

.special-text.-expanded {
    max-height: unset !important;
}

.special-text:not(.-expanded)::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) );
}


.special-text-nick {

    line-height: 1.8;
    font-size: 15px;
    padding: 10px 10px;
    position: relative;
    max-height: 160px;
    overflow: hidden;
    text-align: justify;
    /* transition: max-height 0.2s ease; */
    /* background-color: #fff; */
}

.special-text-nick.-expanded {
    max-height: unset !important;
}

.special-text-nick:not(.-expanded)::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) );
}

.expand-button {
    cursor: pointer;
    display: block;
    width: 20%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(238, 70, 35) !important;
    border-radius: 3px;
    background-color: #fff;
    color: rgb(238, 70, 35) !important;
    font-size: 13px;
    padding: 0.5rem;
    border: 4px solid darken(darkcyan, 10%);
}

/* css button thanh toan*/
#txtPrice .total-money-detail-service{
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: rgb(238, 70, 35) !important;
    color: #ffffff;
    text-align: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid rgb(238, 70, 35) !important;
    padding: 11px 0;
    margin-top: 10px;
}
#btnPurchase .pay-detail-service{
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
    cursor: pointer;
    width: 100%;
    background: #28a745;
    color: #ffffff;
    text-align: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid #28a745;
    padding: 11px 0;
    margin-top: 10px;
}
