/* css service game */

.block-product.gaming-recharge {
    padding: 18px 21px 2px 21px;
}
.gaming-recharge-header {
    border-bottom: 1px solid #DCDEE9;
    padding-bottom: 18px;
}

.gaming-recharge-header p {
    margin-left: 0.5rem;
    font-size: 24px;
    font-weight: 700;
    color: #1B1D29;
    margin-bottom: 0;
}
.gaming-recharge-search-header {
    padding: 0.75rem 0;
}

.gaming-recharge-search-header p {
    font-weight: 600;
    font-size: 16px;
    color: #434657;
    margin-bottom: 0;
}
.gaming-recharge-search-form {
    padding: 0.75rem 0;
}

.gaming-recharge-search-form h6 {
    font-weight: 600;
    font-size: 16px;
    color: #1B1D29;
    margin-bottom: 0.5rem;
}
.gaming-recharge-form-detail {
    position: relative;
}

.gaming-recharge-form-detail input {
    height: 40px;
    padding-left: 2.75rem;
    width: 340px;
}

.gaming-recharge-form-detail img {
    position: absolute;
    left: 12px;
    top: 46%;
}

.gaming-recharge-form-detail button {
    height: 40px;
    width: 120px;
    font-weight: 600;
    font-size: 14px;
    margin-left: 0.75rem;
}

.content-video-in iframe,
.content-video-in img
{
    max-width: 100%;
}

.detail-ser-content{
    flex-basis: 45%;
}
@media (max-width: 767px) {
    .gaming-recharge-search-form button{
        display: none;
    }
}
/*end*/

/* modal sedding */
.modal-sedding-notification{
    left: -100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 12px;
    background: #ffffff;
    width: 396px;
    height: 112px;
    position: relative;
    transition: .3s ease;
}
.modal-sedding-notification_show{
    left: 4px;
    transition: .3s ease;
}
.modal-sedding-image img{
    width: 100%;
    border-radius: 12px;
    height: 112px;
    padding: 6px;
}
.modal-sedding-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    padding-top: 8px;
}
.modal-sedding-content{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #82869E;
    padding-bottom: 8px;
}
.modal-sedding-notification span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #434657;
}
.close-sedding{
    position: absolute;
    right: 18px;
}
