.item_play_title{
    margin: 20px 0;
}
.item_play_title p{
    text-align: center;
    color: #3f444a;
    font-size: 22px;
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: 600;
}
.item_play_line {
    width: 80px;
    height: 3px;
    background-color: #32c5d2;
    margin: 0 auto 30px auto;
}
.item_play_online_out{
    color: #333;
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.item_play_online{
    background-color: #04ab36;
    border-radius: 100%;
    border: 2px solid #fff;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
}
.item_play_spin{
    position: relative;
    z-index: 1;
    padding-bottom: 10px;
}
.item_play_spin>img{
    width: 100%;
    max-width: 100%;
    opacity: 1;
    background: url(https://shopas.net/storage/images/FHdU2x1txt_1642735622.png) no-repeat center center;
    background-size: contain;
}
.item_play_spin_shake{
    cursor: pointer;
    width: 100%;
    height: 74px;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    bottom: 15px;
    z-index: 10;
}
.item_play_spin_shake img{
    width: 200px;
    height: 74px;
}
.item_play_spin_sale-off{
    margin-bottom: 0;
    cursor: pointer;
    display: block;
    width: 165px;
    height: 35px;
    position: absolute;
    left: 25px;
    justify-content: center;
    bottom: 37px;
    z-index: 9999;
}
.item_play_spin_sale-off input{
    border: 1px solid #f02396;
    border-radius: 10px;
    background: #64b57f;
    padding: 7px 10px;
    color: #fff!important;
    width: 100%;
}
.item_play_spin_sale-off input::placeholder {
    color: white;
    /*font-size: 1.5em;*/
}
.item_play_spin_progress{
    height: 35px;
    /*margin-bottom: 0;*/
    cursor: pointer;
    width: 180px;
    position: absolute;
    right: 24px;
    justify-content: center;
    bottom: 40px;
    z-index: 0;
    overflow: unset;
    display: block;

    margin: auto;
    margin-top: 35px;
    border-radius: 20px;
    background: #ffd197;
    /*z-index: 10;*/
    box-shadow: 5px 5px 5px #5e67e3, 5px -5px 5px #5e67e3, -5px 0px 5px #5e67e3;
}
.item_play_spin_progress_bubble{
    transition-duration: 2s;
    background-color: #ff7058;
    background-image: url(/assets/frontend/image/play_spin_bubble);
    border-radius: 20px;
    width: 1%;
    height: 100%;
    transition: width;
    transition-timing-function: cubic-bezier(.36,.55,.63,.48);
}
.item_play_spin_progress_percent{
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    font-size: 12px;
    color: #423dea;
    line-height: 34px;

}
.item_play_dropdown{
    width: 100%;
    padding: 0px;
    text-align: center;
    right: 0;
    display: flex;
    justify-content: center;
    bottom: 65px;
    z-index: 10;
}
.item_play_dropdown select{
    width: 50%;
    margin: auto;
    padding: 5px 10px;
    margin-top: 20px;
    background: #ffe00d!important;
    border: 2px solid #e60402!important;
    color: #e60402!important;
}
.item_play_num_play,.item_play_try{
    margin-top: 10px;
    text-align: center;

}
.item_play_num_play p{
    color: #3f444a;
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
}
.item_play_category a{
    float: left;
    width: 100%;
    background: #fb236a;
    color: #ffffff;
    text-align: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid #fb236a;
    padding: 11px 0;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    transition: .2s ease;
}
/*slide game khacs*/
.item_play_dif_slide_detail_in{
    position: relative;
    background-color: #13151a;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 2px;
}
.item_play_dif_slide_img{
    position: relative;

}
.item_play_dif_slide_img_sale{
    position: absolute;
    max-width: 79px;
    height: auto;
    top: -8px;
    right: -8px;
    z-index: 999;
}
.item_play_dif_slide_img_main{
    width: 100%;
}

.item_play_dif_slide_title a{
    text-decoration: none;
}
.item_play_dif_slide_title p{
    color: #f1c40f;
    font-size: 14px;
    text-align: center;
    padding-top: 9px;
    text-transform: uppercase;
}
.item_play_dif_slide_description{
    text-align: center;
}
.item_play_dif_slide_description p{
    font-size: 14px;
    color: white;
}
.item_play_dif_slide_description-old-price {
    text-decoration: line-through;
    color: #3f0;
    border: 2px solid;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}
.item_play_dif_slide_description-new-price {
    border: 2px solid red;
    padding: 5px 15px;
    color: red;
    display: inline-block;
    border-radius: 5px;
    margin: 10px;
    font-size: 14px;
    font-weight: bold;

}


.item_play_dif_slide_more {
    text-align: center;
    border: 2px #cccccc;
    color: red;
    text-transform: uppercase;
    font-size: 15px;
    padding: 12px 0;
}
.item_play_dif_slide_more:hover{
    filter: brightness(130%)
}

.item_play_dif_slide  .swiper-button-prev {
    height: 40px;
    width: 40px;
    background: #545454;
    left: 0;
    top: 50%;
    border-radius: 100%;
    z-index: 200;
}

.item_play_dif_slide .swiper-button-next {
    height: 40px;
    width: 40px;
    right: 0;
    background: #545454 ;
    /*url("/assets/frontend/images/next_arrow.svg") no-repeat center center*/
    top: 50%;
    border-radius: 100%;
}

.item_play_dif_slide .swiper-button-next i{
    color: #FFF;
    top: 50%;
    position: absolute;
    transform: translate(50%,-50%);
    right: 50%;
}
.item_play_dif_slide .swiper-button-prev i{
    color: #FFF;
    top: 50%;
    position: absolute;
    transform: translate(50%,-50%);
    right: 50%;
}
.item_play_dif_slide .swiper-button-next:hover,
.item_play_dif_slide  .swiper-button-prev:hover {
    transition: all .2s;
    opacity: 80%;
}
.swiper-button-disabled{
    pointer-events: visible !important;
}

/*view more*/
.item_play_intro{
    padding: 60px 0px;
    color: #211010;
    font-size: 17px;

}
.item_play_intro_content{
    max-height: 220px;
    overflow: hidden;
}
.item_play_intro_viewless, .item_play_intro_viewmore {
    display: flex;
    cursor: pointer;
    color: #f1c40f;
    justify-content: flex-end;
    padding-top: 10px;
    font-size: 18px;
}
.showtext{
    max-height: initial;
}
.item_play_intro a{
    color: #211010;
    text-decoration: underline;
    font-size: 17px;
    transition: .3s ease;
}
.item_play_intro a:hover{
    color: #211010;
    transition: .3s ease;
}
.item_play_intro_viewless{
    display: none;
}
/*vòng quay*/
.item_spin{
    text-align: center;
}
.item_spin img{
    width: 80%;
}
.item_spin_sale-off{
    margin: 20px auto;
    cursor: pointer;
    display: block;
    width: 165px;
    height: 35px;
    /*position: absolute;*/
    /*left: 25px;*/
    justify-content: center;
    bottom: 37px;
    z-index: 9999;
}
.item_spin_sale-off input{
    border: 1px solid #f02396;
    border-radius: 10px;
    background: #64b57f;
    padding: 7px 10px;
    color: #fff!important;
    width: 100%;
}
.item_spin_sale-off input::placeholder {
    color: white;
    /*font-size: 1.5em;*/
}
.item_spin_progress{
    height: 35px;
    /*margin-bottom: 0;*/
    cursor: pointer;
    width: 180px;
    position: relative;
    /*right: 24px;*/
    justify-content: center;
    top: 0px;
    bottom: 40px;
    z-index: 0;
    overflow: unset;
    display: block;

    margin: auto;
    margin-top: 35px;
    border-radius: 20px;
    background: #ffd197;
    /*z-index: 10;*/
    box-shadow: 5px 5px 5px #5e67e3, 5px -5px 5px #5e67e3, -5px 0px 5px #5e67e3;
}
.item_spin_progress_bubble{
    transition-duration: 2s;
    background-color: #ff7058;
    background-image: url(/assets/frontend/image/play_spin_bubble);
    border-radius: 20px;
    width: 1%;
    height: 100%;
    transition: width;
    transition-timing-function: cubic-bezier(.36,.55,.63,.48);
}
.item_spin_progress_percent{
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    font-size: 12px;
    color: #423dea;
    line-height: 34px;

}
.item_spin_dropdown{
    width: 100%;
    padding: 0px;
    text-align: center;
    right: 0;
    display: flex;
    justify-content: center;
    bottom: 65px;
    z-index: 10;
}
.item_spin_dropdown select{
    width: 50%;
    margin: auto;
    padding: 5px 10px;
    margin-top: 20px;
    background: #ffe00d!important;
    border: 2px solid #e60402!important;
    color: #e60402!important;
}
.item_spin_num_play,.item_spin_try{
    margin-top: 10px;
    text-align: center;

}
.item_play_num_play p{
    color: #3f444a;
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
}
.item_play_category a{
    float: left;
    width: 100%;
    background: #fb236a;
    color: #ffffff;
    text-align: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid #fb236a;
    padding: 11px 0;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    transition: .2s ease;
}
.item_spin_category{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

}
.item_spin_category a{
    margin: 6px;
}
.item_spin_title p{
    font-size: 30px;
    text-transform: uppercase;
    color: #505050;
    text-align: center;
    font-weight: 600;
}
@media only screen and (max-width: 992px) {
    .item_play_spin_shake{
        height: 36px;
    }
    .item_play_spin_shake img {
        width: 100px;
        height: 36px;
    }
    .item_play_spin_sale-off {
        height: 26px!important;
        left: 5px!important;
        width: 120px !important;
    }
    .item_play_spin_sale-off input {
        width: 120px!important;
        font-size: 13px!important;
        padding: 3px 10px!important;
    }
    .item_play_spin_progress {
        height: 24px!important;
        width: 120px!important;
        right: 10px!important;
    }
    .item_play_spin_progress_percent{
        line-height: 24px;
    }
    .item_play_dif_slide .swiper-button-prev,.item_play_dif_slide .swiper-button-next{
        display: none;
    }
}

/*mua vật phẩm*/
.item_buy_info{
    background-color: #e0ebf9;
    color: #327ad5;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    max-height: 162px;
    overflow: hidden;
}
.item_buy_info h3,.item_buy_info h4{
    color: #000;
}
.item_buy_info p,.item_buy_info a{
    font-size: 16px;
    color: #000;
}
.item_buy_info a{
    font-size: 16px;
    color: #000;
}
.item_buy_viewmore{
    margin: 20px 0;
    text-align: center;
}
.item_buy_viewmore span{
    text-align: center;
    cursor: pointer;
    color: #f1c40f;
    border: 1px solid #f1c40f;
    padding: 5px;
    font-size: 17px;
    margin: 20px 0;
}
.item_buy_viewless{
    margin: 20px 0;
    text-align: center;
    display: none;
}
.item_buy_viewless span{
    text-align: center;
    cursor: pointer;
    color: #f1c40f;
    border: 1px solid #f1c40f;
    padding: 5px;
    font-size: 17px;
    margin: 20px 0;
}
.item_buy_form{
    margin: 30px 0;
}
.item_buy_form_search{
    margin-bottom: 8px;
}
.item_buy_form_search .input-group {
    width: 100%;
    border-radius: 0px !important;
}
.item_buy_form_search .input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;

}
.item_buy_form_search .input-group .form-control,.item_buy_form_search .input-group-addon {
    display: table-cell;
}
.item_buy_form_search button{
    border-width: 1px;
    color: #ffffff;
    background: #32c5d2;
    border-color: #32c5d2;
    margin-right: 8px;
}
.item_buy_list_in{
    height: 100%;
    border: 1px solid #ddd;
    padding: 1px;

}
.item_buy_list>div{
    margin: 12px 0;
}
.item_buy_list_img{
    position: relative;

}
.item_buy_list_img-sale{
    position: absolute;
    max-width: 50%;
    top: -4px;
    right: -2px;
    /*z-index: 100;*/
    width: 79px;
    height: 75px;
}
.item_buy_list_img-main{
    height: 180px;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}
.item_buy_list_img span {
    position: absolute;
    padding: 2px 7px;
    background-color: #a94442;
    top: 5px;
    left: 4px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}
.item_buy_list_description {
    border-radius: 0;
    display: block;
    padding: 8px;
    background-color: #8a6969;
    font-weight: 700;
    line-height: 1;
    font-size: 75%;
    color: #fff !important;
    text-align: center;
}
.item_buy_list_info {
    margin-top: 10px;
    min-height: 93px;
}
.item_buy_list_info .row{
    margin: 0;
}
.item_buy_list_info_in{
    font-size: 15px;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
}
.item_buy_list_price {
    text-align: center;
    border: 1px solid red;
    padding: 5px;
    color: red;
    margin-bottom: 12px;
}
.item_buy_list_more{
    padding: 12px;
}
.item_buy_list_more a{
    text-decoration: none;
}
.item_buy_list_more a:hover .item_buy_list_view{
    color: #32c5d2;
    background: white;
    border: 1px solid #32c5d2;
    transition: .2s ease;

}
.item_buy_list_price span{
    text-decoration: line-through;
    color: #666;
    padding-right: 8px;
    font-weight: 600;
    font-size: 14px;
}
.item_buy_list_view{
    text-align: center;
    color: #ffffff;
    background: #32c5d2;
    border: 1px solid #32c5d2;
    transition: .2s ease;
    padding: 6px;
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 12px;
}
.item_buy_list_view{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.item_buy{
    padding-top: 40px;
}
/*filter*/
.item_buy_filter_in{
    width: 100%;
}
.item_buy_filter_overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.3);
    display: none;
    animation: fadeIn linear 0.3s;

}
.item_buy_form-mobile{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    max-width: 100%;
    margin-top: 80px;
    background: #fff;
    transform: translateX(100%);
    opacity: 0;
    overflow-y: scroll;
    transition: transform linear 0.2s,opacity linear 0.2s;
    z-index: 2;
}
.item_buy_filter_input:checked ~ .item_buy_filter_overlay{
    display: block;
}
.item_buy_filter_input:checked ~ .item_buy_form-mobile{
    transform: translateX(0%);
    opacity: 1;
}
.item_buy_form-mobile{
    padding: 15px;
}
.item_buy_form-mobile_title{
    position: relative;
}
.item_buy_form-mobile_close{
    position: absolute;

}
.item_buy_form-mobile_title p{
    font-size: 16px;
    text-align: center;
}
.item_buy_filter{
    display: none;
}
@media only screen and (max-width: 992px) {
    .item_buy_form{
        display: none;

    }
    .item_buy_filter{
        display: block;
    }
    .item_buy{
        padding-top: 0;
    }
}
/*shop product item detail*/

.shop_product_header{
    text-align: center;
}
.shop_product_header p{
    font-size: 30px;
    color: #505050;
    /*margin: 0 0 16px 0;*/
    font-weight: 600;

}
.shop_product_header span{
    color: #eb5d68 !important;
    font-weight: 600;
}
.shop_product_price{
    margin-bottom: 20px;
}
.shop_product_price div{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #32c5d2 ;
}

.shop_product_header a,.shop_product_header button{
    margin-right: 12px;
    margin-bottom: 12px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}
.shop_product_header a:hover,.shop_product_header button:hover{
    margin-right: 12px;
    margin-bottom: 12px;
    color: white;
}
.shop_product_header a{
    background-color: #3cb878 ;
    color: white;
}
.shop_product_info_divider{
    display: block;
    height: 2px;
    background: #3f444a;
    margin: 20px 0;
    position: relative;
}
.shop_product_info_divider > i{
    padding: 0;

    top: -6px;
    background: #3f444a;
    border-radius: 14px;
    position: absolute;
    color: #3f444a;
    left: 50%;
    display: inline-block;

    text-align: center;

    font-size: 14px;
    vertical-align: middle;
}
.shop_product_info_variant p{
    text-transform: uppercase;
    font-weight: 600;
    color: #5c6873;
}
.shop_product_info_variant p span{
    color: #eb5d68 ;
}
.shop_product_info_mobile{
    display: none;
    margin-top: 20px;
}
.shop_product_post{
    text-align: center;
    margin-top: 20px;
}

.shop_product_post img {
    width: auto !important;
    max-width: 70%;
    margin: 15px auto;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
@media (max-width: 991px){
    .shop_product_info_mobile {
        display: block;
    }
    .shop_product_info_desktop {
        display: none;
    }
    .shop_product_price div,.shop_product_header p{
        font-size: 26px;
    }
    .shop_product_info_mobile img{
        width: 100%;
        padding: 4px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }
    .shop_product_header a, .shop_product_header button{
        font-size: 14px;
    }

}
@media (max-width: 768px){
    .shop_product_post img {
        width: 100%;
        max-width: 100%;

    }
}
.shop_product_another{
    margin-top: 30px;
}
.shop_product_another_title{
    font-size: 30px;
    color: #505050;
    font-weight: 600;
    text-align: center;
}
.shop_product_another_line{
    width: 80px;
    height: 3px;
    background-color: #32c5d2;
    margin: 0 auto 30px auto;
}
