
.minigame-swiper{
    padding-right: 8px;
}
.minigame-button-swiper .swiper-button-next,.minigame-button-swiper .swiper-button-prev{
    position: inherit !important;
    background: #F3F3F7;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    padding: 0;
    margin: auto 4px ;
    text-align: center;

}
.minigame-button-swiper .swiper-button-next img,.minigame-button-swiper .swiper-button-prev img{
   padding-top: 4px;
}
.minigame-button-swiper .swiper-button-next.swiper-button-disabled,.minigame-button-swiper .swiper-button-prev.swiper-button-disabled {
    opacity: .6;

}


.search-active {
    display: none;
}

.search-active .search-input_out{
    opacity: 1;
    background-color: white;
    width: 100%;
    /*height: 100%;*/

    z-index: 2000;

}

.search-active .search-input_out_nav{
    opacity: 1;
    background-color: white;
    z-index: 2000;
    padding: 10px 10px 10px 40px;
    margin: auto 10px;
    position: relative;

}
.input-search{
    position: absolute;
    left: 40px;
    top: 10px;

}
.input-search::placeholder{
    color: #A7ABC3;
}
.search-active .search-input_in{
    opacity: 1;
    width: 100%;
    height: 36px;
    z-index: 2000;


    border-bottom: 1px solid #DCDEE9;
}
.search-active .search-input_in_content{
    opacity: 1;
    /*margin-top: 16px;*/
    display: block;
    /*overflow-y: scroll;*/
    /*    height: 100%;*/
}


.search-active .search-input {
    opacity: 1;
    transform: none;
    pointer-events: all;
}
.search-active .icon-search-close {
    opacity: 1;
    /*transform: rotate(-90deg);*/
}
.search-active .icon-delete {
    opacity: 100%;
    /*transform: rotate(-90deg);*/
}


/* Close Icon */
.icon-search-close {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: black;
    cursor: pointer;
    font-size: 16px;

    transition: all 0.3s ease-in-out;
    z-index: 1;
}
.icon-search {
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    color: black;
    cursor: pointer;
    font-size: 16px;

    transition: all 0.3s ease-in-out;
    background: transparent;
    border: none;
}
.icon-delete{
    position: fixed;
    top: 17px;
    right: 17px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    opacity: 0;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}


/* Search Input */
.search-active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 99999;

}
.search-input {
    height: 80px;
    position: absolute;
    top: 5px;
    left: 0;
    /*margin-top: -45px;*/
    pointer-events: none;
    opacity: 0;
    transform: translate(40px, 0);
    transition: all 0.3s ease-in-out;
    width: 72%;
}
.search-input input {
    color: var(--text-black-color);
    font-size: 16px;
    border: 0;
    /*margin-top: 60px;*/
    -webkit-appearance: none;
    box-sizing: border-box;
    outline: 0;
    font-weight: 200;
    width: 100%;
}
.search-input ::-webkit-input-placeholder {
    color: black;
    opacity: 50%;
}
.search-input :-moz-placeholder {
    color: white;
    opacity: 50%;
}
.search-input ::-moz-placeholder {
    color: white;
    opacity: 50%;
}
.search-input :-ms-input-placeholder {
    color: #2A2A2A;
    opacity: 50%;
}

.search-input_in_content{
    opacity: 0;
    display: none;
    overflow-y: scroll;
    height: 88%;
}
.search-input_in_content span{
    color: whitesmoke;
    opacity: 50%;
}
.search-item a{
    padding: 12px 16px;

}
.search-item a:hover{
    background: #F3F3F7;
}
.search-name{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: var(--primary-text);

}
.search-show-more{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: var(--primary-color);
}
.nav-overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0,0,0,0.3);
    display: none;
    animation: fadeIn linear 0.3s;
}
