
.minigame-swiper{
    padding-right: 8px;
}
.minigame-button-swiper .swiper-button-next,.minigame-button-swiper .swiper-button-prev{
    position: inherit !important;
    background: #F3F3F7;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    padding: 0;
    margin: auto 4px ;
    text-align: center;

}
.minigame-button-swiper .swiper-button-next img,.minigame-button-swiper .swiper-button-prev img{
   padding-top: 4px;
}
.minigame-button-swiper .swiper-button-next.swiper-button-disabled,.minigame-button-swiper .swiper-button-prev.swiper-button-disabled {
    opacity: .6;

}


.search-active {
    display: none;
}

.search-active .search-input_out{
    opacity: 1;
    background-color: white;
    width: 100%;
    /*height: 100%;*/

    z-index: 2000;

}

.search-active .search-input_out_nav{
    opacity: 1;
    background-color: white;
    z-index: 2000;
    padding: 10px 10px 10px 40px;
    margin: auto 10px;
    position: relative;

}
.input-search{
    position: absolute;
    left: 40px;
    top: 10px;

}
.input-search::placeholder{
    color: #A7ABC3;
}
.search-active .search-input_in{
    opacity: 1;
    width: 100%;
    height: 36px;
    z-index: 2000;


    border-bottom: 1px solid #DCDEE9;
}
.search-active .search-input_in_content{
    opacity: 1;
    /*margin-top: 16px;*/
    display: block;
    /*overflow-y: scroll;*/
    /*    height: 100%;*/
}


.search-active .search-input {
    opacity: 1;
    transform: none;
    pointer-events: all;
}
.search-active .icon-search-close {
    opacity: 1;
    /*transform: rotate(-90deg);*/
}
.search-active .icon-delete {
    opacity: 100%;
    /*transform: rotate(-90deg);*/
}


/* Close Icon */
.icon-search-close {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: black;
    cursor: pointer;
    font-size: 16px;

    transition: all 0.3s ease-in-out;
    z-index: 1;
}
.icon-search {
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    color: black;
    cursor: pointer;
    font-size: 16px;

    transition: all 0.3s ease-in-out;
    background: transparent;
    border: none;
}
.icon-delete{
    position: fixed;
    top: 17px;
    right: 17px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    opacity: 0;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}


/* Search Input */
.search-active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 99999;

}
.search-input {
    height: 80px;
    position: absolute;
    top: 5px;
    left: 0;
    /*margin-top: -45px;*/
    pointer-events: none;
    opacity: 0;
    transform: translate(40px, 0);
    transition: all 0.3s ease-in-out;
    width: 72%;
}
.search-input input {
    color: var(--text-black-color);
    font-size: 16px;
    border: 0;
    /*margin-top: 60px;*/
    -webkit-appearance: none;
    box-sizing: border-box;
    outline: 0;
    font-weight: 200;
    width: 100%;
}
.search-input ::-webkit-input-placeholder {
    color: black;
    opacity: 50%;
}
.search-input :-moz-placeholder {
    color: white;
    opacity: 50%;
}
.search-input ::-moz-placeholder {
    color: white;
    opacity: 50%;
}
.search-input :-ms-input-placeholder {
    color: #2A2A2A;
    opacity: 50%;
}

.search-input_in_content{
    opacity: 0;
    display: none;
    overflow-y: scroll;
    height: 88%;
}
.search-input_in_content span{
    color: whitesmoke;
    opacity: 50%;
}
.search-item a{
    padding: 12px 16px;

}
.search-item a:hover{
    background: #F3F3F7;
}
.search-name{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: var(--primary-text);

}
.search-show-more{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: var(--primary-color);
}
.nav-overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0,0,0,0.3);
    display: none;
    animation: fadeIn linear 0.3s;
}
.menu-fix-theme .item-about-title{
    margin-left: 8px;
}
.menu-fix-theme .item-about {
    margin: 0 10px;

}
.box-search .search-theme.group-input{
    width: 341px;
}


/*NOTE*/
@media (min-width: 1200px){
    #accDetail .modal-dialog {
        max-width: 1240px;
    }
}

#accDetail .modal-header-order-ct{
    border-bottom: 1px solid #E4E5F0 !important;
    padding: 16px 16px 16px 0 ;
}
#accDetail .modal-header-order-ct span{
    font-size: 16px;
}
.acc-holder{
    position: relative;
}
.acc-holder::-webkit-scrollbar {
    display: none;
}

/* Hide the images by default */
.acc-holder_slides {
    display: none;
    /* max-width: 1000px; */
    /* width: 100%;
    flex-shrink: 0;
    height: 100%; */
}


.acc-holder_slides img {
    width: 100%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 600px) {
    .prevContainer,
    .nextContainer {
        display: none;
        visibility: hidden;
    }
}

.prevAccount,
.nextAccount {
    position: absolute;
    background-color: #FBFBFD;
    width: 32px;
    height: 32px;
    background-image: none;
    opacity: 1;
    border-radius: 4px;
    display: flex;
    padding: 4px;
    top: 50%;
    transform: translateY(-50%);
    /* background-image: url(./assets/frontend/theme_3/image/swiper-prev.svg) !important; */
    cursor: pointer;
    transition: .2s;
}

.prevAccount {
    left: 12px;
}

.prevAccount:hover,.nextAccount:hover{
    opacity: .8;
    transition: .2s;
}

/*.prev {*/
/*    position: relative;*/
/*    top: 50%;*/
/*    transform: translate(0, -50%);*/
/*    height: 34px;*/
/*    width: 32px;*/
/*    float: left;*/
/*    margin-left: 12px*/
/*}*/

/*.prev svg,*/
/*.next svg {*/
/*    fill: white;*/
/*}*/

.nextAccount {

    right: 12px;

}

/*.next {*/
/*    position: relative;*/
/*    top: 50%;*/
/*    transform: translate(0, -50%);*/
/*    height: 34px;*/
/*    width: 32px;*/
/*    float: right;*/
/*    margin-right: 12px;*/
/*}*/

/* Container for image text */
.caption-container {
    text-align: left;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.acc-thumbnail:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.acc-thumbnail_column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumbnail images */


.acc-thumbnail_column,.acc-holder_slides{
    position: relative;
}
.acc-holder_badge,.acc-thumbnail_badge{
    position: absolute;
}
.acc-holder_slides img{
    width: 660px;
}
.acc-holder_slides img{
    border-radius: 4px;
}
.acc-holder_badge{
    width: 64px;
    height: 28px;
    right: 4px;
    bottom: 4px;
    background: var(--primary-color);
    border-radius: 4px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 28px;
}
.acc-thumbnail_badge{
    background: #434657;
    width: 32px;
    height: 28px;
    right: 7px;
    bottom: 2px;
    border-radius: 4px 0 0 0;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;

}
.acc-thumbnail-image{
    border-radius: 4px;
}

.acc-thumbnail-image {
    width: 100%;
    border: 2px solid #434657;
    cursor: pointer;
}
.acc-thumbnail .active .acc-thumbnail-image,
.acc-thumbnail .acc-thumbnail-image:hover {
    border: 2px solid var(--primary-color);
    transition: .2s;
}
.acc-thumbnail .active .acc-thumbnail_badge{
    background: var(--primary-color);
}
.acc-thumbnail{
    max-height: 400px;
    overflow-y: scroll;
}

.acc-thumbnail::-webkit-scrollbar {
    width: 8px;
}

.acc-thumbnail::-webkit-scrollbar-thumb {
    background: #E4E5F0;
    border-radius: 100px;
    border: none;
}

.acc-thumbnail::-webkit-scrollbar-track {
    background: transparent;
}



.gallery-thumbs .swiper-slide-active:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    opacity: .4;
    z-index: 1;
}

.gallery-thumbs-mobile .swiper-slide-active:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    opacity: .4;
    z-index: 1;
}

.fancybox__thumbs .carousel__slide .fancybox__thumb::after{
    border: 5px solid var(--primary-color);
}
.gallery-slider .swiper-slide,.gallery-thumbs .swiper-slide,.acc-thumbnail_badge{
    cursor: pointer;
}
.acc-holder_expand{
    position: absolute;
    right: 12px;
    top: 12px;
cursor: pointer;
    transition: .2s;
    transform: scale(0.85);
    background: #FBFBFE;
    padding: 6px;
    border-radius: 4px;
    border: none;
}
/*.acc-holder_expand img{*/
/*    width: 32px;*/

/*}*/
.acc-holder_slides:hover .acc-holder_expand {
    transform: scale(1);
    transition: .3s;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
}
.acc-holder_slides:hover .__icon__profile.--link--acc {
    filter: var(--filter-primary-color);
    transition: .2s;
}
.acc-holder_slides a .__icon__profile.--link--acc {
    /*filter: var(--filter-primary-color);*/
    transition: .2s;
    display: block;
}
.acc-holder_expand .__icon__profile.--sm__profile {
    width: 20px;
    height: 20px;
}
