#profile{
    padding: 50px 0px 0px 0px;
    /* margin-top: 30px; */
}
#profile h3{
    color: #2F6A7C;
    font-weight: bold;
}
#profile hr.lines {
    margin-top: 0px;
    margin-bottom: 20px;
    width: 50px;
    float: left;
    border-top: 4px solid #2F6A7C;
    height: 0;
    overflow: visible;
}
#modal_password button{
    font-family: 'Nunito', sans-serif ;
}
#m_ver_menu{
    height: auto !important;
}

.profile-menu{
    background-color: #F9FAFC;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--open>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--open>.m-menu__link .m-menu__link-text{
    color: #2F6A7C;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text{
    color: #2F6A7C;
    font-size: 16px;
    font-weight: 700;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__link .m-menu__link-text{
    color: #2F6A7C;
    font-size: 14px;
    font-weight: 500;
}
.m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__link .m-menu__link-text:hover{
    color: #000;
}

#profile .btn-password{
    margin-left: 30px;
    height: 30px;
    line-height: 5px;
    font-size: 11px;
}
.form-search{

    margin-bottom: 30px;
    clear: left;
}
#content-cart a{
    font-weight: bold;
    color: #2F6A7C;
}
#content-cart .active{
    color: #fff;
}
#content-cart table{
    background-color: #F9FAFC;
    color: #2F6A7C;
}
#content-cart table thead th{
    font-weight: bold;
    font-size: 16px;
}
#content-cart span.item-active{
    color: #2F6A7C;
    font-size: 16px;
    font-weight: bold;
}
.profile-menu li.m-menu__item.item-menu span{
    font-weight: normal !important;
}

@media (max-width: 991.98px) {
    .profile-menu{
        margin-bottom: 30px;
    }
}

#recharge_card li.nav-item{
    background: #F9FAFC;
    border:1px solid #ebedf2;
    border-radius: 5px;
}
#recharge_card button{
    font-family: 'Nunito', sans-serif ;
}
h5#exampleModalLabel{
    font-weight: bold;
    font-size: 16px;
    color: #2F6A7C;
}
h3.title-pay{
    font-weight: bold;
    font-size: 16px;
    color: #2F6A7C;
}
h3.title-pay span{
    color: #FB236A;
}

#recharge_card .note-content{
    font-weight: bold;
    font-size: 14px;
    color: #2F6A7C;
}
table .text-aleart{
    font-weight: bold !important;
}
table #pay-history-cart{
    font-weight: bold;
}
#profile form{
    clear: left;
}
#details-cart{
    font-weight: bold;
}
#deposit-table{
    font-weight: bold;
}
