/* slider index */
.text-slider{
    margin-bottom: 1.25rem;
    background: #F3F3F7;
    border-radius: 8px;
    position: absolute;
    top: 150px;
    z-index: 99;
    margin-top: 12px;
    left: 617px;
}
@media (max-width: 767px) {
    .text-slider{
        right: 36px;
        left: 36px;
    }
}
.img-text-slider{
    position: absolute;
    top: 25%;
    left: 2%;
}
.text-item{
    display: inline-block;
    margin-bottom: 0;
    margin-right: 8px;
    font-weight: 600;
    font-size: 14px;
    color: #F67600;
}
.content-text{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    color: #434657;
}
/* marquee */
.marquee-item{
    display: inline-block;
    width: 616px;
    margin-bottom: -14px
}
.marquee-move{
    display: block;
    padding: 8px 0;
    margin-left: 3.2rem;
}
/* end marquee */
@media (max-width: 767px) {
    .text-buy-card{
        padding-right: 332px !important;
    }
}

@media (max-width: 767px) {
    .text-slider-mobile{
        top: 58px;
    }
}
/* service */
.text-content-service{
    padding-left: 8px;
}

.item-service-image img {
    height: 129px;
    border-radius: 8px;
}
.item-product__box-content .item-service__box-name{
    text-align:center ;
}
.item-service-image{
    height: 132px;
}
@media (max-width: 767px) {
    .item-service-image{
        height: 102px;
        border-radius: 8px;
    }
}
/* end service */
